[2018-03-24 19:10] jogu commented on #7542
Thank you @paulb777 ! It seems that patch solves the issue in my 'real' app too (though I can't be absolutely 100% sure until I solve all the other issues...).

I agree it's not a regression. I presume it makes sense to close this issue then, given Paul has opened a new issue to track it in the firebase repo. (If there's a reason to keep it open, please feel free to reopen!)

[2018-03-24 19:10] #7542 closed

[2018-03-24 19:10] jogu commented on #7543
The "youtube-ios-player-helper" pod seems to fail in the same way.

[2018-03-24 19:25] dnkoutso commented on #7543
@jogu I think you are hitting errors from pods who need to be updated correctly.

Will be trying out FBSDKLoginKit myself though first to confirm the above statement.

[2018-03-25 03:14] dnkoutso commented on #7434
PR https://github.com/CocoaPods/CocoaPods/pull/7544

[2018-03-25 07:25] dnkoutso commented on #7446
Will debug and figure this out for 1.6.0.

[2018-03-25 11:40] mfclarke commented on #6159
Hey @dnkoutso, in our case all our xcasset bundles contain assets with the same names (just different image content). So in the end the fix for us was ensuring `[CP] Copy Pods Resources` happens before the regular `Copy Bundle Resources` phase, so the correct ones overwrite whatever ones cocoapods has copied in already.

I don't have a sample app handy sorry.

[2018-03-26 02:34] fanxiaocong commented on #6449
I have a similar problem. When I rely on other third party libraries in the podspec file and execute 'pod repo push MyPrivateRepo XXX.podspec'， The following error occurred:
[!] Unable to add a source with url `` named `-1`.
You can try adding it manually in `~/.cocoapods/repos` or via `pod repo add`.

But if do not rely on other third party libraries, It works。What should I do? Thanks!

[2018-03-26 03:34] pmiotto opened #7545 "Cocoapods.org site searches not working"
# Report

## What did you do?
Go to cocoapods.org and search for a package

## What did you expect to happen?
A search result to appear

## What happened instead?
Nothing

## CocoaPods Environment
Website

## Project that demonstrates the issue
Console shows that the request to https://aws-search.cocoapods.org/api/v1/pods.picky.hash.json?query=a&ids=20&offset=0&sort=quality does not finish

[2018-03-26 09:12] MartinSchultz commented on #7545
Same here, doesn't work since a couple of days.

[2018-03-26 13:44] hydro0 opened #7546 "Can not strip the frameworks with single quote in the name"
# Report

## What did you do?

Build project that contains single quotes `'` in its name and uses `CocoaPods`.

## What did you expect to happen?

Successful build.

## What happened instead?

The build was failed in the `Run Script` phase, script name `$PROJECT_NAME-frameworks.sh`.

## CocoaPods Environment

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

### Podfile

[co

[2018-03-26 14:50] segiddins commented on #7546
- Seems like we may want to `shellescape` the strings we interpolate into build script phases

[2018-03-26 16:13] segiddins commented on #7446
I think this is intentional, since you have `inherit! :search_paths` set for the nested target. if you want the frameworks/resources to be linked against that target directly, you'll need to remove that line

[2018-03-26 16:19] segiddins commented on #7545
It looks like we're getting 504s. @DanToml do we need to restart aws-search ?

[2018-03-26 16:25] DanToml commented on #7545
@segiddins Judging by the memory graphs in EC2 things look weird, I'll ssh into a box and take a look at logs tonight.

I think I remember seeing a db maintenance email from heroku recently, so maybe some creds got rolled.

[2018-03-26 16:25] knightcode commented on #7446
Thanks... that worked for the frameworks!

But `install_resource` is still missing for FooUI's resource bundle

[2018-03-26 16:37] knightcode commented on #7530
cool. ...Will I need to have a fully specified Info.plist or is one containing the single property enough? (fingers crossed for the latter)

[2018-03-26 16:39] dnkoutso commented on #7446
@knightcode I do not think bundles support embedding frameworks. At least not in cocoapods perspective

[2018-03-26 16:39] dnkoutso commented on #7530
depends if Xcode accepts it. You might be OK but I cannot guarantee that as I do not know.

[2018-03-26 17:10] GratePic opened #7547 "Site Search isn't working"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace these two lines with what you expected to happen.
e.g. Install all pod

[2018-03-26 17:12] orta commented on #7547
Dupe of #7545

[2018-03-26 17:12] #7547 closed

[2018-03-26 19:07] hanshuaiLoopeer opened #7550 "the copy resources shell script copied all Asset.xcassets, including these in PODS_ROOT path"
in copy_resources_script.rb

[code]
`if [[ $line != "${PODS_ROOT}*" ]]; then` maybe wrong. It always fail.
Maybe it should be `if [[ $line != ${PODS_ROOT}* ]]; then`

`$line != "${PODS_ROOT}*"` and `$line != ${PODS_ROOT}*` is different in shell script

[2018-03-26 19:09] dnkoutso commented on #7550
Dup of https://github.com/CocoaPods/CocoaPods/issues/6159

[2018-03-26 19:09] dnkoutso commented on #7550
Please respond there with ideas and comments

[2018-03-26 19:25] hanshuaiLoopeer commented on #7550
I mean，is there any spell error in `if [[ $line != "${PODS_ROOT}*" ]]; then`?
It seems this line does not make sense, it always fail.

[2018-03-26 19:44] dnkoutso commented on #7550
@hanshuaiLoopeer not sure i understand, is this an issue you have that xcassets are *not* copied or that *all* of them are copied (in this case the same as #6159)

Can you please upload a sample app demonstrating the issue? Then I can re-open this.

[2018-03-27 03:15] xingheng commented on #7486
I resolved it as fixed with the following post_install hook code temporarily.

[code]

[2018-03-27 03:39] dnkoutso commented on #7486
will do for now but I will fix it for 1.5.0

[2018-03-27 03:59] xingheng commented on #7486
Thanks @dnkoutso , I think the right fix is to read the region value from the main app target's `Info.plist` and set it to all the dependent pods' resource bundles, it seems all the Info.plist's name have a format like `ResourceBundle-<PODNAME>-Info.plist` from the static library, the framework bundles have a config file named `Info.plist` within it, too.  Just a reminder. :)

[2018-03-27 04:20] dnkoutso commented on #7486
@xingheng would be awesome if you can open a PR for it! I think if you learn the project you can make great improvements :)

[2018-03-27 05:10] dnkoutso commented on #6884
still on

[2018-03-27 05:27] hanshuaiLoopeer commented on #7550
This case is similar but not the same as #6159

My pod file like this
[code]
as #6159, members in target should like this

Target | Members
----|------
Target1 | Target1.xcassets, Target2.xcassets, Target1Module.xcassets
Target2 | Target1.xcassets, Target2.xcassets, Target2Module.xcassets

but, in fact, we get this

Target | Members
----|------
Target1 | Target1.xcassets, Target2.xcassets, Target1

[2018-03-27 06:41] marcelvoss commented on #5385
It isn't fixed and still happening to us. We ran into the exact same issue during UI tests. @DanToml

[2018-03-27 07:29] dnkoutso commented on #5385
@marcelvoss this is a rather old issue with CocoaPods 1.0.0 version reported. Please file a new issue using the template and hopefully a sample app that makes it easier for us to debug it and fix it.

[2018-03-27 10:10] mll commented on #2795
+1

[2018-03-27 13:56] ZeRoB commented on #3985
In the `.podspec` file, above the line:
`s.dependency ...`
Add:
`s.static_framework = true`

when using CocoaPods version 1.4.0 and above and everything should work fine!

[2018-03-27 14:06] alexanderathan commented on #7545
Bump. Same for me.

[2018-03-27 18:18] antonioreyna commented on #7545
search not working today either :(

[2018-03-27 21:18] vagautham commented on #7545
Tried it today. Not working yet

[2018-03-27 21:43] orta commented on #7545
I'm gonna lock this for +1s until @DanToml can get some time to look at it

[2018-03-27 21:45] DanToml commented on #7545
Taking a look into this now, I didn't have the ssh key for those hosts on my laptop.

[2018-03-27 23:01] DanToml commented on #7545
I just tried rebooting the containers - They'll probably take a little while to reindex, so I'll check in on them in the morning. Heading to 💤 now.

[2018-03-28 04:20] Coeur commented on #6899
@dnkoutso Can you clarify in your blog that it WASN'T actually released with 1.4.0?
http://blog.cocoapods.org/CocoaPods-1.4.0/

[2018-03-28 07:23] stevenp commented on #5678
This issue appears to have resurfaced with 1.5.0.beta.1. I've attached two sample projects with the same configuration, one built using 1.4.0, and the other built using 1.5.0.beta.1. As you'll see, the IBDesignable failure only exists in the project built with 1.5.0.beta.1.

[IBFailure-1.4.0.zip](https://github.com/CocoaPods/CocoaPods/files/1854921/IBFailure-1.4.0.zip)
[IBFailure-1.5.0.beta.1.zip]

[2018-03-28 08:48] mrgrauel commented on #7195
I have the use case that I'd like to link the full library to the main application, but extensions do not need the full library. Extensions handle single or a few use cases and a full library could be a lot of overhead.

[2018-03-28 08:52] kacper1703 commented on #6899
That's weird because after updating to 1.4.0 my project build time has reduced from ~5min to ~40s 😵 Is that placebo?

[2018-03-28 08:58] khetaram opened #7552 "https://cocoapods.org/ Anything Search text not working. Its 504 error"

[2018-03-28 09:20] 515783034 commented on #6585
pod trunk me. it works.
it's just amazing!!!!

[2018-03-28 09:26] sisoje commented on #6651
@samdmarshall maybe try to understand better what @paulb777 is talking about because he is totally right

[2018-03-28 10:40] Arc-lin opened #7553 "You are not allowed to push new versions for this pod."
Hello~
I have create a lib last year, but I use my company's email `arclin@dankal.cn` by mistake,  now I am leaving the company, so my email could not be used, how could I change the pod's owner to 'm13643046965@163.com' my new email

pod's github address is https://github.com/Arc-lin/ALCalendarPicker

[2018-03-28 10:43] torarnv opened #7554 "spec.vendored_frameworks = '../Foo.framework' does not work"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

`spec.vendored_frameworks = '../Foo.framework'` fails, as the final `xcconfig` is missing the right `FRAMEWORK_SEARCH_PATHS` to look up the framework.

It should be possible to reference a relative framework paths, so t

[2018-03-28 10:57] segiddins commented on #6651
@sisoje that comment is completely uncalled for

[2018-03-28 10:58] segiddins commented on #7554
Please upload a sample project that demonstrates the issue, as requested in the issue template.

[2018-03-28 11:08] torarnv commented on #7554
[cocoapods-reproducer.zip](https://github.com/CocoaPods/CocoaPods/files/1855676/cocoapods-reproducer.zip)

[2018-03-28 13:18] torarnv commented on #7554
An alternative here would be to allow `:file` in `spec.source`, so that `pod 'Foo', :path => '/tmp/myspecs'` would allow `/tmp/myspecs/Foo.podspec` to point to `/tmp/myframeworks`

[2018-03-28 13:21] torarnv commented on #7554
Allowing `:file` in `spec.source` would also fit nicely with allowing `source '/tmp/myspecs`. The latter works today somewhat, using `source 'file:///tmp/myspecs'`, but that path needs to be a git repository, which makes it awkward to work with for a local spec repository during development, and also tricky to provide something like https://bugreports.qt.io/browse/QTBUG-42933

[2018-03-28 13:35] torarnv commented on #7554
Are there existing issues for allowing `:file` in `spec.source`, and allowing local non-git paths in `source`?

[2018-03-28 13:55] revolter commented on #2847
I noticed that CocoaPods modified the `Pods-Target-frameworks.sh` to include:

[code]

where it installs the same `.framework`. But it looks like it could also install a different `.framework` depending on the main app's configuration somehow, but I can't find a way to create the `.podspec` in order to achieve this.

[2018-03-28 14:55] ejosephwilson commented on #7552
Getting same error. Screenshot attached
![image](https://user-images.githubusercontent.com/18560418/38037264-17a1dd52-326e-11e8-8a94-ef31664997d2.png)

[2018-03-28 15:43] dnkoutso commented on #7552
Dup https://github.com/CocoaPods/CocoaPods/issues/7545

[2018-03-28 15:43] #7552 closed

[2018-03-28 15:47] dnkoutso commented on #7553
Please use the dispute system to re-claim the pod https://trunk.cocoapods.org/claims/new

[2018-03-28 15:47] #7553 closed

[2018-03-28 15:48] #7535 closed

[2018-03-28 16:41] knightcode commented on #7446
@dnkoutso  I updated the repo at https://github.com/knightcode/PodFail to remove `inherit! :search_paths` and both `Pods-App-resources.sh` and `Pods-AppBeta-resources.sh` have the lines for `install_resource "${PODS_CONFIGURATION_BUILD_DIR}/FooUI/FooAsset.bundle"` (in addition to the frameworks)

However, for my actual project, neither `pod install` nor `pod update` generates those lines in either

[2018-03-28 16:46] segiddins commented on #7554
No, that is not something that CocoaPods will support

[2018-03-28 16:50] segiddins commented on #7554
You can't specify any file patterns that live above the podspec, directory-wise.

Running `pod lib lint` gives the following error:

[code]

[2018-03-28 16:51] dnkoutso commented on #7554
The podspec must be at the root of the repo, AFAIK the only way `../Foo.framework` would work is when consumers of your pod use it using `:path` directive (i.e for local development)

[2018-03-28 16:51] dnkoutso commented on #7554
@torarnv I am going to close this issue, please feel free to comment further here and see if there is anything we can add to the library I can re-open.

[2018-03-28 16:52] torarnv commented on #7554
I know, that's what I'm reporting as the issue :)

[2018-03-28 16:57] torarnv commented on #7554
@dnkoutso See https://bugreports.qt.io/browse/QTBUG-42933 for reference.

The use-case is that I'd like to add CocoaPods support to Qt, so that you can depend on Qt using CocoaPods. But most developers get their Qt libraries from:

1.  Building Qt locally, e.g. during development of Qt
2. Installing from the Qt binary installer
3. Via Homebrew

In all of these you end up with a local installation

[2018-03-28 17:34] dnkoutso commented on #7554
You can place the podspec in the root of your folder as per requirement by CocoaPods (predates me).

The only two ways supported in which the podspec does not live in the root of the repo is by using  `:path` or `:podspec` directory in your `Podfile`.

I haven't tried `:podspec` but I know for a fact `:path` works.

Like so:
[code]

Does this work for you?

[2018-03-28 18:41] Recouse opened #7555 "Error on pod trunk push"
### Command

[code]

### Report

* What did you do?
Pushed my pod

* What did you expect to happen?
Push

* What happened instead?
Got an error: [!] Oh no, an error occurred.

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2018-03-28 18:42] dnkoutso commented on #7555
The error clearly shows what the problem is.

Please also use StackOverflow under `cocoapods` tags for these questions.

Probably need to `chmod` the `.netrc` file.

[2018-03-28 18:42] #7555 closed

[2018-03-28 18:42] #7554 closed

[2018-03-28 18:44] Recouse commented on #7555
Oh, sorry. Thank you.

[2018-03-28 23:43] amorde commented on #7446
@knightcode Can you try running `pod deintegrate` followed by `pod install` and see if that fixes the issue?

[2018-03-29 07:46] mll commented on #2795
This helps: https://stackoverflow.com/questions/38993527/cocoapods-failed-to-connect-to-github-to-update-the-cocoapods-specs-specs-repo

[2018-03-29 09:14] appmagnetics commented on #6159
Confirm still having this issue.

[2018-03-29 09:17] appmagnetics commented on #6159
@almsta your link to a workaround does not work, can you explain the idea behind?

[2018-03-29 12:01] #6848 closed

[2018-03-29 12:28] almsta commented on #6159
@appmagnetics the mentioned linked contained the following, added to your Podfile:

[code]

[2018-03-29 12:44] avi-kik opened #7556 "Subspec module_name support"
* [x ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

`pod lib lint --allow-warnings`

## What did you expect to happen?

Successfully lint podspec.

## What happened instead?

Received an error:
[code]

## CocoaPods Environment

### Stack

[code]

##

[2018-03-29 13:18] appmagnetics commented on #6159
@almsta thanks a lot. Can you explain a bit what happens in your code snippet? You are running copy resources script with the explicit list of files? But what happens with the original copy files script which is installed by CocoaPods - will they get overwritten?

[2018-03-29 14:19] simformsolutions opened #7557 "You are not allowed to push new versions for this pod."
We have created one social login pod which is dependent on FacebookLoginKit, So we have mention dependency like
`  s.dependency 'FBSDKLoginKit'`

but while publishing we got error like

**You (reg@simform.in) are not allowed to push new versions for this pod. The owners of this pod are nlutsenko@me.com and cocoapods@fb.com.**

Please help.

[2018-03-29 14:32] appmagnetics commented on #6159
@almsta I've compared the original and "fixed" script and I see how it works now, thanks!

[2018-03-29 15:07] paulb777 commented on #7556
I believe this is correct functionality. Subspecs choose what gets built into a particular pod/library/module.  If multiple subspecs are chosen, they're consolidated into one pod/library/module, so it does not make sense to be able to set a module_name on an individual subspec.

[2018-03-29 15:39] orta commented on #7557
Please use the trunk dispute system for this - https://trunk.cocoapods.org/claims/new

[2018-03-29 15:39] #7557 closed

[2018-03-29 15:52] dnkoutso commented on #7556
That is correct. The way things are modeled currently subspecs all merge into a top level target named after the root one and do not create a separate target.

There are no plans to change this at the moment, sorry.

[2018-03-29 15:52] #7556 closed

[2018-03-29 16:55] benasher44 opened #7558 "Test target with inherit! :search_paths missing framework search paths"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I updated our project to use proper target inheritance; in doing this, I used `inherit! :search_paths` for the test target.

## What did you expect to happen?

I expected the project to build succes

[2018-03-29 16:59] benasher44 commented on #7558
I also noticed that when I remove `inherit! :search_paths`, the pods test target xcconfigs get properly scoped under the abstract_target (i.e. they have names like Pods-AbstractTarget-TestTarget). I would only expect the scoping to go away with `inherit! :none`, but maybe this could be a fundamental misunderstanding on my part. It's been awhile 😉

All of this behavior is demonstrated in the attach

[2018-03-29 17:15] knightcode commented on #7446
@amorde no change.

[2018-03-29 17:18] dnkoutso commented on #7558
@benasher44 its probably because there is logic that dedups what gets linked into the test target if its part of the parent target to avoid "duplicate class" warnings found when booting up the test bundle.

Havent looked at the sample yet.

[2018-03-29 17:21] benasher44 commented on #7558
Right! Avoiding the duplicate class warnings makes sense. That should be solved by ensuring that linker are not inherited. Framework search paths should still be there though.

[2018-03-29 17:24] dnkoutso commented on #7558
@benasher44 one more thing I cant open your sample I get an error that Xcode proj is not working:
![screen shot 2018-03-29 at 10 24 16 am](https://user-images.githubusercontent.com/310370/38103520-5d6c35e4-333b-11e8-93f8-84bf3a01322e.png)

[2018-03-29 17:28] dnkoutso commented on #7558
@benasher44 confirmed. Only happens when using `use_frameworks!`, works with static libs.

[2018-03-29 17:30] benasher44 commented on #7558
Ah I made the project with Xcode 9b4.3, but the same happens for Xcode 9.2. @dnkoutso want me to remake it for you, or do you feel like you have a good handle on this?

[2018-03-29 17:34] dnkoutso commented on #7558
I got it from here thanks, will need to figure out whats the bug.

[2018-03-29 17:40] benasher44 commented on #7558
Awesome. Thanks! <3

[2018-03-29 18:04] dnkoutso commented on #7558
@benasher44 yes the issue is that a target with inherit search paths does not include the abstract target as part of its targets to inherit from and therefore everything trickles down from there including the name but also the paths of frameworks...

[2018-03-29 18:36] #7534 closed

[2018-03-30 00:59] awanglilong opened #7560 "NoMethodError - undefined method `version' for nil:NilClass"
### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2018-03-30 01:03] awanglilong commented on #7560
when I run pod install,  show  [!] Unable to find a specification for `AFNetworking (~> 3.2.0)`.This problem is still in，after  I have unloaded installed several times.

[2018-03-30 01:04] dnkoutso commented on #7560
seems like a problem with your master specs repo.

What is `ls -l ~/.cocoapods/repos/master/Specs` print?

Going to close to start with as the same example works for me.

[2018-03-30 01:04] #7560 closed

[2018-03-30 01:04] dnkoutso commented on #7560
Will re-open if this appears to be an issue with the library itself.

[2018-03-30 01:05] dnkoutso commented on #7560
Also please fill in further the template with exactly what command you are executing.

[2018-03-30 01:14] awanglilong commented on #7560
ls -l ~/.cocoapods/repos/master/Specs.  print
total 0
drwxr-xr-x  19 wanglilong  staff  646  3 30 09:12 0
drwxr-xr-x  18 wanglilong  staff  612  3 30 07:37 1
drwxr-xr-x  18 wanglilong  staff  612  3 30 07:37 2
drwxr-xr-x  18 wanglilong  staff  612  3 30 07:37 3
drwxr-xr-x  18 wanglilong  staff  612  3 30 07:37 4
drwxr-xr-x  18 wanglilong  staff  612  3 30 07:37 5
drwxr-xr-x  18 wanglilong  staff

[2018-03-30 01:52] awanglilong opened #7561 "NoMethodError - undefined method `version' for nil:NilClass"
### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2018-03-30 01:53] wangjindong opened #7562 "pod update with private spec"
I don't want to update master,but can update my private spec.
Any idea for me？
tks!!!

for example：pod update --no-repo-update master
Can it be supported！！！

[2018-03-30 02:58] awanglilong commented on #7561
sudo rm -fr ~/.cocoapods/repos/master. then pod setup   many times, the problems still exist.
But,before pod setup,  delete .cocoapods folder. Now it's ok.

[2018-03-30 02:58] #7561 closed

[2018-03-30 03:14] Tzoani opened #7563 "Can't search libraries on CocoaPods web application"
Search on "https://cocoapods.org"

<img src="https://dl.dropboxusercontent.com/s/zjyd81mvstvm61q/Screen%20Shot%202561-03-30%20at%2010.09.27.png" style="width: auto; height: auto;"/>

[2018-03-30 03:14] dnkoutso commented on #7563
Dup https://github.com/CocoaPods/CocoaPods/issues/7545

[2018-03-30 03:14] #7563 closed

[2018-03-30 03:15] dnkoutso commented on #7562
There is no way to do this right now unfortunately.

The best (which is pretty bad) way to do it is mirror your public master repo dependencies in your private repo and remove the master specs repo from your `Podfile`.

Truly hope that this year we will get rid of the master specs repo entirely for CocoaPods.

[2018-03-30 03:15] #7562 closed

[2018-03-30 04:35] Jules2010 opened #7564 "Site search still not working"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
Try the cocoapods site search

## What did you expect to happen?

Return some results

## What happened instead?

A 504 timeout error could be seen in dev tools.

## CocoaPods Environment

N/A

## Pr

[2018-03-30 04:58] dnkoutso commented on #7564
Dup https://github.com/CocoaPods/CocoaPods/issues/7545

[2018-03-30 04:58] #7564 closed

[2018-03-30 06:33] intspt opened #7565 "Is there anyway to make cocoapods use cache first when I want to use the bleeding edge version of a Pod?"
Podfile
    `pod 'QQSDKStatic', :git => 'http://xxx.com/xxx/qqsdkstatic.git'`

local pod cache

pod update --no-repo-update --verbose

local pod cache after pod update

same as before
but git clone again

[2018-03-30 07:26] erinson opened #7566 "LoadError - cannot load such file -- nanaimo"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace these two lines with what you expected to happen.
e.g. Install all pod

[2018-03-30 07:28] chouchang commented on #6992
I was getting the same error.
### Stack

[code]

### Plugins

[code]

### Error

[code]

[2018-03-30 07:30] dnkoutso commented on #7566
Try `gem install nanaimo` first.

Please fill in the template and additionally use StackOverflow using `cocoapods` tag for these questions.

[2018-03-30 07:30] #7566 closed

[2018-03-30 07:47] kacper1703 commented on #7251
I got the same warning: `Target Pods-XXX product Pods_XXX cannot link framework Foundation.framework`. Using non-beta Xcode 9.3 (9E145), new build system (Preview), CocoaPods 1.4.0. Project builds and runs normally.

[2018-03-30 08:27] erinson commented on #7566
all time error

[2018-03-30 09:46] ignazioc opened #7567 "Swift code not accessible from Obj-c when static_framework is used."
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

1. `pod lib create MyStaticFramework`
2. Add a swift class and marked as `@objc`
3. Use this library from a mixed swift/objc project including those two lines
[code]
4. Convert the framework to stat

[2018-03-30 10:32] ignazioc commented on #7567
This other issue: https://github.com/CocoaPods/CocoaPods/issues/7213  is exposing the same problem, but into the other direction: using a mixed framework, but for me the problem was using a Swift framework from a mixed app.

Anyway the same fix solved also my problem, and I'm glad I solved the problem using the new `1.5.0.beta.1` release. 👏

[2018-03-30 10:32] #7567 closed

[2018-03-30 11:57] piotrros commented on #5952
If remove Swift Compiler pod install doesn't give me more warning, but the project won't compile.

[2018-03-30 12:07] msalman commented on #6899
Hey guys, as now cocoapod 1.5 beta is released so I am assuming I can have my project using both objective c libraries and as well as some swift libraries via pod, but I am not been able to find any example pod file for doing that. Can someone share a sample pod file to achieve this.

[2018-03-30 12:40] segiddins commented on #6992
`gem install xcodeproj`

[2018-03-30 13:27] ianbytchek opened #7568 "Project interdependencies for real"
I have a relatively large project with 30 targets equally split into apps, libs and tests. The hierarchy isn't overly crazy, but some libs have interdependencies between each other and final targets might include one, but not others. That's where problems begin. Imagine a [simple project](https://github.com/ianbytchek/InterPod) with targets:

[code]

Build throws `ld: framework not found ReactiveS

[2018-03-30 14:52] dnkoutso commented on #7568
AFAIK there are two paths which CocoaPods tries to perform some analysis between targets.

1) Extensions and copying targets of extensions into the app host. I do not have a lot of experience with extensions but I am fairly certain there might be a few issues there.

2) When a `target` is nested within a target in your `Podfile` this means that all dependencies of the parent should be available to

[2018-03-30 14:52] #7568 closed

[2018-03-30 14:55] dnkoutso commented on #7568
The most common case is:
[code]

[2018-03-30 14:58] dnkoutso commented on #7568
One last thing to note, CocoaPods *does not* at the moment try to be smart around figuring out which pods should actually be linked into a dynamic framework and instead will *always* link all pods to the top level target instead.

For CocoaPods 2.0 we might want to re-think this but no active plans right now.

[2018-03-30 16:00] fandyfyf opened #7569 "header_dir adds an extra folder in the Headers folder"
# Report

## What did you do?

I am trying to compile a pod with `use_modular_headers!` on 1.5.0.beta.1

The Pod has the following structure.
`Pod_A/PublicHeaders/*.h`
`Pod_A/*.{m,h}`

## What did you expect to happen?

After ran `pod _1.5.0.beta.1_ install`, I expect to see all the public headers under
`Pods/Public/Pod_A/*.h`

## What happened instead?

Instead I got an extra folder
`Pods/Public/

[2018-03-30 16:20] ianbytchek commented on #7568
Thanks for a detailed and enlightening response. That all does make sense.

My argument (more of a curiosity really) is coming from the fact that semantically parent-child approach doesn't always make sense. It assumes clear one-to-one relations between targets, like framework, framework tests, and app that uses that framework. In a simple case, like above, it works perfectly. But with 10 *project

[2018-03-30 17:11] gravy-luke commented on #7251
I also got this same issue on the released version of Xcode 9.3 (9E145), new build system (Preview), CocoaPods 1.4.0.

[2018-03-30 17:36] dnkoutso commented on #7569
The nesting is intentional for 1.5.0.beta.1 since it provides the stage for us to do modular headers correctly.

I think the right approach here is for you to remove that from your podspec.

[2018-03-30 17:41] dnkoutso commented on #7568
@ianbytchek do you mean those are "dynamic framework" targets or static library targets? I believe you can specify `target 'MyFramework'` and add pods to it. As I said in my comment above I think all of those will eventually be linked into the app that `MyFramework` depends upon.

[2018-03-30 18:22] ianbytchek commented on #7568
Some are dynamic frameworks, some are static libraries. I've figured out several ways to make everything work as required. Besides it looking monstrous I don't have any serious problems.

With this issue I want to figure out if the described approach for automatic dependency assessment is a valid idea. I'd dig into the code, but CocoaPods is huge and first I want an opinion from who's familiar wit

[2018-03-30 18:39] fandyfyf commented on #7569
Hi there, do you mean removing `s.header_dir = 'Pod_A'` ?

[2018-03-30 19:29] dnkoutso commented on #7569
What is the name of the podspec? Is it `Pod_A`?

[2018-03-30 19:32] fandyfyf commented on #7569
Yes. `Pod_A` is the name

[2018-03-30 19:33] Litlmoz commented on #7458
Running `bundle update` will install the correct version of the xcodeproj gem dependency.

[2018-03-30 19:33] Litlmoz commented on #6992
Running bundle update will install the correct version of the xcodeproj gem dependency.

[2018-03-30 19:33] dnkoutso commented on #7569
I think you can delete it then.

[2018-03-30 19:36] fandyfyf commented on #7569
Thank you!

[2018-03-30 19:37] #7569 closed

[2018-03-30 21:19] #7523 closed

[2018-03-30 21:43] mannd commented on #7251
Me too, went away with going back to standard build system.

[2018-03-30 22:34] flovilmart commented on #7251
@segiddins @dnkoutso I’d like to give this one a go. Would it be reasonable to to add a `use_new_build_system!` into the Podfile to switch between the two behaviors or should we detect the build system in the project / workspace?

[2018-03-30 23:43] tylermilner commented on #7003
Just upgraded to 1.5.0.beta.1 and my app icon is back. Thanks for the fix!

[2018-03-31 08:48] fysteven commented on #7251
I see the same problem here, too.

[2018-03-31 09:46] Coeur commented on #6899
@msalman: simply remove `use_frameworks!` from the Podfile. https://stackoverflow.com/a/49347198/1033581

[2018-03-31 10:07] Sega-Zero commented on #6899
Is it possible to mark some of pods as dynamic frameworks?

[2018-03-31 13:56] flovilmart commented on #7251
Found the culprit, I'll open the PR's soon enough: https://github.com/CocoaPods/Xcodeproj/blob/master/lib/xcodeproj/project/project_helper.rb#L63

[2018-03-31 15:35] zhuozhuo commented on #6956
Hi ivsall2012
   Have you solved the problem?

[2018-03-31 15:46] KimiChiu commented on #1866
Here's how I did:
1. remove `pod 'library'` from Podfile
2. run `pod install`
3. add `pod 'library'` back
4. run `pod install` again

[2018-03-31 19:05] veerChauhan commented on #7458
get gem install cocoapods -pre

[2018-04-01 00:31] dburc01 opened #7571 "Website Search is down"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Navigated to cocoapods.org and searched for various pods.

## What did you expect to happen?

Expected search results based on inquiry

## What happened instead?

One line shows up says
results.  Sh

[2018-04-01 00:32] DanToml commented on #7571
duplicate of https://github.com/CocoaPods/CocoaPods/issues/7545

[2018-04-01 00:32] #7571 closed

[2018-04-01 00:34] DanToml commented on #7545
I just deployed another patch which _should_ work. Just waiting for it to index.

[2018-04-01 02:54] dnkoutso commented on #7545
Its back online. Closing.

[2018-04-01 02:54] #7545 closed

[2018-04-01 07:50] twof commented on #7458
@veerChauhan should be `gem install cocoapods --pre`

[2018-04-01 11:52] meAbhishekTripathi commented on #7566
Hello Erison,

 Did you find any solution for the problem? As I have same set of errors on installation of pod for a Xcode project.

Let me know if you find any solution.

Thanks

[2018-04-01 12:10] meAbhishekTripathi commented on #7566
Hey Erison,

Seems there is problem with the version of cocoa pod for as we were using version 1.4.0 but after using command
$ [sudo] gem install cocoapods --pre

from link:
https://guides.cocoapods.org/using/getting-started.html#getting-started

worked out and it is currently working fine.

Thanks

[2018-04-01 18:08] mjwheatley commented on #5365
@gabrielafonsogoncalves did you ever get this working?  If so, could you provide some guidance?

[2018-04-02 02:15] hcri50 opened #7572 "How to uninstill please"
I am unable to install no cocoapods no more. I can not even use terminal no more. For it gives me an error. How can I unstall CocoaPods App.
So that I can use my terminal again
How will I be alerted with instructions? please. Right now I am DEAD IN THE WATER.
Unable to install Alamofire and SwiftyJSON. My two very important cocoapods.

desaeger@hcri.com

Last login: Sun Apr  1 19:00:36 on ttys000

[2018-04-02 02:19] dnkoutso commented on #7572
Update the xcodeproj gem `gem update xcodeproj`.

Please also use StackOverflow under `cocoapods` tag for these questions.

[2018-04-02 02:19] #7572 closed

[2018-04-02 02:24] dnkoutso commented on #7572
Then maybe update to cocoapods 1.5.0.beta.1? It seems your `xcodeproj` gem is out of date. You are on 1.5.3 but should go to 1.5.7.

[2018-04-02 02:25] hcri50 commented on #7572
Thank you, I will try.

[2018-04-02 10:53] #7472 closed

[2018-04-02 17:52] dnkoutso commented on #7195
@paulb777 are you OK with moving this to 1.6.0? Is there anything further actionable here?

[2018-04-02 18:05] paulb777 commented on #7195
@dnkoutso I'm blocked.  From my understanding, the requested use case is outside the scope of subspec capabilities.  I'd like someone to confirm that - and then perhaps the docs should be made clearer.

[2018-04-02 18:07] dnkoutso commented on #7195
@paulb777 sounds good, moving to 1.6.0 for now.

[2018-04-02 18:22] dnkoutso opened #7573 "Do not group test specs by type and instead create a test bundle for each test spec"
Given two test specs within a podspec, CocoaPods should create a separate test bundle for each. Right now (<= 1.5.0) CocoaPods will group everything by test type.

Today this causes problems where a test spec might need an app host while another does not. Furthermore, library authors would like to group different tests together like ViewSnapshot tests and Unit tests.

[2018-04-02 18:23] dnkoutso commented on #7573
Basically revive this https://github.com/CocoaPods/CocoaPods/pull/6981

[2018-04-02 19:10] rene-dohan commented on #6077
I manually removed some folders from file system en was in this state where pod install is not working..
`rm -rf ~/.cocoapods/repos`
fixed this, thanks.

[2018-04-02 19:51] jamiedaniel opened #7574 "Cocoapods not creating Xcode 9.3 workspace correctly"
Using CocoaPods 1.5

Using Xcode 9.3

# Report

## What did you do?

Pod init and pod install does not create the appropriate entries for the New Xcode 9.3 Workspace

## What did you expect to happen?

The correct Xcode 9.3 workspace to be created

## What happened instead?

The workspace doesn't include pods targets from he project dropdown.

## CocoaPods Environment

### Stack

[code]

## Projec

[2018-04-02 19:59] dnkoutso commented on #7574
Please provide a sample app? I have a few local projects here that work OK with the 9.3 Beta, haven't tried with the final version;.

[2018-04-02 20:14] jamiedaniel commented on #7574
Downgraded to Cocopods 1.4

[2018-04-02 20:16] segiddins commented on #7574
We need a sample project to reproduce, thank you!

[2018-04-02 20:57] orta commented on #7428
It's a nice hack IMO ;)

[2018-04-02 22:54] bryanboyko commented on #7435
Working in release 1.5.0.beta.1

@paulb777 Thanks!

[2018-04-02 22:58] dnkoutso commented on #7435
very nice to hear!

[2018-04-03 02:56] xilin commented on #2231
@jpmcglone So do I. The override cannot work now.

[2018-04-03 03:08] whitesage commented on #4294
I used `4taras4`'s method.It works ,but it take time.when the terminal was working,i cannot open xcode. when i do it,it comes "您不能打开应用程序“Xcode”，因为它正在更新。"(You cannot open the application "Xcode" because it is being updated.).so I just close the terminal,and it works then.

[2018-04-03 04:56] hyperionstudios commented on #7458
`gem update` fixed it for me after updaing xcode to the 9.3 (9E145)

[2018-04-03 04:59] KsMohit9 opened #7575 "git version issue"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace these two lines with what you expected to happen.
e.g. Install all pod

[2018-04-03 05:04] dnkoutso commented on #7575
please fill in the template

[2018-04-03 05:04] #7575 closed

[2018-04-03 07:54] sauchye commented on #7458
@twof thanks ,  it helped!

[2018-04-03 09:33] Coeur opened #7576 "NoMethodError - undefined method `map' for "Alamofire":String"
* [🌈] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

### Command

[code]

### Report

* What did you do?
First I wrote `s.dependency = '...'`, which caused an error:

               dependencies=
               dependencies.

So, I tried `s.dependencies = '...'`, which caused a big

[2018-04-03 12:38] abbeycode opened #7577 "[RFC] Support for launch arguments and environment variables in test spec schemes"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Background

I have a project that produces very verbose logging output as its unit tests run. When I run `pod lib lint` from inside a CI job, I hit the 4 MB limit and my build gets killed. It looks like the best way to defeat t

[2018-04-03 13:45] mcfarljw opened #7578 "cocoapods.org site searches still not working"
I know this was marked as fixed in #7545, but I have yet to see this start working again. Just go to the website and search `firebase` or visit the link below.

https://aws-search.cocoapods.org/api/v1/pods.picky.hash.json?query=firebase&ids=20&offset=0&sort=quality

![screen shot 2018-04-03 at 9 42 04 am](https://user-images.githubusercontent.com/4167341/38252978-82caba2c-3723-11e8-9d43-6572e32c45

[2018-04-03 14:44] segiddins commented on #7576
It should be `s.dependency ‘Alamofire’`

[2018-04-03 15:07] paulb777 opened #7579 "Improve docs to reduce confusion about static frameworks and static libraries"
There is confusion in the community about the differences between static frameworks and static libraries and what's available with 1.4.0 and 1.5.0.  An example is https://github.com/apple/swift-protobuf/issues/723 where the OP mixes up the two concepts. The podspec documentation for `static_framework` is very light.

The docs should be improved to reduce that confusion.

Part of the answer is:

he

[2018-04-03 15:15] dnkoutso commented on #7576
I guess we can do better on the error message?

[2018-04-03 15:16] dnkoutso commented on #7577
@abbeycode how is that represented in an `.xcodeproj`? I haven't seen those and not sure if there is any support yet.

[2018-04-03 15:19] dnkoutso commented on #7577
@abbeycode this:
[code]

Should work. Does there is a chance `OTHER_CFLAGS` is actually being stomped by CocoaPods as found in https://github.com/CocoaPods/CocoaPods/issues/7577

If you try another setting it works? If so I think this is a dup of #7577 and we can fix.

[2018-04-03 15:22] jamiedaniel commented on #7574
Any project created with Xcode 9.3 / swift 4.1 and then executing a 'pod init' with Cocoapopds 1.5-pre will produce this error.
I have removed cocoapods and reinstalled 1.4, rebooted and can now build the project. But the PODS are not listed as build targets in the targets dropdown.
<img width="380" alt="screen shot 2018-04-03 at 11 22 32 am" src="https://user-images.githubusercontent.com/2378140/

[2018-04-03 17:26] abbeycode commented on #7577
@dnkoutso The test spec is working fine as is. I only provided it to give context. I want the `OS_ACTIVITY_MODE` environment variable to reside in a scheme. Schemes are in `___.xcodeproj/xcshareddata/xcschemes/___.xsscheme`. Does CocoaPods have to create a scheme to run the unit tests from a test spec? Or is it able to use a default scheme?

[2018-04-03 17:28] dnkoutso commented on #7577
@abbeycode I do not think those are supported currently by CocoaPods. That is a feature request and will mark it as such.

[2018-04-03 17:57] amorde commented on #7577
I personally don't see why a Podspec should be setting an environment variable such as `OS_ACTIVITY_MODE`, as that affects the output displayed in the console when debugging. Do you have an example where this feature would be beneficial?

[2018-04-03 18:00] dnkoutso commented on #7577
I think test specs *could* use this as test specs create xcschemes so it would only be a test spec DSL

[2018-04-03 18:15] dnkoutso commented on #7578
![screen shot 2018-04-03 at 11 15 43 am](https://user-images.githubusercontent.com/310370/38267437-5e6346ec-3730-11e8-8c86-82cd5953687f.png)

Works here?

[2018-04-03 18:32] ShaneQi commented on #7115
@dnkoutso
I don't think this issue has been solved by 1.4.0.

When it comes to `pod lib lint`, only one swift version can be used for both my lib and dependencies. Didn't find a way to make `pod lib lint` use 4.1 for my lib and 3.3 for dependencies.

[2018-04-03 18:45] amorde commented on #7577
Ah I see, that makes sense

[2018-04-03 18:52] abbeycode commented on #7577
@amorde The reason I'm looking to do this is because I need a way to limit output or else Travis CI kills my builds. I would rather turn down the logging level, but the ways I tried doing that with Travis didn't work. This definitely works though, so it would be nice. I'd be open to making a PR but I'd need some guidance.

[2018-04-03 19:28] dnkoutso commented on #7577
@abbeycode this is a bit more complicated. The first step is defining the DSL and it has to be under https://github.com/CocoaPods/Core project and then we have to update this project to integrate the setting properly based on the podspec.

[2018-04-03 19:29] dnkoutso commented on #7115
@ShaneQi you cannot set the Swift version for dependencies. That is intentional. The pod author must set this up.

If the author has not set a `s.swift_version` then the one from your podspec is being used as there is no way for CocoaPods to guess which Swift version to use for your dependencies.

[2018-04-03 19:54] ShaneQi commented on #7115
I agreed that CocoaPods shouldn't guess which Swift version to user for dependencies, but there isn't a way to explicitly tell it.

I understand that authors of dependencies can use `s.swift_version`, but most libraries haven't adopted it. And old versions that are already pushed to trunk are probably won't ever be updated to adopt it.

This leads to a awkward situation that: my lib will need to u

[2018-04-03 19:55] dnkoutso commented on #7574
@jamiedaniel is there a case where these schemes are always available? I am starting to think this is not a bug?

I tried brand new project with 1.4.0 and Xcode 9.3 beta but the schemes still dont show up.

[2018-04-03 20:01] dnkoutso commented on #7115
@ShaneQi understood. I think this will become very complicated to set it up on the Validator (the thing that drives the `lint` command). It will require to make the command line invocation very complex.

More importantly, if we did offer a way for you to customize this and you manage to publish your pod by overriding the Swift version of your dependencies, it will also mean that the *consumer* of

[2018-04-03 20:03] dnkoutso commented on #7574
I do not think schemes are shared by default is what I am saying.

[2018-04-03 20:35] dnkoutso commented on #7115
@ShaneQi my pleasure! I love discussing this stuff and explaining certain decisions made in the library. Please keep bringing that stuff up!

[2018-04-03 21:01] abbeycode commented on #7577
For the DSL, I propose the following, the following, to mimic what you can configure in Xcode:

[code]

What's the usual process for proposing it and getting it reviewed before I begin the PR? Or should I try moving forward with the PR and it'll get reviewed there?

[2018-04-03 21:03] dnkoutso commented on #7577
https://github.com/CocoaPods/CocoaPods/issues/7134 check this out as a sample.

You can propose it here in this issue.

[2018-04-03 21:58] abbeycode commented on #7577
@dnkoutso Done and done.

[2018-04-03 22:48] amorde commented on #7577
Another option instead of attributes `test_scheme_` prefixed attributes is to have something similar to platform, where the attribute `test_scheme` exposes attributes of a scheme

[code]

This would give us the opportunity to further extend it with another scheme, such as the library / framework scheme

[code]

It would also allow us to support setting other values that are part of the scheme if d

[2018-04-03 22:50] dnkoutso commented on #7577
interesting. It can be combined then with `build_scheme`

[2018-04-04 08:16] erinson commented on #7566
Hi

Thank you can solve the problem using  using this command sudo gem install cocoapods —pre

[2018-04-04 11:55] abbeycode commented on #7577
@amorde Your suggestion makes a lot of sense. Should I update my proposal to match that, or is having it only in your comment preferred?

[2018-04-04 13:47] StromanStroman commented on #6992
@infinZero i met a same question,and solve it with your solution,thanks.

[2018-04-04 15:30] dnkoutso commented on #7579
Agreed.

[2018-04-04 15:43] dnkoutso commented on #7484
@ndoctor13 something seems messed up with your PATH. Is it possible to print it out?

[2018-04-04 17:29] dnkoutso commented on #7577
I think we should start with test specs first, we can then open it up later. There is another thing thats problematic that will be solved in 1.6.0 and test specs.

Right now if a podspec has more than 1 test spec CocoaPods will group them together by test type (currently only `:unit` supported). This means that if you add `test_spec.build_scheme.launch_args = ["Something"]` it will have to merge t

[2018-04-04 17:58] amorde commented on #7577
Waiting for 1.6.0 sounds good to me. This might take a bit to get implemented regardless.

In the meantime @abbeycode I'm not sure of a way to fix the issue you are currently having

[2018-04-04 17:59] dnkoutso commented on #7577
We do not have to wait for all of 1.6.0 to ship, only the part that enables 1-to-1 mapping of each test spec to a test bundle which will be part of 1.6.0.

[2018-04-04 20:55] abbeycode commented on #7577
@amorde I'm working on a hack, piping my `pod lib lint` output to sed and filtering out lines containing `xctest`. Hopefully I can get that to work in the meantime.

[2018-04-05 06:39] lixiaodongdg commented on #7458
@veerChauhan   According to you this solves my problem, thank you. command is
Sudo gem install cocoapods --pre(mac OS 10.13.4  Xcode3)

[2018-04-05 08:18] ileitch opened #7584 "[1.5.0, static libs] error: clang importer creation failed"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

* Upgraded to 1.5.0.
* Replaced `use_frameworks!` with `use_modular_headers!`
* Attempted to build project

## What did you expect to happen?

Project to build successfully.

This likely boils down

[2018-04-05 08:44] ainopara opened #7585 "CocoaPods 1.5.0 static library should work with pod with custom modulemap file."
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Build all my pods as static library.

## What did you expect to happen?

All those pods should be able to build with `use_framework!` removed.

## What happened instead?

The pod `ReactiveCocoa` can

[2018-04-05 08:50] ileitch commented on #7584
Further investigation suggests it may be an issue with `abstract_target` and internally shared frameworks. I'll try create a same app tomorrow, but for now, this is our general setup:

[code]

* `TTCore` imports `RSDayFlow` from Swift only and builds successfully
* `MyApp` imports `TTCore` but does not directly import `RSDayFlow`, yet `MyApp` is the target that fails to build.

[2018-04-05 09:15] hmps opened #7586 "Podfile.lock [SPEC REPOS] is updated on CircleCI, breaking build"
First off, sorry for the contrived issue title, couldn't formulate something coherent that describes my issue.

🌈
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Update CocoaPods to 1.5, and ran `pod install` on CircleCI, with updated the committ

[2018-04-05 11:19] CodingMarkus opened #7587 "strip_invalid_archs() breaks vendored frameworks"
A framework looks like that:
[code]
Note that the 2nd line above is a **symlink** to the real binary which resists in the `A` folder. However, if that binary is a fat binary and you call `strip_invalid_archs()` to thin it, the resulting framework looks like that:
[code]
Note that the 2nd line is **no symlink** anymore. Now the framework contains two binaries. A thin one ```FW.framework/FW``` and t

[2018-04-05 12:08] rizwan95 commented on #5537
Cocoapods 1.5 has been released with support for swift static libraries.

[2018-04-05 12:13] MaximeLM opened #7589 "When using use_modular_headers!, NSUInteger is cast in Swift as Int instead of UInt"
🌈
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

In the Podfile of a Swift project, replace `use_frameworks!` with:
[code]
The project uses an Objective-C pod. The Objective-C pod use `NSUInteger` in its public interface.

## What did you expect

[2018-04-05 13:06] numen31337 opened #7590 "Archiving produces info.plist without ApplicationProperties for the Swift project without use_frameworks!"
# Report

## What did you do?
Archiving a project.

## What did you expect to happen?
Correct and ready to upload archive is expected.

## What happened instead?
"Generic Xcode Archive" is created, further investigation showed that ApplicationProperties are missed from the info.plist
Presumably, this is related to the pods which contain resource files.

## CocoaPods Environment

### Stack

[code]

[2018-04-05 13:09] mohamedadly commented on #7590
Yes, This happens to me as well.

I had to revert to v1.4.0.

[2018-04-05 14:32] dnkoutso commented on #7587
I assume this happens pre-1.5.0 too correct?

[2018-04-05 14:32] dnkoutso commented on #7587
@CodingMarkus can you also upload a quick sample app?

[2018-04-05 14:36] segiddins commented on #7585
Please share an example project that can be used to reproduce the issue

[2018-04-05 14:45] ainopara commented on #7585
[CustomModulemapSample.zip](https://github.com/CocoaPods/CocoaPods/files/1880486/CustomModulemapSample.zip)
Note that the error occured when the project trying to `import ReactiveCocoa`.

[2018-04-05 14:47] bmichotte commented on #7585
@segiddins you can check https://github.com/bmichotte/CocoaPodGRDB

[first commit](https://github.com/bmichotte/CocoaPodGRDB/tree/1e68470061074bb3f48dcc6be267b8723e7a460d)  uses `use_framework!` and compiles fine while [second commit](https://github.com/bmichotte/CocoaPodGRDB/tree/53b15d851146ad3e651900d0ef11a34fb651385d) removes the `use_framework!` and fails

[2018-04-05 15:07] MaximeLM commented on #7589
This seems to be caused by https://github.com/CocoaPods/CocoaPods/commit/cd554f433a4d731e65d0d502ef726f23ef694e73

In the test project, the content of `Pods/Headers/Public/TestLib/TestLib.modulemap` is:
[code]

If I remove the `[system]` tag, the error is gone.

This thread indicates that NSUInteger is bridged as Int for system frameworks like Foundation/AppKit/UIKit, and as UInt for user framewor

[2018-04-05 15:17] dnkoutso commented on #7584
Will wait on your sample app.

[2018-04-05 15:26] dnkoutso commented on #7586
thanks @hmps !

[2018-04-05 16:11] segiddins commented on #7589
Well that’s unfortunate, and undocumented in the clang modules page :(. All it says the system modifier does is suppress warnings from headers

[2018-04-05 16:30] paulb777 opened #7591 "With use_modular_headers, headers from a vendored_framework are not found"
* [X ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.

- git clone git@github.com:paulb777/iid-modular-header-bug.git
- cd iid-modular-header-bug/Example/
- pod update --no-repo-update
- open iid-use

[2018-04-05 17:02] dnkoutso commented on #7589
We might have to remove this.

[2018-04-05 17:50] CodingMarkus commented on #7587
It happens because of this code line
[code]
If you need a test universal binary, just download a freeware, like Bonjour Browser:
http://www.tildesoft.com/#RendezvousBrowser

And here is the problem:
[code]
`lipo` does not follow symlinks when writing output files, it's that easy, so the symlink is replaced by an actual file. If you want to preserve existing symlinks, you have to do a `readlink` fi

[2018-04-05 17:53] dnkoutso commented on #7587
@CodingMarkus I've already reprod and have a fix. Just testing it out a bit, sorry should have updated the issue.

[2018-04-05 18:31] paulb777 opened #7592 "Without use_frameworks!, "implemented in both" loader errors running tests"
* [X ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

- git clone git@github.com:paulb777/iid-modular-header-bug.git
- cd imp-in-both/Example/
- pod update
- open imp-in-both.xcworkspace/
- Build and notice Xcode log

## What did you expect to happen?

[2018-04-05 19:10] dnkoutso commented on #7587
@CodingMarkus what does `file <path/to/your/.framework/executable` output for you?

[2018-04-05 20:05] dnkoutso commented on #7587
@CodingMarkus this is not about `lipo` but `codesign` itself, I have a feeling it has to do with the binary type instead of the symlinks.

[2018-04-05 20:26] segiddins commented on #7592
does this not happen without use modular headers?

[2018-04-05 20:32] paulb777 commented on #7592
Oh, you're right. It happens without use_frameworks! whether use_modular_headers! is there or not.

[2018-04-05 20:51] #7434 closed

[2018-04-05 21:12] Favouroked commented on #7025
Does anyone know the solution?

[2018-04-05 21:12] Favouroked commented on #7025
Does anyone know the solution?

[2018-04-05 22:02] dnkoutso commented on #7590
1.5.0 per se is not the problem here. It works with 1.5.0 but `use_frameworks!`.

Investigating further, although I do give it a chance this is an Xcode issue? Not yet ready to fully claim this though.

[2018-04-06 02:01] ileitch commented on #7584
Sample app: https://github.com/ileitch/cocoapods-7584

* `MyFramework/SomeProtocol.h` imports `Alamofire`
* `SomeProtocol.h` is included in `MyFramework.h`
* `MyApp/SomeObjcClass.h` imports `MyFramework`
* `MyApp-Bridging-Header.h` includes `SomeObjcClass.h`

[2018-04-06 04:33] ileitch commented on #7584
Further reduced example:

All you need is a swift file that exports some Swift pod type to objc, e.g:

[code]

[code]

People likely wouldn't import the module directly into their bridging header like this, but it makes no difference if imported directly or via some header.

[2018-04-06 05:34] ileitch commented on #7592
We've a similar issue. Our setup is a framework shared by two apps in a single workspace.

With `use_frameworks!` pods like GoogleMaps (which are just static libs wrapped in a framework) will cause these warnings since it's implemented in both the shared framework and the apps. We have a nasty wrapper around GoogleMaps that allows us to use a single implementation of GoogleMaps at runtime from bot

[2018-04-06 05:46] dnkoutso commented on #7590
I cant figure this out, something is causing Xcode to think the archive is an apple one when frameworks are used compared to when static libs are used.

[2018-04-06 11:16] CodingMarkus commented on #7587
This is all about `lipo` and the way you are calling it. A framework containing a binary at top level is not allowed on macOS, it must be a symlink and it was a symlink prior to `lipo` destroying it. `file` says exactly what it supposed to say after the lipo-strip.

I lust replaced
[code]
with
[code]
and everything works perfectly.

[2018-04-06 11:40] roohi66 commented on #7025
just Try to clone repo manually https://github.com/CocoaPods/Specs and then place it in ~/.cocoapods/repos/master

I did this but got error after multiple try I find out the folder was wrong
just try to copy in diffrent folder .../repo or .../master
it will be ok

[2018-04-06 12:09] veerChauhan commented on #7458
@twof Thanks, Fixed  that mistake
@lixiaodongdg  the more you get into a problem the more you become able to get rid of.

[2018-04-06 12:40] AdamMak opened #7593 "Xcode 9.3 - cocoapods Target Pods - cannot link framework"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Update Xcode to latest version - 9.3 and updated cocoapods to 1.5

## What did you expect to happen?

Project should run normally

## What happened instead?

I am getting warning saying Target Pods-

[2018-04-06 14:16] yichengchen commented on #7574
in my case.when i use cocopods 1.5. the project doesn't complier the pod project and directly compiler the main project. cause 3d-partly library "no found" error. after I run 'pod install' in version 1.4. all the error when away.

my project write in swift4. pods contain objective-c and swift library.

[2018-04-06 15:59] dnkoutso commented on #7587
Cool thanks again will try it out and make a PR.

[2018-04-06 16:17] MaximeLM opened #7594 "[1.5.0, static libs] Mixed Objective-C/Swift pod fails to import Swift from Objective-C"
* [🌈] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

First, a lot of thanks for this feature ❤️

# Report

## What did you do?

* Update to CocoaPods 1.5.0
* Remove `use_frameworks!` from Podfile

Pod setup: one Pod `TestLib` with mixed Swift/Objective-C code. Objective-C files imp

[2018-04-06 16:40] dnkoutso commented on #7594
This is a known issue you can workaround it via `#import "TestLib-Swift.h"` instead.

[2018-04-06 16:41] dnkoutso commented on #7593
Please upload a sample app, furthermore those questions are best asked in StackOverflow under `cocoapods` tag until it has been verified this is an actual CocoaPods library issue.

Closing for now.

[2018-04-06 16:41] #7593 closed

[2018-04-06 17:27] matteocollina commented on #6214
`gem uninstall nanaimo` works for me

[2018-04-06 17:56] Zmeu213 commented on #7594
... or just use cocoapods 1.4

[2018-04-06 18:03] dnkoutso commented on #7594
sure, you do you @Zmeu213

[2018-04-06 18:26] paulb777 opened #7596 "Access private headers with use_modular_headers"
Private headers are importable from frameworks by explicitly naming them in imports and they're available in plain static libraries via ${PODS_ROOT}/Headers/Private. There should be a way to access them if modular_headers is on without making a custom module map.

For code that accesses private headers to work both as a static library and with modular headers, I need either a comparable path or an

[2018-04-06 18:28] dnkoutso commented on #7590
I can definitely repro but do not have a good idea on what is wrong here.

[2018-04-06 18:39] dnkoutso commented on #7587
@CodingMarkus I really need you to share a project. I just tried again locally with a macOS framework and the process works and yes it has symlinks and the structure you mention.

I am sorry this has been annoying but something else is off here. Please do share one so I can reproduce.

[2018-04-06 19:24] Zmeu213 commented on #7594
@dnkoutso (:

[2018-04-06 20:36] macteuts commented on #3136
`target ‘Alex\’s List’ do` should work. It did for me.

[2018-04-06 21:43] abbeycode commented on #7577
Looks like I finally got my workaround working, so this isn't a blocker for me anymore (FWIW).

[2018-04-06 23:46] paulb777 opened #7597 "With modular headers, header_dir's do not get added to HEADER_SEARCH_PATH"
* [X ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
- git clone git@github.com:paulb777/leveldb-modular.git
- cd leveldb-modular/Example/
- pod update
- open leveldb-modular.xcworkspace/
- build and notice failure
- grep HEADER_SEARCH_PATH "Pods/Targ

[2018-04-07 01:52] p4checo opened #7598 "[1.5.0, static libs] Pods using modular_headers with custom modulemap and private headers not configured correctly in Pods project"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

- Removed `use_frameworks!`
- Added `:modular_headers => true` to Pod with Obj-C dependency, custom `.modulemap` and private header ([(ReactiveCocoa)](https://github.com/ReactiveCocoa/ReactiveCocoa)

[2018-04-07 01:54] dnkoutso commented on #7598
Thanks for filing this, would love a PR.

[2018-04-07 01:56] CodingMarkus commented on #7587
I cannot share anything with you. The project in question is commercial, it's huge, has tons of dependencies which I must not share either and the vendored framework is commercially licensed and thus also not shareable. If you need to reproduce it, just use any project and add any pod with vendored universal framework. But now that I have a fix that works for me, I don't care for this issue to fix

[2018-04-07 02:00] p4checo commented on #7598
Unfortunately, my Ruby skills are quite limited, and I'm not familiar with the CocoaPods codebase at all 😅
Any tips on where to start looking?

[2018-04-07 02:03] dnkoutso commented on #7587
Cool then it will be fixed when somebody gets on it

[2018-04-07 02:11] segiddins commented on #7598
This won’t be simple to fix, I probably wouldn’t recommend it as your first foray into ruby

[2018-04-07 02:28] dnkoutso commented on #7598
Is this a dup of https://github.com/CocoaPods/CocoaPods/issues/7585?

[2018-04-07 02:29] dnkoutso commented on #7596
@paulb777 do you want this for 1.5.1?

[2018-04-07 02:52] segiddins commented on #7596
We _could_ just add `${PODS_ROOT}/Headers/Private` back to the header search paths ?

[2018-04-07 02:53] segiddins commented on #7598
Looks like it

[2018-04-07 03:11] segiddins commented on #7591
I believe this will be fixed by a change I'm working on that will have headers from vendored static frameworks found via `FRAMEWORK_SEARCH_PATHS`, rather than via the sandbox's headers directory

[2018-04-07 04:07] segiddins commented on #7565
No, because CocoaPods has no way of knowing what the `HEAD` of `master` of the git repo will be

[2018-04-07 04:16] dnkoutso commented on #7565
close?

[2018-04-07 05:36] #7565 closed

[2018-04-07 06:36] MaximeLM commented on #7594
@dnkoutso ok, I'll use the workaround

[2018-04-07 11:03] p4checo commented on #7598
Damn, missed that one 😞
Sorry guys. Should I close this one?

[2018-04-07 14:07] paulb777 commented on #7596
@dnkoutso Yes. This along with #7591, #7592, and #7597 is needed for Swift static libraries and Firebase.

[2018-04-07 15:00] dnkoutso commented on #7598
@p4checo no problem! I will close this one but it will be referred on the other. Thank you again for the detailed report!

[2018-04-07 15:00] #7598 closed

[2018-04-07 15:01] dnkoutso commented on #7585
Similar issue https://github.com/CocoaPods/CocoaPods/issues/7598

[2018-04-07 19:01] nolanw commented on #7594
@dnkoutso you say this is a "known issue", is there an issue open already?

[2018-04-07 19:02] dnkoutso commented on #7594
@MaximeLM apologies meant meant internally and we should keep this open.

[2018-04-07 20:38] MaximeLM commented on #7590
I may have found the cause.

The archive contains an additional file when removing `use_frameworks!`: `Products/Applications/assetcatalog_generated_info.plist`.

In the archive logs, I see that both build phases `Compile asset catalogs` and `[CP] Copy Pods Resources` generate this file, but not in the same path:
Xcode:
`ArchiveIntermediates/test/IntermediateBuildFilesPath/test.build/Release-iphone

[2018-04-07 20:57] dnkoutso commented on #7590
@MaximeLM very nice! We would need to verify if this change breaks https://github.com/CocoaPods/CocoaPods/issues/7003 which was the initial fix.

[2018-04-08 07:43] monibu1548 commented on #7003
If you build xcarchive at `Xcode Server`, it will help you.

https://forums.developer.apple.com/thread/91752

![image](https://user-images.githubusercontent.com/13195573/38464637-f0847fc2-3b4b-11e8-9657-0f2614f8539e.png)

[2018-04-08 11:07] winddpan commented on #5678
`error: IB Designables: Failed to render and update auto layout status for CardView (iN0-l3-epB): dlopen(TagListView.framework, 1): no suitable image found.  Did find:
	TagListView.framework: required code signature missing for 'TagListView.framework'`

@stevenp demotion from 1.5.0 to 1.4.0 sloved my issue, thanks buddy! I wasted an entire day!

[2018-04-08 12:07] hkellaway commented on #7086
@luongs3 it was because my latest version was a pre-release version (as indicated by the version structure - i.e. 2.0.0-beta.1). If no version is specified, cocoapods will use the latest release version.

Looks like you have a different problem. Perhaps try specifying the version of Firebase you want. Or, if Firebase is being installed because it is the dependency of another pod, use a newer versi

[2018-04-08 13:26] RobertGummesson opened #7605 "'PhaseScriptExecution failed with a nonzero exit code' when using a greek symbol in target"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
- Update to CocoaPods 1.5.0
- Run pod install
- Compile an Xcode target containing a greek symbol (i.e MyApp α)

## What did you expect to happen?

The project should build fine just as the other tar

[2018-04-08 13:43] RobertGummesson commented on #7605
I was able to reproduce it in a blank project now. The ticket has been updated.

[2018-04-08 14:16] paulb777 commented on #7086
@luongs3 Use `pod update` instead of `pod install` and check `Podfile.lock` to see if you have something in the `Podfile` that forces a dependency on Firebase 3.x.x.

[2018-04-08 19:13] RobertGummesson commented on #7605
@segiddins
- Download or clone it
- Change the scheme to CocoaPods α
- Build the project

I actually note now that the compiler error for the sample project is not the same as the one I get in my main project. Hmmm... Let me try to look closer when I have a moment otherwise there is a risk that the sample project is misleading. I can't really post the main project and I don't know how else to repr

[2018-04-09 01:40] sinoru opened #7606 "IBDesignable not works with the frameworks which links with CocoaPods' framework."
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Use my custom framework which linked with CocoaPods' Framework

## What did you expect to happen?

Just works.

## What happened instead?

Failed:
[code]

## CocoaPods Environment

### Stack

[code]

[2018-04-09 07:07] lilovexin opened #7607 "CocoaPods app Version 1.4.0 (1.4.0)"
Analyzing dependencies

――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[!] Oh no, an err

[2018-04-09 07:10] dnkoutso commented on #7607
Dup of https://github.com/CocoaPods/CocoaPods/issues/7458 fix already available.

[2018-04-09 07:10] #7607 closed

[2018-04-09 07:28] xingheng commented on #7486
I dug out a new big hole here when trying to fix it. The `INFOPLIST_FILE` didn't be read in all the components of CocoaPods, that makes sense because the `Info.plist` file could be localized into multiple languages (with multiple subfiles). It's a key to localize, not a result, my thought in above is wrong.

Go back to the localization of `UIBarButtonSystemItemDone`, the prefer localized language

[2018-04-09 11:28] adamkmccarthy commented on #7593
This issue is being worked on here: https://github.com/CocoaPods/CocoaPods/issues/7251

[2018-04-09 12:04] Coeur opened #7608 "Tests failing on iOS 8.x with Xcode 9.3/9.4"
* [🌈] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

1. Run `pod lib create oldies`, with: ios, swift, yes, None, No.
2. Change app deployment target to iOS 8.0
3. Change podspec to include:
[code]
4. Change Podfile to include:
[code]
5. Using Xcode 9

[2018-04-09 14:02] RobertGummesson commented on #7605
My friend (who also experienced this issue) worked out how to work around this problem. Here is how:

1) Go to the General, then under Linked Frameworks and libraries, delete the Pods framework and add it back.
2) Clean the project
3) Compile again and it will work.

Feel free to close the issue but again, v1.4.0 could handle this while v1.5.0 couldn't.

[2018-04-09 14:49] segiddins commented on #7605
We’re happy to look into the issue, we just need a way to reproduce it

[2018-04-09 15:08] robinkunde opened #7609 "[1.5, static libs] Importing ObjC pods into Swift Notification Service Extension fails"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I tried to add an ObjC pod to an app's Swift Notification Service Extension.

## What did you expect to happen?

The project builds and the pod is available for import in the extension.

## What hap

[2018-04-09 15:12] RobertGummesson commented on #7605
Yes, unfortunately both of these projects are production code which can't be shared. Given I couldn't reproduce it in a blank project, perhaps this is as far as we can get with this issue?

[2018-04-09 15:18] dnkoutso commented on #7606
I do not think there is support for `IBDesignable` in CocoaPods. are you suggesting this was working in 1.4.0?

[2018-04-09 16:43] johndpope commented on #6548
so the likely cause is mismatch on cocoapods / ruby / bundler. something that used to work - was updated. which one.....  if you knew the specific versions - it's possible you could run app no matter what's been updated.

**HOW TO AVOID THIS**
Just as you can use an old pod version in Podfile
you can use a Gemfile  to lock cocoa pods to a specific version. this allows your code to continue working

[2018-04-09 21:08] mattrobmattrob commented on #7212
I am having similar issues with a local/development CocoaPod referencing dependencies that use `vendored_frameworks`. I'm having linker errors on some dependencies (that are vendored frameworks) that are remote and local/development.

|Pod|Working|Podspec|Source|
|---|---|---|---|
|Reveal|Yes|https://github.com/CocoaPods/Specs/blob/master/Specs/c/8/7/Reveal-SDK/14/Reveal-SDK.podspec.json|https://d

[2018-04-09 21:52] pencilcheck commented on #5941
In 1.5.0 it will not generate pods correctly for React headers, reverting to 1.4.0 resolve that issue for now. I get errors such as `"React/RCTViewManager.h" not found` Turns out that in 1.5.0: The generated header search path for the pods project for react one is not included somehow, therefore the react/react/* headers are not found.

It is kinda funny to find this issue and it seems so relevant

[2018-04-09 22:28] dnkoutso commented on #5941
for 1.5.0 and without modular headers this seems you are missing a dependency in your `podspec`, `s.dependency`.

By the way I am closing this issue as it has now shipped.

[2018-04-09 22:28] #5941 closed

[2018-04-09 22:32] Pulkit2017 commented on #7138
@mveera21 same issue with this almofire library please help .

[2018-04-10 00:31] sinoru commented on #7606
@dnkoutso Yes. It was working previsouly, until macOS policy changed (With Xcode 9.3).

[2018-04-10 00:32] matanwrites commented on #7608
This is an xcode9.3 9.4 beta issue, a radar has been filed, xctest is using a method of NSKeyedUnarchiver which only exists starting from iOS9

[2018-04-10 00:34] dnkoutso commented on #7608
Thanks @matanwrites.

[2018-04-10 01:32] Coeur commented on #7608
Well, moving back to Xcode 9.2 is not an option, because I changed all my `flatMap()` to `compactMap()` already. But dropping tests support for iOS 8 sounds like how we're going to do it for now.

[2018-04-10 02:31] caixindong commented on #7458
Because `Rootless`, use `sudo gem install -n /usr/local/bin cocoapods --pre` better

[2018-04-10 02:42] #7592 closed

[2018-04-10 02:45] dnkoutso commented on #7591
@paulb777 I think this will be fixed easier with the 1.6.0 refactor of build settings, do you think we can move it to 1.6.0?

[2018-04-10 03:09] paulb777 commented on #7591
@dnkoutso This is needed for FirebaseMessaging to build with modular headers, so I'd prefer that 1.5.1 gets a fix.

I can debug and try to make a PR later this week.

[2018-04-10 03:10] dnkoutso commented on #7591
👍

[2018-04-10 03:36] matanwrites commented on #7608
The easiest option for me was to run the test manually using a different deployment target then why doing the pod spec/lib lint, add the --skip-tests option

[2018-04-10 05:33] dnkoutso commented on #7394
I think this is fixed by https://github.com/CocoaPods/CocoaPods/pull/7610 but will verify.

[2018-04-10 10:00] PoojaChirp commented on #1415
Hi All,

I'm experiencing the same error. I followed the rules suggested in the article-https://guides.cocoapods.org/syntax/podspec.html#license, but I've no luck. The error is seen when I pod lint the spec -

Unable to read the license file `/<path>/LICENSE.md` for the spec `spec name(11.12.0.0)`

Can someone please suggest a solution.

Thanks!

[2018-04-10 11:37] pisacode commented on #4830
@vjpr I have waited more than 20 min for the yoga running pre install hooks and it did not finish. I had to cancel pod install

[2018-04-10 12:32] zbencz3 opened #7613 "The `project` swift version is not populated by cocoapods to the targets"
🌈
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

pod repo update
pod install

## What did you expect to happen?

Since my `project` version is set to `SWIFT_VERSION` 4.1, I expected so the `SWIFT_VERSION` of the targets I have to be set to 4.1 a

[2018-04-10 13:56] winddpan commented on #7606
Same problem on version 1.5.0, I slove the issue by demotion version to 1.4.0.

[2018-04-10 14:48] dnkoutso commented on #7613
need a sample app to debug, also when you say "targrets" which targets do you mean? If you mean the ones within your `.xcodeproj` then you set the `SWIFT_VERSION` manually there.

[2018-04-10 14:49] luispadron commented on #7606
Can confirm, receiving issues with an IBDesignable framework in 1.5.0 but fine in 1.4.0

[2018-04-10 14:53] dnkoutso commented on #7606
would love a sample app here and also someone to investigate.

[2018-04-10 15:02] sinoru commented on #7606
I check that removing `CODE_SIGNING_ALLOWED`, `CODE_SIGNING_REQUIRED` settings on the project which is created by CocoaPods solves this problem.

This is caused by now macOS requires codesigns (even dummy codesigning) when debugger attach to it. But, frameworks are not codesigned, so..
IBDesignables requires Interface Builder's process(debugger attached) to load frameworks, but it can't.

[2018-04-10 15:04] luispadron commented on #7606
Here is a sample app: https://github.com/luispadron/PodDesignableTest

It uses one of my pods, if you `pod update` with cocoapods 1.5.0, the designable view will not show and sometimes an error (code signing) will show up. If you run `pod update` with 1.4.0 the designable works as intended and shows up on IB as expected.

[2018-04-10 15:12] dnkoutso commented on #7608
I do not think this is a CocoaPods library issue anymore, should we close it?

[2018-04-10 15:37] zbencz3 commented on #7613
thanks @dnkoutso.
I mean the ones within my xcodproject as you said.
<img width="176" alt="targets" src="https://user-images.githubusercontent.com/5381246/38567158-278326ba-3cee-11e8-87e2-8c4f0685bd4d.png">

If I set the `SWIFT_VERSION` explicitly there, then I will have the warning
[code]

I wanted to set things up without having this warning. Is that possible?

[2018-04-10 15:38] dnkoutso commented on #7613
hmmm this is a bit weird, would love to see a quick sample app to repro as a quick scan in the code does not show `SWIFT_VERSION` being set in your project.

[2018-04-10 15:41] dnkoutso commented on #7613
@zbencz3 does any of the pods you consume actually set `'SWIFT_VERSION` in `s.xcconfig` or `s.user_xcconfig`? Perhaps one of them is overriding this setting because I know the default CocoaPods code does not.

[2018-04-10 15:48] zbencz3 commented on #7613
will have to check them one by one. Will let you know asap

[2018-04-10 16:01] dnkoutso commented on #7613
@zbencz3 I used the same pods as you and debugged some of the code, as I suspected this was the problem.

https://github.com/CocoaPods/Specs/blob/d0ec5a65e80656c8d78e12ff19f251df879e0bc2/Specs/d/1/8/CocoaLumberjack/3.0.0/CocoaLumberjack.podspec.json#L75

Going to close at the moment as this is not a library issue, we *could* however skip explicitly this value from being integrated.

Pod authors sh

[2018-04-10 16:01] #7613 closed

[2018-04-10 16:35] amorde commented on #1415
@PoojaChirp This issue is quite old - if you are experiencing a bug could you submit another issue with steps to reproduce?

[2018-04-10 16:38] zbencz3 commented on #7613
@dnkoutso that makes sense now. Thanks for taking the time!

[2018-04-10 17:29] paulb777 commented on #7591
The difference between with and without use_modules! is HEADER_SEARCH_PATHS in `./Pods/Target Support Files/iid-use-module-bug/iid-use-module-bug.xcconfig`

[code]
vs
[code]

[2018-04-10 18:54] nissaba opened #7614 "The operation couldn’t be completed. (CocoaPods.CPPodfileInitErrors error 0.)"
### Command

[code]

### Report

* What did you do? file> new podfile from project

* What did you expect to happen? to get a new podfile

* What happened instead? got the error asking to fill this and post it.

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2018-04-10 19:02] dnkoutso commented on #7614
Please update to Xcodeproj gem 1.5.7.

[2018-04-10 19:02] #7614 closed

[2018-04-10 21:45] paulb777 commented on #7591
Yep - adding the following to `./Pods/Target Support Files/iid-use-module-bug/iid-use-module-bug.xcconfig` is another way to make it build:
[code]

I'll see if I can turn that on ...

[2018-04-11 01:36] Coeur commented on #7608
I was able to reproduce the issue without CocoaPods at all. So it's really an Xcode issue. Sorry.

[2018-04-11 01:36] #7608 closed

[2018-04-11 01:37] dnkoutso commented on #7608
Np! thanks for following up.

[2018-04-11 02:09] seuzxh opened #7617 "Pod [V1.5.0] lib lint fail with error "AppIcon" in case of its dependency or subspec contains a xcassets type resources"
* [√] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

- I create a test Pod with command "pod lib create"
- I add a subspec named "TestSub1" in the podspec file
- Add resources of "TestSub1" with the xcassets file
- run "pod lib lint  --allow-warnings

[2018-04-11 03:54] dnkoutso commented on #7617
Also appears to be in subspecs only as you correctly stated in the beginning.

[2018-04-11 04:09] dnkoutso commented on #7617
@seuzxh figured it out. It's because your subspec has no sources it gets integrated differently. Definitely a bug but if you add a source file to your subspec it should work.

[2018-04-11 04:13] dnkoutso commented on #7617
This will most likely get fixed for 1.6.0 depending on progress on revamped pods project generation and target installation.

[2018-04-11 04:31] seuzxh commented on #7617
@dnkoutso As you replied "It's because your subspec has no sources it gets integrated differently. "
Do you mean I should add some source_files for my subspec like this ?

[code]

I've tried but also failed

[2018-04-11 04:32] dnkoutso commented on #7617
Yeap

[2018-04-11 04:35] seuzxh commented on #7617
Oh ~ I tried again, it pass validation.

[2018-04-11 04:55] linchen195 commented on #6407
@benasher44 you are right, thank you.

[2018-04-11 05:15] bryanboyko opened #7619 "Modulemap path works for local pod development but not when the pod is installed from remote"
# Report

## What did you do?

Create my_framework with a VungleSDK dependency as a pod (VungleSDK is included by Cocoapods as a .framework as opposed to being a collection of source files which Cocoapods then packaged as a framework).

Expose Objective-C VungleSDK module to my_framework Swift files with the following code from module.modulemap

[code]

The potentially relevant portion of my podsp

[2018-04-11 05:38] dnkoutso commented on #7619
Not sure for the core problem but one thing to note:
[code]

Are you intentionally changing this? `xcconfig` actually changes the user xcconfig and not the pod one. Generally not advised as it changes the users project. Unless you really intended to do this.

[2018-04-11 05:47] seuzxh commented on #7617
@dnkoutso  It pass validation after I add the `source_files ` 。
But I found if I add the `--use-libraries` option, it failed again with the same error message as I said before.

pod lib lint --allow-warnings  --use-libraries --verbose --fail-fast --no-clean  **--use-libraries**

[2018-04-11 06:25] amorde commented on #5194
I'm unable to reproduce this using CocoaPods `1.4.0` - @Coeur is this still an issue?

[2018-04-11 06:28] mdsb100 commented on #7591
I'd prefer that 1.5.1 gets a fix. +1

[2018-04-11 06:29] PoojaChirp opened #7620 "Warning| Unable to read the license file"
Hi All,

I've followed the rules suggested in the article-https://guides.cocoapods.org/syntax/podspec.html#license, but I've no luck. A warning is seen when I pod lint the spec -

Unable to read the license file /<path>/LICENSE.md for the spec spec name(11.12.0.0)

Installed software versions on my device:
.gem/ruby/2.5.0/
gems/cocoapods-1.4.0/
Xcode-9.2

Thanks,
Pooja

[2018-04-11 06:33] amorde commented on #5623
On CocoaPods 1.4.0, this produces the following error message:

[code]

This seems appropriate, as `.xcdatamodeld` should be add to `resources`. I think this can be closed

[2018-04-11 06:36] amorde commented on #7620
Most likely you have specified a license file but the path does not exist.

Can you provide the contents of the podspec?

[2018-04-11 06:49] PoojaChirp opened #7621 "Issues with Podfile Syntax Reference"
Hi All,

I have a created the podspec with an SDK dependency. My SDK dependency is specified as given below-

s.dependency  '[SDK NAME]', '~> [VERSION]'

When these pods are published and when I do a pod init of the newly created pod, the dependency SDK version fetched isn't consistent. At times I fetch the latest SDK while the rest of the times I fetch the version as specified in the dependency a

[2018-04-11 06:50] amorde commented on #7621
Removing the `~>` operator will limit the version to an exact match

[2018-04-11 06:51] dnkoutso commented on #7621
Please use StackOverflow under the `cocoapods` tag to ask these questions. There is not a lot for us to diagnose or even consider this is an issue with the library itself.

[2018-04-11 06:51] #7621 closed

[2018-04-11 06:52] dnkoutso commented on #7620
This is also a warning and most likely what @amorde said.

Please use StackOverflow under `cocoapods` tag to ask these questions. There is little information fro us to debug this or even come to a conclusion that this is a bug in the library itself.

Please provide sample app and use the template when filing an issue clearly showing the problem.

[2018-04-11 06:52] #7620 closed

[2018-04-11 06:56] khiettran commented on #4830
@pisacode  I got the same issue, then I updated to RN 0.55, it's resolved but I don't prefer this workaround.

[2018-04-11 07:53] XiaoZhongKen commented on #5428
For those who stuck in Alipay 'openssl/asn1.h' file not found.'  problem,  FYI, Alipay can run independently without openssl thing entirely, signing is better be done on server side.

[2018-04-11 07:58] Coeur commented on #5194
@amorde I reproduced it with CocoaPods `1.5.0`. Please follow the steps from my comment from Apr 24, 2016.

[2018-04-11 09:15] a-lebedev commented on #7447
had similar problem, i've updated ruby through homebrew and exec "bundle install" in the root of project

[2018-04-11 10:45] gorbat-o commented on #7405
Hello guys,

I am encountering the same issue,
I am using libraries which have multiple target for different settings (and different file used),

And I didn't find a way in Cocoapods to specify a particular target of my library.
Maybe I didn't read right the Cocoapods documentations,

Thanks,

[2018-04-11 10:58] Sajjon commented on #7139
+1 for @bdorfman s comment, would be nice to be able to silence it! :)

[2018-04-11 11:19] Coeur commented on #7314
@Jinxiansen don't forget you have to do `pod install` (or `pod deintegrate && pod install`) to get the post_install to execute at least once. It will not work with only `pod update`.

[2018-04-11 11:51] mdsb100 commented on #7591
@paulb777
I test your PR in my local. I am not sure the PR make this issue. Please help me.
[code]

link error:
[code]
I am so confused.
- I never use corelocation
- There is not 'corelocation' word in workspace or build log

[2018-04-11 11:51] sarsonj opened #7622 "When removed use_frameworks!, one pod cannot find framework from another pod"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
I upgraded to CocoaPods 1.5 and tried to switch to static frameworks. I removed use_frameworks! and added use_modular_headers!

## What happened?
The project cannot compile and it fails when compilin

[2018-04-11 12:15] Serproger commented on #7606
Thank you very much! I've spent around five hours  fixing the problem.

I can't understand how can such shit be released. Has somebody tested it with XCode 9.3?

[2018-04-11 13:09] paulb777 commented on #7622
Might be a dupe of #7591.

It sounds like you actually tried to switch to static libraries.

Moving to static frameworks should work. Leave `use_frameworks!` in the Podfile and add s.static_framework = true to the development podspec.

[2018-04-11 13:09] mdsb100 opened #7623 "[1.5, static libs]with use_modular_headers and mixed obj-c/swift, Is it necessary add '-ObjC' into 'Other Linker Flags'"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
run `pod install`
There are  mixed obj-c/swift pod dependency

A third-party podspec add this:
[code]

## What did you expect to happen?

build and link well

## What happened instead?
link error:
[c

[2018-04-11 13:13] paulb777 commented on #7591
@mdsb100 Thanks for trying out the PR. It sounds like you have a different issue. Please create another issue with enough info to reproduce.

[2018-04-11 13:16] gorbat-o opened #7624 "Specify a particular target on a pod ? (Private Pods)"
Hello guys,

I am using private libraries (pod) which have multiple target for different settings and also different files,

And I didn't find a way with Cocoapods to specify a particular target of my library.
Maybe I read wrong the Cocoapods documentations,

Thanks,

# Report
## What did you do?

Setup targets in a pod project
pod install

## What did you expect to happen?

Having an parameter fo

[2018-04-11 13:18] mdsb100 commented on #7623
May I try `pod_target_xcconfig` instead of `xcconfig` to solve this issue?

[2018-04-11 13:44] orta commented on #7606
@Serproger please don't use language like you did in our CocoaPods issues, that's not cool.

[2018-04-11 14:32] segiddins commented on #7623
Please share an example project we can use to reproduce the issue, thanks!

[2018-04-11 14:49] segiddins commented on #7624
What do you mean, it brings all the files you do no want?

[2018-04-11 14:57] gorbat-o commented on #7624
Yes,

I created in my pod authentication a file Test.swift which contains an empty Test class which is assigned only to the target "AuthenticationPreProd"
But here, I am calling "AuthenticationProd" not "AuthenticationPreProd"
and it is still compiling this Test.swift in my main repo.

Is that clearer ? 😅🤗

[2018-04-11 15:04] segiddins commented on #7624
I don’t see either of those targets defined in your podfile

[2018-04-11 15:07] gorbat-o commented on #7624
Oh my bad, the podfile is not right.
I updated

[2018-04-11 15:40] bryanboyko commented on #7619
I added that line based on the solution suggested in #5271

I just tried removing it from the podspec. When I re-pod installed, I got the error `No such module 'VungleSDK'`

I'm not very familiar with module maps, but it seems like this is an issue with the header path in my module map, which works to incorporate my_framework is a development pod, but not when it's installed as a pod from a remote

[2018-04-11 15:42] dnkoutso commented on #7619
@bryanboyko I think it would be best to provide a sample app for us to repro and diagnose.

[2018-04-11 15:44] nickdnk commented on #7606
Can confirm downgrading to 1.4 fixed the issue.

[2018-04-11 15:49] dnkoutso commented on #7606
Reading the issue, I am uncertain if this is an Xcode 9.3 issue and most likely a CocoaPods library issue, it seems that it works for everyone in Xcode 9.3 and CocoaPods 1.4 so this leads me to believe that its a CocoaPods issue and not an Xcode issue.

[2018-04-11 15:54] bryanboyko commented on #7619
@dnkoutso ok coming up

[2018-04-11 15:55] alexpopov opened #7625 "Crash when specified branch does not exist"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I wanted to test some back-porting I did, so I pushed the code to a new a branch called `ios9-support`.
In the Podfile I added, for the relevant targets:

[code]

And called `pod install`

My mistak

[2018-04-11 16:03] luispadron commented on #7606
@dnkoutso, agreed seeing as how it works on both of my machines on Xcode 9.3 and pods 1.4 but breaks with 1.5.

[2018-04-11 17:54] dnkoutso commented on #7619
@bryanboyko thanks! *miiight* be related to https://github.com/CocoaPods/CocoaPods/pull/7616? You can apply the fix manually or use `bundler` and try it out?

[2018-04-11 17:58] bryanboyko commented on #7619
@dnkoutso thanks will take a look

[2018-04-11 19:12] bryanboyko commented on #7619
@dnkoutso I'm having a bit of trouble figuring out how to apply the fix manually.

I followed the PR code to the `xcconfig_helper.rb` class. Since I've got `static_framework = true` in my podspec, im assuming `self.add_static_dependency_build_settings` function will be hit and then `add_framework_build_settings` will be hit.

`add_framework_build_settings` makes the following calls

[code]

That m

[2018-04-11 21:11] cotrim149 commented on #7566
Hello,

The same thing happens to me.

I solved that uninstalling all versions of cocapods and nanaimo. Every gem uninstall command I set to remove all versions.
In order of commands:

gem uninstall cocoapods
gem uninstall -i /Users/cotrim/.rvm/gems/ruby-2.2.1@global cocoapods -> Removing from global gems

than:
gem uninstall nanaimo
gem uninstall -i /Users/cotrim/.rvm/gems/ruby-2.2.1@global nanai

[2018-04-12 00:36] sinoru commented on #7606
Remove`CODE_SIGNING_ALLOWED`, `CODE_SINING_REQUIRED` should make it works.
May I create pull request of this?

[2018-04-12 00:38] amorde commented on #7310
Not stale

[2018-04-12 01:46] mdsb100 commented on #7591
@paulb777
Try this PR, It seems 'pod install ' slower than before.

[2018-04-12 02:48] mdsb100 commented on #7623
@segiddins
Here is a example https://github.com/mdsb100/YTXDTNWBWeexContainerBusinessModule
You will see
![image](https://user-images.githubusercontent.com/2350193/38653714-a4c9ecc0-3e3e-11e8-8d12-c9a32f89237d.png)

Try to remove `$(inherited) -ObjC` from `Other Linker Flags`,  link pass but I think I will get crash by
`unrecongnized selector` in runtime.

Please check it, thank you so much.

[2018-04-12 03:08] mdsb100 commented on #7623
@segiddins
May I use `pod_target_xcconfig ` to add `-ObjC` instead of `xcconfig`?
Am I right?
[code]

If it works, I have to make a mirror of third-party library.

[2018-04-12 06:18] meritozh opened #7626 "xcpretty make pob lib lint too slow"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

`pod lib lint --verbose --allow-warnings --fail-fast | xcpretty`

## What did you expect to happen?

fast, maybe 6 min for my spec.

## What happened instead?

too slow, take more than 30 min!

## C

[2018-04-12 07:09] Langxxx opened #7627 "How to modify local podspec in pre_install hook?"
# Report

## What did you do?
I want to modify some local podspec in `pre_install`  hook.And now, i had been found a way to modify some third-party pods.Like below:
[code]
In this way, everything is ok,the cocoapods can use the new json file to config my project.But it do not work when i do the same way to the local pod.

[code]
the json file(`**/Pods/Local Podspecs/MessagePack.podspec.json`) had

[2018-04-12 07:50] bigyelow commented on #7301
https://developer.apple.com/library/content/technotes/tn2215/_index.html#//apple_ref/doc/uid/DTS40011221-CH1-PROJ

Check the following reasons:

- Your archive contains header files.
- Your archive contains static libraries or frameworks.

[2018-04-12 12:41] orta commented on #7627
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look like.

[2018-04-12 12:41] #7627 closed

[2018-04-12 15:12] segiddins commented on #7626
Piping to xcpretty won’t effect CocoaPods behavior

[2018-04-12 15:19] hansemannn opened #7628 "Question: Is it possible to detect the Pod state?"
Hey guys,

first of all: Huge project, loving it over here at Appcelerator! We use it for Hyperloop, a library to use native API's from Javascript directly instead of writing bridges for it.

We are currently investigating a possible build performance improvement that deals with the fact that we run `pod install` for *every* build, resulting in slightly slower incremental builds than we want to. T

[2018-04-12 15:28] hansemannn commented on #7628
Thanks @dnkoutso, that should be fine already!

[2018-04-12 15:38] gorbat-o commented on #7624
Hey,

Sorry for the time I took.
Here the example project,
But I figured that I can create multiple podspec and precise in each what files I want.

[example.zip](https://github.com/CocoaPods/CocoaPods/files/1903894/example.zip)

Thanks :)

[2018-04-12 16:05] rock88 commented on #7550
Hi, any news or workaround? Tips from #6159 didn't work.

[2018-04-12 16:27] serialbandicoot commented on #6574
gem update --system worked for me - however I would suggest using gem cleanup if you know exactly what it does. You may want to keep some older revisions of non cocoapod gems around.

[2018-04-12 16:43] h36ahmedUW commented on #7606
Yes please :)

[2018-04-12 16:49] duzzell opened #7629 "Error running pod install"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Run `pod install`

## What did you expect to happen?

 Install all pod dependencies correctly.

## What happened instead?

Received a 'Operation not permitted' error running chmod on AWSFacebookSign

[2018-04-12 16:50] dnkoutso commented on #7629
Sounds like a permission issue of the user who is executing `pod install`.

Please ask these questions in StackOverflow with the `cocoapods` tag.

[2018-04-12 16:50] #7629 closed

[2018-04-12 17:34] #7591 closed

[2018-04-13 01:47] mdsb100 commented on #7623
@dnkoutso I have already given a example.

[2018-04-13 01:49] dnkoutso commented on #7623
Thanks, removed the label

[2018-04-13 02:39] mdsb100 commented on #7623
I fix it by follow this: https://stackoverflow.com/questions/29676470/static-library-and-swift.

[2018-04-13 02:39] #7623 closed

[2018-04-13 03:27] read0nly commented on #7454
@cyrus86 Hi man,I just want know how can edit the 'simctl list'? thank you very much.

[2018-04-13 05:52] BelaSzombathelyi commented on #7126
I get a lots of similar warning on app start.
I start with @TadeasKriz 's solution, but does not disappeared all of my warnings.

I want to use `'couchbase-lite-ios', '~> 1.4.1'`, this pod contains an `CBLJSViewCompiler.a` file, what linked into my core lib, and into the main app.
A resolve it with edit @TadeasKriz 's code, with insert a remove for `CBLJSViewCompiler.a`file bellow.
[code]

[2018-04-13 06:07] meritozh commented on #7626
Can you reproduce this issue?

[2018-04-13 09:11] RamNalluri opened #7632 "after install 1.5.0 version i am unable to archive .ipa file it is generating .xcarchive."
after update pod version form 1.2.x to 1.5.0 we are  unable to archive .ipa file it is generating .xcarchive.

[2018-04-13 09:27] #7095 closed

[2018-04-13 10:28] bigyelow commented on #7590
I also got this problem when declaring use_frameworks! in the Podfile and the main project depend on a static_framework repo that mix swift and Objective-C(I specified spec.static_framework = true for that repo), cocoapods 1.5.0.

And I check the generic Xcode archive, find `ApplicationProperties` is missing for the `Info.plist` and `assetcatalog_generated_info.plist`  is added to `Products/Applic

[2018-04-13 12:28] numen31337 commented on #7632
I guess this is the duplicate of https://github.com/CocoaPods/CocoaPods/issues/7590

[2018-04-13 15:11] #7632 closed

[2018-04-13 20:40] abbeycode commented on #7577
@dnkoutso Are there any changes we should make to labels or anything to encourage more feedback?

[2018-04-13 22:17] dnkoutso commented on #7577
@abbeycode not much from me!  I am working on updating test specs to actually give you a separate test target per test spec (instead of the grouping that happens today)

want to wait until maybe next week for me to open this PR?

[2018-04-13 22:53] soleares commented on #7606
@sinoru Yes, that fixes it.

Here's a post install hook that can be used until this is fixed and merged. Add it to the bottom of your Podfile and run `pod install`

[code]

[2018-04-14 07:43] RamNalluri commented on #7632
I am using only objective-c not swift or mixed. Every thing  working fine in 1.3.1 after I update pod version 1.5.0 we are unable to create IPA  file it's  directly generated .xcarchive file , without change any code .

I think both are different issues. Not for #7590

[2018-04-14 08:37] gereons commented on #7589
This issue also prevents apps using [SwiftyDropbox](https://github.com/dropbox/SwiftyDropbox) from switching to `use_frameworks!(false)`.

[2018-04-14 12:32] gereons opened #7633 "[1.5] Dependency analysis for Pod that contains .xib files fails"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).  🌈

# Report

## What did you do?

ran `pod install` on the linked sample project, tried to compile with Xcode 9.3

## What did you expect to happen?

successful compilation

## What happened instead?

Compilation fails with `Depe

[2018-04-14 19:30] AmLearning commented on #6992
that did the trick!

[2018-04-14 22:27] cyaris opened #7635 "error: RPC failed; curl 56 LibreSSL SSL_read: error:140943FC:SSL routines:SSL3_READ_BYTES:sslv3 alert bad record mac, errno 0"
Made updates to a github local repository with large files. Tried to push to the remote repository but it exceeded the limit so I installed Git Large File Storage. Since then, I've encountered this error message when trying to push to the remote repository:

error: RPC failed; curl 56 LibreSSL SSL_read: error:140943FC:SSL routines:SSL3_READ_BYTES:sslv3 alert bad record mac, errno 0

Things I've tr

[2018-04-14 22:28] dnkoutso commented on #7635
This does not seem a CocoaPods library issue, please ask this question in StackOverflow using `cocoapods` tag.

[2018-04-14 22:28] #7635 closed

[2018-04-14 22:49] dnkoutso commented on #7009
Keep open.

[2018-04-15 03:58] nebiros commented on #7606
Same happened to me with TTTAttributedLabel: https://github.com/TTTAttributedLabel/TTTAttributedLabel/issues/783

[2018-04-15 06:23] emraz opened #7636 "The spec did not pass validation, due to 3 errors and 3 warnings."
[code]

[2018-04-15 07:38] #7636 closed

[2018-04-15 07:39] orta commented on #7636
Please use stack overflow for usage help

[2018-04-15 09:46] mixable commented on #7301
Same for me. In my app, there are two extensions (an Action Extension and a Today Extension).

I use **CocoaPods 1.5.0** and **Xcode Version 9.3 (9E145)**.

I tried and checked different things, but without success:
- Removing "Copy Pod Resource" build steps in extensions
- Setting `SKIP_INSTALL` to "Yes" in all Targets / in all Pods and "No" in Projects
- Product clean and removing all DerivedDat

[2018-04-15 17:44] mixable commented on #7590
Maybe #7301 is caused bey the same issue?

[2018-04-15 21:03] dnkoutso commented on #7589
PR https://github.com/CocoaPods/CocoaPods/pull/7638

[2018-04-16 08:32] #6906 closed

[2018-04-16 10:35] wangjindong opened #7641 "1.5.0 ipa EXPORT FAILED"
The same project can correct export for cocoapods 1.4.0, but not for cocoapods 1.5.0。

erro info :

[code]

I need help !!!

[2018-04-16 10:40] wangjindong commented on #7641
command line
`
xcodebuild -exportArchive -archivePath ${archivePath} -exportPath ${exportPath} -exportOptionsPlist ${exportOptionsPlist}`

[2018-04-16 10:44] RobertGummesson commented on #7605
I'm closing this with an "can't reproduce" state.

[2018-04-16 10:44] #7605 closed

[2018-04-16 11:50] abbeycode commented on #7577
@dnkoutso Sounds good!

[2018-04-16 11:58] sghiassy commented on #7590
Just confirming @MaximeLM's suggestion worked in a test branch to build a recognizable `xcarchive`, although I haven't been able to confirm submitting the subsequent `.ipa` build to iTunes.

For a __temp__ fix until `1.5.1`, you can run the following `sed` script:

[code]

[2018-04-16 12:06] lumialxk opened #7642 "[1.5, static libs]lib lint failed with The Swift pod `MyPod` depends upon `dependencies`, which do not define modules"
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I made a mixed Objective-C/Swift pod. With adding `use_modular_headers!` to Podfile, I had to import Swift bridge header as `#import "MyPod-Swift.h"`. The example app build successfully. And then I

[2018-04-16 12:27] abbeycode opened #7643 "Test spec succeeding locally, failing during CI"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Run a script that includes `pod lib lint --verbose | sed -l '/xctest\[/d; /^$/d'`, for pod that contains a test spec, locally in Terminal, and in Travis CI's latest Xcode environment

## What did yo

[2018-04-16 12:36] DanToml commented on #7643
Please can you try using a Gemfile to ensure the same versions of everything on CI vs locally? There's a good chance this is caused by a version mismatch or simulator issues on travis.

[2018-04-16 13:03] mdsb100 commented on #7594
Same Issue +1

@MaximeLM
@dnkoutso

Did you realize that the more serious problem is:  As a pod author, you can not limit user how to use!
[code]

[code]

So the solution is:
[code]

Another serious problem is:
When using swift, the lint function Cocoapods provide is compiled to dynamic framework?Why not lint by static framework?

Although using macros can solve this problem. When lint is a dynami

[2018-04-16 14:53] abbeycode commented on #7643
@DanToml I'm on the same versions of all the CocoaPods gems (as demonstrated with the `pod env` output). Are there other gems I should specify in a Gemfile?

[2018-04-16 15:03] dnkoutso commented on #7643
@abbeycode are you sure this is a cocoapods library issue? Seems like a CI configuration issue to me?

[2018-04-16 15:05] dnkoutso commented on #7641
Please fill in the template and provide a sample app. We cannot possibly diagnose this like this and might be a user error.

It is also better to ask these questions in StackOverflow under `cocoapods` tag. This may be a dup of https://github.com/CocoaPods/CocoaPods/issues/7590

Will re-open if you fill in the template and provide a sample app.

[2018-04-16 15:05] #7641 closed

[2018-04-16 15:09] dnkoutso commented on #7642
We might need to provide a setting in the validator to allow this since the same setting exists for a `Podfile`.

[2018-04-16 15:13] mdsb100 commented on #7594
@orta Thank you，I learned.

I think this issue could be close.

[2018-04-16 15:21] dnkoutso commented on #7577
btw @abbeycode I was just thinking we do not have to necessarily wait for my PR to do one_to_one test spec mapping to a test target.

If you want you can begin work in cocoapods-core to introduce the DSL.

[2018-04-16 15:30] betzerra commented on #6106
[code]

Uninstalled 0.2.3 and 0.2.5. Worked for me. Maybe having more than one version triggers the issue? Dunno.

[2018-04-16 15:35] nolanw commented on #7594
I disagree, this issue should remain open. The `__has_include` workaround is helpful, but forcing pod authors to deviate from Apple docs doesn’t seem great if it’s possible for CocoaPods to configure build settings appropriately. The ideal fix is to have libraries build as-is.

If that’s not possible then some documentation is probably warranted.

But I didn’t open the issue so I can’t exactly go

[2018-04-16 15:35] dnkoutso commented on #7594
Will keep it open.

[2018-04-16 16:09] mdsb100 commented on #7594
@nolanw
I think it is so hard ... But I agree you said!
I hate protobuf by using `use_framework!`. I use swift so I have to `use_framwork` until the release of cocapods@1.5.

I can finally avoid using the [disgusting macro (`GPB_USE_PROTOBUF_FRAMEWORK_IMPORTS `)](https://github.com/google/protobuf/blob/master/objectivec/google/protobuf/Duration.pbobjc.m) to use both swift and objc-protobuf. There

[2018-04-16 16:29] mdsb100 opened #7645 "use_framework! and submit for review failed in itunesconnect!"
* [x ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

use_framwork!

Upload testflight well and download it to test well.

## What did you expect to happen?

submit for review well in itunesconnect

## What happened instead?
If the frameworks are more

[2018-04-16 16:37] mdsb100 commented on #7645
I can use cocoapods@1.5 to avoid use `use_framework!` by using swift. But I really want to what happen in apple! why is 75 frameworks!

[2018-04-16 16:37] #7645 closed

[2018-04-16 16:37] dnkoutso commented on #7645
@mdsb100 please do not use this issue list for support. Please ask this question on stackoverflow under 'cocoapods' tag.

From the report this does not appear to be a cocoapods library issue. I might be wrong though so if you can reproduce and include a sample app then i will re open.

[2018-04-16 17:06] aksswami commented on #6644
Thanks @duan007a. I almost forgot this issue until I saw notification for your reply.

[2018-04-16 17:07] mixable commented on #7590
@sghiassy after running the script inside the app directory, archiving worked as expected: '*.xcarchive' is of type 'iOS App Archive' now. I was also able to upload it to the App Store and it processed without problems. Thanks a lot!!!

@jeffreyjackson for me, it was the other way round. I switched to static libraries and it stopped working...

[2018-04-16 18:48] iThinker commented on #7251
@flovilmart is it possible to do it manually in Podfile in `post_install` phase? I see that it is possible to For those who don't want to wait for patch, use new build system, and hate warnings.
Looks like it may be achieved via searching for "Foundation" in `frameworks_build_phase` and removing it directly.

[2018-04-16 19:37] abbeycode commented on #7643
@dnkoutso I'm not sure, but I'll give you the reasons I suspect so. When I run my unit tests directly (with my project's scheme), they succeed. Also, no particular unit test is failing, but the test step causes an unexpected early exit happen to happen, implying something about the way the testing is performed. Take a look at [this build](https://travis-ci.org/abbeycode/UnzipKit/builds/367249654),

[2018-04-16 19:52] #7590 closed

[2018-04-16 19:54] dnkoutso commented on #7643
have you tried `lint` locally and the tests pass?

[2018-04-16 20:47] #7596 closed

[2018-04-16 22:53] #7589 closed

[2018-04-16 23:08] dnkoutso commented on #7633
Your title says static libs but your description uses static frameworks, which one is it? I haven't looked at the sample yet.

[2018-04-17 00:37] wangjindong commented on #7641
I found it.

The following script has a problem。

`  printf "%s\0" "${XCASSET_FILES[@]}" | xargs -0 xcrun actool --output-format human-readable-text --notices --warnings --platform "${PLATFORM_NAME}" --minimum-deployment-target "${!DEPLOYMENT_TARGET_SETTING_NAME}" ${TARGET_DEVICE_ARGS} --compress-pngs --compile "${BUILT_PRODUCTS_DIR}/${UNLOCALIZED_RESOURCES_FOLDER_PATH}" --app-icon "${ASSETCATALOG

[2018-04-17 00:41] dnkoutso commented on #7641
This is most likely fixed with https://github.com/CocoaPods/CocoaPods/pull/7637 which has been merged.

[2018-04-17 00:47] wangjindong commented on #7641
oh，tks。

[2018-04-17 00:51] abbeycode commented on #7643
@dnkoutso Yes, the tests run and pass locally. That's part of what puzzles me

[2018-04-17 02:39] freezy7 commented on #7590
@dnkoutso 1.5.1 plan release at?

[2018-04-17 03:23] pmiotto opened #7647 "Website search is broken, again."
## What did you do?
Go to cocoapods.org and search for something

## What did you expect to happen?

Search results to appear

## What happened instead?

Nothing

[2018-04-17 04:00] segiddins commented on #7647
looks like aws-search.cocoapods.org just isn't responding

[2018-04-17 04:24] dnkoutso commented on #7585
@daveanderson the best way is to make a PR for it. There will be a 1.5.1 release hopefully this week (no promises).

Sorry I can't give you an ETA as most people who work on the project work on their free time.

[2018-04-17 04:30] segiddins commented on #7446
I think this is intentional -- because you're saying `inherit! :search_paths`, cocoapods is _not_ linking the frameworks into the beta target. I think you might want `inherit! :complete`

[2018-04-17 04:44] #5623 closed

[2018-04-17 04:50] segiddins commented on #7626
[code]

[code]

No difference between the two on a random pod I had lying around

[2018-04-17 04:50] #7626 closed

[2018-04-17 04:54] segiddins commented on #7609
I can't get the example project to build because it requires code signing:

[code]

[2018-04-17 04:59] dnkoutso commented on #7643
@abbeycode I assume you mean it passes locally using `pod lib lint`...

Is there a chance CI is using `pod spec lint` and the tag of your library is not updated?

I am inclined to close this since it appears that locally the test spec passes which makes me believe this is a CI configuration issue...would love to know the root cause though.

[2018-04-17 05:01] segiddins commented on #7643
is it possible an iOS simulator failed to launch on CI?

[2018-04-17 05:02] dnkoutso commented on #7617
@seuzxh will need to investigate. sorry havent had time.

[2018-04-17 05:04] robinkunde commented on #7609
Sorry, I'm not sure what the code signing settings in Xcode need to be to be completely portable. Can you try changing team and bundle ids for both the app target and extension target?
Are you building in Xcode or command line?

[2018-04-17 05:26] robinkunde commented on #7609
Depending on how you build, just turning off automatic code signing might also do the trick.

[2018-04-17 05:41] gereons commented on #7633
Sorry for the confusion. I don't really care about libaries vs frameworks, this issue is about what looks to me as a regression - compilation works when using `use_frameworks!` and fails without it.

[2018-04-17 06:57] KiranMantana opened #7648 "Cocoapods 1.5.0 not able to Generate Active Archive"
Yesterday Updated to Cocoapods 1.5.0,

Using Objective C , Xcode Version 9.2 (9C40b).

Trying to Archive the Build, But in the Organiser, the App Comes under "Other Items" and "Validate", "Download Dysms" are disabled, Only having "Export Option". Attaching the screenshot from Apple website and i am getting the Archive Screen in the same way, In lower versions, it is working fine.

Below apple Lin

[2018-04-17 08:05] wangjindong commented on #7590
${TARGET_TEMP_DIR} caused app will be black at top and bottom.

It be similar without LaunchImage。

But ${BUILD_DIR} have  no problem。
![20180417152357486](https://user-images.githubusercontent.com/4929805/38856462-1eb074b4-4259-11e8-92e5-7254a618fc4d.png)

[2018-04-17 08:15] wangjindong commented on #7590
@dnkoutso

[2018-04-17 09:08] nourallahtq commented on #6682
not working until today

[2018-04-17 09:11] nourallahtq commented on #6757
still not working until today

[2018-04-17 10:00] MaximeLM commented on #7594
@orta thanks! What I end up using in our private pod is:
[code]
Of course, this workaround is only possible for pod authors.

[2018-04-17 11:53] abbeycode commented on #7643
@dnkoutso I'm using `pod lib lint` in both places, called from the same script.

@segiddins Is there any way to affirmatively tell from the logs if a simulator crashed?

Another reason I'm disinclined to blame the CI environment is that this was happening with the Xcode 9.2/macOS 10.12 image, and continued after I upgraded to the 9.3/10.13 image.

Would either of you mind trying to run the lint yo

[2018-04-17 12:56] MaximeLM commented on #7648
Duplicate of #7590

[2018-04-17 13:28] artrmz commented on #7648
@MaximeLM Tried master version and still the same, although I am trying to export archive via command line and getting this error:

[code]

I know it's caused by one of pods (Which sadly I can not share. Also this one pod has it's own xcassets. It also depends on frameworks, vendored_frameworks and some other pods). It might be an pod's issue though... did not have time to debug it yet.

[2018-04-17 14:46] dnkoutso commented on #7648
@artrmz can you upload a sample app?

[2018-04-17 14:47] dnkoutso commented on #7590
@wangjindong this is not live support place. If you have an issue please investigate and provide a solution for others. I have no idea why this is happening.

[2018-04-17 14:51] zishanj opened #7649 "Module not found in test target"
I am receiving `No such module xxx` when I try to import `RxTest` or `RxBlocking` module in my Test target. Here is my podfile:

[code]

All other modules from non-test targets are available in test targets. Whats the issue?

[2018-04-17 14:53] dnkoutso commented on #7649
We do not know. Need a sample.

[2018-04-17 14:54] zishanj commented on #7649
@dnkoutso what type of sample?

[2018-04-17 14:54] dnkoutso commented on #7649
A sample xcodeproj showing the issue.

[2018-04-17 15:18] artrmz commented on #7648
@dnkoutso Cannot share the pod but will try to create sample app/pod that recreates the issue tomorrow.

[2018-04-17 15:51] iThinker commented on #7251
Looks like this snippet works:
[code]
Dunno how to remove only Foundation. Or maybe these targets should be removed all together per @flovilmart comment above.

[2018-04-17 15:59] dficken opened #7650 "cocoapods website search not working"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

opened browser (safari and chrome)
went to http:\\cocoapods.org
entered known pod name in search field (e.g., charts)

## What did you expect to happen?

search results to be returned

## What happe

[2018-04-17 16:01] dnkoutso commented on #7650
dup of https://github.com/CocoaPods/CocoaPods/issues/7647

[2018-04-17 16:01] #7650 closed

[2018-04-17 16:01] zishanj commented on #7649
I am using latest XCode Version 9.3 (9E145). You can put above Podfile in your project dir and run `pod install`.

[2018-04-17 16:02] flovilmart commented on #7251
On my patch, I remove afterwards the foundation framework.

[2018-04-17 16:37] MaximeLM commented on #7589
I still can't build RealmSwift with CocoaPods on the master branch. The Realm subpod defines a module map with `framework module Realm`, which is replaced by `module Realm [system]` by CocoaPods.
https://github.com/realm/realm-cocoa/blob/master/Realm/Realm.modulemap
https://github.com/CocoaPods/CocoaPods/blob/0a93634a872c5c14592f764384694023f69381b7/lib/cocoapods/installer/xcode/pods_project_gener

[2018-04-17 16:38] dnkoutso commented on #7589
1.5.1 hasn't shipped yet. did you try with latest master branch?

[2018-04-17 16:39] dnkoutso commented on #7589
Oops @MaximeLM you are right this should also be removed.

[2018-04-17 16:39] dnkoutso commented on #7589
Let me open a PR

[2018-04-17 16:40] MaximeLM commented on #7589
@dnkoutso yes I used the latest master

[2018-04-17 16:41] dnkoutso commented on #7589
@MaximeLM PR up

[2018-04-17 17:33] dylanshine opened #7652 "pod spec lint fails to parse source url"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
pod trunk push OKTableViewLiaison.podspec

## What did you expect to happen?
Cocoapod would be successfully deployed.

## What happened instead?
pod spec lint failed to parse git source url for Podsp

[2018-04-17 17:36] dnkoutso commented on #7652
The tag `1.0.0` points to `0c567c314fe738bc0aa3383aed2608ce5010b76d` which is used for cloning. In this SHA your `podspec` has `s.source https://github.com/kCupid/OKTableViewLiaison.git`

Notice the extra `k` and missing `o` from there.

Please update your tag to point to the latest one and try again.

Also please use StackOverflow under `cocoapods` tag for these types of questions.

[2018-04-17 17:36] #7652 closed

[2018-04-17 17:43] dylanshine commented on #7652
@dnkoutso I don't believe that is correct. The URL in the podspec for that SHA is

[code]

[2018-04-17 17:44] dylanshine commented on #7652
OkCupid

[2018-04-17 19:17] kevinkang88 opened #7653 "Using vendor framework in another vendor framework"
Hello,
I have a pod that encapsulates multiple frameworks.
ex) MyPod (vendored_frameworks: SNAPSDK, IVA)
IVA has files that require SNAPSDK but
when I try to deploy MyPod I get an error saying files in IVA is not able to recognize SNAPSDK framework

[code]

[2018-04-17 21:05] segiddins commented on #7653
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look like.

[2018-04-17 21:05] #7653 closed

[2018-04-17 21:53] abbeycode commented on #7643
I did more searching on the error message "Failure: No test configuration provided" and found #7608. I was able to fix it by updating my podspec target iOS 9.0 instead of 8.0. I'm not totally sure why it was succeeding locally - maybe Travis keep the old SDK around? Either way, I'm all set. Thanks for the help!

[2018-04-17 22:52] trevor-sonic commented on #7499
still the same! I search a pod, no any result returns :-/

[2018-04-18 02:17] G1King commented on #7566
@cotrim149  thank you very much! Success solved my problem.

[2018-04-18 02:52] wangjindong opened #7654 "Cocoapods1.5.0 ${TARGET_TEMP_DIR} will caused LaunchImage invalid"
${TARGET_TEMP_DIR} will caused app be black at top and bottom.

It be similar without LaunchImage。

But ${BUILD_DIR} have no problem。

I upload a sample app for this.

[Demo](https://github.com/wangjindong/CocoaPodsDemo1.5.0)

#7641
#7590

[2018-04-18 02:53] dnkoutso commented on #7654
@MaximeLM any thoughts?

[2018-04-18 03:39] kingslay commented on #7388
in podspec
`	s.pod_target_xcconfig = {
		"GCC_PREPROCESSOR_DEFINITIONS[config=Release]" => "NS_BLOCK_ASSERTIONS NDEBUG=1",
		"GCC_PREPROCESSOR_DEFINITIONS[config=Release][sdk=iphonesimulator*]" => "NS_BLOCK_ASSERTIONS NDEBUG=1",
		"GCC_PREPROCESSOR_DEFINITIONS[config=Release][sdk=iphoneos*]" => "NS_BLOCK_ASSERTIONS NDEBUG=1"
	  }`
but the result is
![image](https://user-images.githubusercontent.co

[2018-04-18 03:39] Leon16 commented on #7647
have to use another one <http://cocoapods.wantedly.com>

[2018-04-18 03:48] YouAreBaby opened #7655 "init error??"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace these two lines with what you expected to happen.
e.g. Install all pod

[2018-04-18 03:49] dnkoutso commented on #7655
Please fill in the template.

[2018-04-18 03:49] #7655 closed

[2018-04-18 05:04] freezy7 commented on #7654
I run  the demo on the iPhone X simulator, sometimes like what you say that, I think you can put the pictures of launchImage completion at Assets and then try again, my project on the 1.5.0 change ${TARGET_TEMP_DIR} did not find the problem

[2018-04-18 05:09] dnkoutso commented on #7654
@freezy7 are you saying this is not an issue with CocoaPods and its just a configuration issue with the launch images? I havent tried the sample myself yet.

[2018-04-18 05:33] freezy7 commented on #7654
@dnkoutso  I'm not sure, but when LaunchImage invalid, the debug print
` CocoaPodsDemo1.5.0[61529:20102670] +[CATransaction synchronize] called within transaction`

then I remove some empty file in LaunchImage File, it will be valid.Maybe is the LaunchImage configure Problem. My project not use the `LaunchImage` and `LaunchScreen.storyBoard`, I use `LaunchScreen.xib`, hope this can help you. @wang

[2018-04-18 06:10] wangjindong commented on #7654
@freezy7

It sometimes appear for me too.

My appstore project also have the same problem，and sometimes other images load failed when use [UIImage imageNamed:@""].

If you delete `pod 'Resources', :path => 'Resources/Resources.podspec'` or  change to ${BUILD_DIR} ，will find it to be correct.

So ,I don't think it happened because LaunchImage.

It's not just me, but my colleagues.

[2018-04-18 06:13] YouAreBaby commented on #7655
sorry，the problem was solved,its my Xcode version is too high,I updated the pods fixed

[2018-04-18 06:25] byoth opened #7656 "Could not find compatible versions for pod from several frameworks"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

I'm sorry about my poor english and basic knowledge...

# Report

## What did you do?

Run `pod install` after added various pod frameworks to Podfile.

## What did you expect to happen?

Install all pod dependencies correctly.

[2018-04-18 06:26] wangjindong commented on #7654
I understand what you mean and I will do it。

But now my` [UIImage imageNamed:@""] `and resources  are in two pod，It may be  incorrect，but I can't immediately change it .

[2018-04-18 06:27] dnkoutso commented on #7656
I think from the message the pod is not found in any of the sources. I do not remember from the top of my head if different pod versions are supported across different targets. I do not think they do.

Please also use StackOverflow under `cocoapods` tag for these kind of questions.

[2018-04-18 06:27] #7656 closed

[2018-04-18 06:28] wangjindong commented on #7654
So， why II can use ${BUILD_DIR}.

[2018-04-18 06:28] freezy7 commented on #7654
I have the same problem,  I fix it by replace `--output-partial-info-plist "${TARGET_BUILD_DIR}/assetcatalog_generated_info.plist"` with `--output-partial-info-plist "${TARGET_TEMP_DIR}/assetcatalog_generated_info.plist"` yesterday.  Not produces other problem. And now waiting for 1.5.1 release to help me.

[2018-04-18 06:36] wangjindong commented on #7654
I guess it have  images.xcassets in my pod project.

[2018-04-18 07:06] EricBup opened #7657 "Internal server error when pushing new pod"
* [ Y] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Run `pod trunk push BZButton.podspec --verbose`

## What did you expect to happen?

publish pod.

## What happened instead?

failure with instructions to check twitter for errors (none seen).
[code

[2018-04-18 07:11] EricBup commented on #7657
From 7 days ago to now.Once uploaded successfully, the version number is 1.0.1.However, it cannot be used normally and it cannot be updated.

[2018-04-18 07:36] dnkoutso commented on #7648
@artrmz you have uncovered a bug in 1.6.0 (master) I will need to fix. thanks! I know its irrelevant to this PR.

[2018-04-18 08:50] MaximeLM commented on #7589
@dnkoutso the app compiles with your fix, thank you!

Two warnings have appeared in our app:
[code]

I guess that is an issue with Realm?

[2018-04-18 09:01] artrmz commented on #7648
@dnkoutso I think I managed to find out what is causing the issue (at least in my environment). Uploading example project:

[VccExample.zip](https://github.com/CocoaPods/CocoaPods/files/1923169/VccExample.zip)

Will have to set signing/provisionnings for development first then:
[code]

From what I managed to debug seems like archive export fail when Pod contains `xcassets` file but has no `.m` sou

[2018-04-18 10:13] MaximeLM commented on #7654
@dnkoutso I can reproduce the problem with the Demo App, here's what I think happens:
* Xcode compiles the assets with the --launch-image param, adds `UILaunchImages` in ${TARGET_TEMP_DIR}/assetcatalog_generated_info.plist
* CocoaPods compiles the assets without --launch-image, overwrite ${TARGET_TEMP_DIR}/assetcatalog_generated_info.plist without `UILaunchImages`
* Xcode adds the keys in ${TARGET

[2018-04-18 11:31] reshadf commented on #4944
This still occurs for me in Xcode 9.3 cocoapods 1.3.1 any fixes yet?

[2018-04-18 13:13] MaximeLM commented on #7654
@wangjindong could you replace `${TARGET_TEMP_DIR}/assetcatalog_generated_info.plist` with `${TARGET_TEMP_DIR}/assetcatalog_generated_info_cocoapods.plist` in your Podfile, make a clean build and see if it fixes the problem?

[2018-04-18 13:59] wangjindong commented on #7654
oh,very nice. It work for me.
Tks and I will test again.

[2018-04-18 14:36] segiddins commented on #7589
No, it’s a CocoaPods issue that we don’t know how to fix for static libraries

[2018-04-18 14:53] dnkoutso commented on #7654
@MaximeLM great, so we think we should just use a different output name?

[2018-04-18 14:57] dnkoutso commented on #7654
@MaximeLM does using a different filename still work for all other cases? or should we use the same filename and use pass `--launch-image`?

[2018-04-18 15:00] MaximeLM commented on #7654
@dnkoutso yes, since the file generated by CocoaPods can mess the Xcode build phase if think it's better to use a different output name. According to the docs http://www.manpagez.com/man/1/actool/ it is only used for app icons and launch images, CocoaPods does not need it.
[code]
But maybe we should also use `--launch-image` in the CocoaPods script. There may be an issue with tvOS:
[code]

[2018-04-18 15:07] dnkoutso commented on #7654
@MaximeLM care to make a PR that changes the output file and ensuring that it works on the other cases?

Additionally, really thank you for digging this stuff and helping, please feel free to take your time and if you can't I will make the PR eventually. Just doing too much stuff at the moment...

[2018-04-18 15:07] dnkoutso commented on #7654
I also think we should skip the `--launch-image` option

[2018-04-18 15:56] MaximeLM commented on #7654
@dnkoutso I'll do the PR, no problem :)

[2018-04-18 18:48] dnkoutso commented on #7654
@MaximeLM thanks you!

[2018-04-18 19:16] #7654 closed

[2018-04-19 01:36] ccwinner commented on #3708
I met the same problem while dealing with C++ headers with no extension, the headers are all within a self-wrapped repository which keeps being updated with a third-party repo., so the renamed trick is not a good idea.

[2018-04-19 05:03] artrmz commented on #7648
@dnkoutso Just tried the newest master and both my issues are gone, thanks!

[2018-04-19 05:04] sushant40 commented on #7647
@segiddins - happy to help out to make search more robust. Though I don't know where to start... can you point me in the right direction please?

[2018-04-19 05:41] cikichen opened #7662 "xcode9+cocoapods1.5.0 pod spec lint failed"
[code]

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

[2018-04-19 06:08] dnkoutso commented on #7662
The error message clearly says what is wrong.

Please also use StackOverflow under `cocoapods` tags for these questions.

[2018-04-19 06:08] #7662 closed

[2018-04-19 06:08] dnkoutso commented on #7648
awesome!

[2018-04-19 06:08] #7648 closed

[2018-04-19 06:36] dnkoutso commented on #7619
@bryanboyko for 1.6.0 all of the build settings are being re-written. Sorry haven't had time to look over this issue.

[2018-04-19 06:37] dnkoutso commented on #7619
@bryanboyko from a very quick look this might be fixed by the build settings revamp https://github.com/CocoaPods/CocoaPods/pull/7631

[2018-04-19 06:53] cikichen opened #7663 "pod spec lint failed, but pod lib lint validation."
My spec file:
[code]

[code]

but
[code]

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

[2018-04-19 06:58] dnkoutso commented on #7663
Please do not keep filing the same issue.

Remove the line:
[code]

[2018-04-19 06:58] #7663 closed

[2018-04-19 06:59] dnkoutso commented on #7663
`spec lint` clones the repo at the tag, it is possible that your tag is not pointing to the SHA you expect.

`lib lint `does it using the local sources.

[2018-04-19 11:27] Anobisoft commented on #7606
can i fix that in podspec?

[2018-04-19 13:10] sushant40 commented on #7647
Has anyone looked at moving the search and index out into something like https://www.algolia.com/

Its free to use for open source so licensing shouldn't be a problem for CocoaPods. Very fast and very reliable.

[2018-04-19 13:11] piercifani opened #7664 "[1.5, static libs] Tests not compiling with static libraries"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Execute unit tests for a library
## What did you expect to happen?

Unit tests are linked and executed correctly
## What happened instead?

The tests fail to link because it can't find the pod's sym

[2018-04-19 14:56] deanWombourne commented on #5678
@winddpan FYI: This fixed it for me using cocoapods 1.5.0 -> https://github.com/CocoaPods/CocoaPods/issues/7606#issuecomment-381279098

[2018-04-19 15:27] dnkoutso commented on #7664
@piercifani definitely can reproduce but trying to figure this out. From a linking perspective CocoaPods will *not* link static libraries to your test bundle *and* your app host otherwise you would get a bunch of warnings of having duplicate symbols.

This is why you do not see the `OTHER_LDFLAGS` in the test xcconfig.

[2018-04-19 15:37] dnkoutso commented on #7664
@piercifani as suspected if I manually add the linker flags:
[code]

[2018-04-19 15:50] piercifani commented on #7664
Definitely there's not an easy way out here.

How did Cocoapods do this pre-Swift and `use-frameworks!`?

[2018-04-19 15:52] dnkoutso commented on #7664
@piercifani if you `use_frameworks!` we still include `-framework` for test bundles and the compilation works and without warnings. The reason for this is because dynamic frameworks are loaded once at runtime and therefore it works.

I am just puzzled here on which way to go...

[2018-04-19 15:56] piercifani commented on #7664
Exactly.

Maybe create a dummy test target app and link required frameworks there?

[2018-04-19 16:05] dnkoutso commented on #7664
well this is your own test bundle in your own project so you get to choose the app host. I do not think CocoaPods should make that decision for you.

I am guessing here...but wonder if this is an Xcode issue with Swift Static libs and modules? This is the easiest case, it should just work.

Your workaround for now is to use dynamic frameworks unfortunately.

[2018-04-19 16:11] dnkoutso commented on #7664
@piercifani another thing is...can this be reproduced without CocoaPods? Using a normal Xcode app target that links a Swift Static lib and then a test bundle that imports it but does not link it.

[2018-04-19 16:28] paulb777 commented on #7664
I'd recommend that any acceptable solution only link the libraries once.  People quickly ignore the double link warning and it leads to subtle test failures.

In testing 1.5.0 with Firebase, we discovered that CocoaPods was double linking our static library build test build and it led to subtle test failures primarily from `isKindOfClass` behaving randomly.  That issue was fixed in #7601.

[2018-04-19 16:42] dnkoutso commented on #7664
I am actually referring to reproduce it *without* double linking.

@piercifani a workaround also is to remove `inherit! :search_paths` from your test targets in your `Podfile`. This will cause it to add the linker flags but you will get the warnings.

[2018-04-19 16:43] dnkoutso commented on #7664
And I agree, we should not double link.

[2018-04-19 20:26] nebiros commented on #7606
@Anobisoft no idea, but I add @soleares workaround, https://github.com/CocoaPods/CocoaPods/issues/7606#issuecomment-381279098, it worked, :)

[2018-04-19 20:50] #7576 closed

[2018-04-20 03:21] huxiaoluder opened #7667 "An Pod Error!!!!!!!!!!!!!!"
my project import grpc, so there are many interface modules, when I Achive it's error:
[code]
Now, I remove some modules to resolve the error, but it's not good idea.
Please help me!
What should I do?

[2018-04-20 03:22] #7667 closed, assigned to nobody

[2018-04-20 04:11] OneWang opened #7668 "pod search marqueeview error,this pod is made by myself,but it doesn't work;I have try anything;"
pod search marqueeview

――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[!] Oh no, an error occurred.

Search

[2018-04-20 04:13] dnkoutso commented on #7668
Please file an issue on https://github.com/CocoaPods/cocoapods-search repo

[2018-04-20 04:13] #7668 closed

[2018-04-20 08:06] piercifani commented on #7664
I did not know that removing the `inherit! :search_paths` to the Test Target would add the right flags to `OTHER_LDFLAGS`.

Doing this and setting the host app for tests to None (which is a good idea for isolated code as libraries anyway) makes the tests run correctly and no warnings for double linking. I'll be doing this until 1.5.1 is shipped with https://github.com/CocoaPods/CocoaPods/pull/7601

[2018-04-20 08:06] #7664 closed

[2018-04-20 11:23] changsanjiang opened #7669 "Internal Server Error"
hello there, this link error: https://cocoapods.org/owners/22316  why?

[2018-04-20 14:54] drpjcohen opened #7670 "Cocoapods search isn't working"
* [ X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
Typed in various words and hit Enter

## What did you expect to happen?
Thought it would show a list of pods matching the search term

## What happened instead?
nothing

## CocoaPods Environment
coc

[2018-04-20 14:54] dnkoutso commented on #7670
Dup https://github.com/CocoaPods/CocoaPods/issues/7647

[2018-04-20 14:54] #7670 closed

[2018-04-21 02:35] SunnyLinSD opened #7672 "pod install have a error, Net::OpenTimeout - execution expired"
When I use pod install to install pod to my project, I get the following error:
[code]
My CocoaPods and Mac infomation:
[code]

[2018-04-21 03:08] #7672 closed

[2018-04-23 05:27] PadraigK commented on #7584
We're hitting this too.

[2018-04-23 09:24] SunnyMxj opened #7674 "file not found error"
# Report

## What did you do?

ℹ Run `pod install` to update framework

## What did you expect to happen?

ℹ project build success

## What happened instead?

ℹ project build error in pch file with message "xxx.h file not found"
but if commit&push code to git, other mac may build success
and after several times delete pod and "pod install" may fix this

## CocoaPods Environment

ℹ    CocoaPods : 1

[2018-04-23 14:25] dnkoutso commented on #7674
Please fill in the full template including a sample app. We are unable to diagnose issues with the given information.

Also better to ask StackOverflow under `cocoapods` tag.

[2018-04-23 14:25] #7674 closed

[2018-04-23 22:10] bryanboyko commented on #7619
@dnkoutso no worries.

Looking forward to the next Cocoapods release.

[2018-04-23 23:22] #7669 closed, assigned to nobody

[2018-04-24 01:07] dmalone08 opened #7675 "The operation couldn’t be completed. (CocoaPods.CPPodfileInitErrors error 0.)"
* [ x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ I tried to create a New Podfile From Xcode Project

## What did you expect to happen?

ℹ I expected to open a install screen.

## What happened instead?

ℹ I got this error "The operation couldn’

[2018-04-24 01:26] dnkoutso commented on #7675
Fill in the template please.

[2018-04-24 01:26] #7675 closed

[2018-04-24 03:47] dmalone08 opened #7676 "The operation couldn’t be completed. (CocoaPods.CPPodfileInitErrors error 0.)"
# Report

## What did you do?

ℹ I tried to create a New Podfile from Xcode Project.

## What did you expect to happen?

ℹ I expected for the Install window to open.

## What happened instead?

ℹAn error window opened up saying "The operation couldn’t be completed. (CocoaPods.CPPodfileInitErrors error 0.)"

## CocoaPods Environment

ℹ CocoaPods : 1.4.0
        Ruby : ruby 2.2.6p396 (2016-11-15 rev

[2018-04-24 04:28] dmalone08 commented on #7676
Yes I'm using the app. I haven't been able to add a Podfile and I have been trying all day. I have uninstalled and reinstalled the app to no avail.

[2018-04-24 04:31] dnkoutso commented on #7676
@dmalone08 use command line?

[2018-04-24 04:35] dmalone08 commented on #7676
Just the app. I haven't tried command line.

[2018-04-24 04:45] dnkoutso commented on #7676
I am uncertain. The app is in a different repo this is more about the library itself. Command line should work fine.

[2018-04-24 05:31] hanil1207 opened #7677 "https://github.com/CocoaPods/CocoaPods/search?q=Illformed+requirement+%60%22%7E%3E+r2.0%22%60&type=Issues"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace these two lines with what you expected to happen.
e.g. Install all pod

[2018-04-24 05:32] dnkoutso commented on #7677
please fill in the template.

[2018-04-24 05:32] #7677 closed

[2018-04-24 05:34] hanil1207 commented on #7677
### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[!] Oh no, an error occurred.

[2018-04-24 05:35] dnkoutso commented on #7677
[code]

[2018-04-24 06:36] askari01 commented on #7647
it is still down

[2018-04-24 06:45] mkubista commented on #7647
Is here anybody, who knows, how to fix this? I would be very happy to help solve this, but as mobile developer  have no clue right now what is happening. As somebody mentioned the search engine is down. Am I right that it is hosted on https://www.cloudflare.com/? Does somebody know if the search engine is overloaded, turned off or there is some bug?

[2018-04-24 07:44] orta commented on #7647
I've left notes about porting it to algolia, https://github.com/CocoaPods/cocoapods.org/issues/356 - which is open for someone to pick up

[2018-04-24 07:45] kiraninfogird commented on #2053
**_Deleted pods folder and Podfile.lock and did a pod install and repeated the above setting..._**

It's working now...!
Thanks...

[2018-04-24 08:12] jeffayan opened #7678 "Error Pod init"
――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[!] Oh no, an error occurred.

Search for existing GitHub issu

[2018-04-24 08:15] jeffayan commented on #7678
Issue Fixed on updating pod

[2018-04-24 08:15] #7678 closed

[2018-04-24 09:14] H2CO3 opened #7679 "`pod install` deletes references to framework listen in Podfile; workspace fails to find it"
* [√] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md). 🌈

# Report

## What did you do?

I had a working CocoaPods project in Swift, with several pods installed. A colleague and I've been building it successfully since forever. Yesterday, another coworker of mine freshly cloned our re

[2018-04-24 09:53] wangjindong commented on #7642
@dnkoutso  DEFINES_MODULE => 'YES' no work for me.

[2018-04-24 10:57] misteu commented on #7647
In the meantime, I found this terminal command quite helpful:

make sure to use --simple, otherwise it is very slow because of it indexing the master repo.

[2018-04-24 11:00] janbaz87 commented on #5728
Just remove .swift from  s.source_files it will work

[2018-04-24 11:32] dmalone08 commented on #7676
That did.

[2018-04-24 12:35] guillaumealgis commented on #5589
Still waiting for activity on #6401.

[2018-04-24 12:56] EmperiorEric commented on #6891
Was using 1.4.0 and just upgraded to 1.5.0 and this seems to be broken again using Xcode 9.3 and the latest version of Firebase.

To be specific, this issue appears to have come back. https://github.com/firebase/firebase-ios-sdk/issues/58

[2018-04-24 15:02] dnkoutso commented on #7679
@H2CO3 these issues are often hard to debug and diagnose without a sample demonstrating the issue.

If possible try to reduce your problem into a smaller sample you can provide us.

Going to keep it open until a sample is provided.

[2018-04-24 15:13] H2CO3 commented on #7679
Thanks for getting back to us so quickly! In the meantime, we found that the issue was with the given pod's specification. We fixed it by adding an explicit git repository URL and tag to the entry in the Podfile.

[2018-04-24 15:13] #7679 closed

[2018-04-24 15:17] dnkoutso commented on #7679
excellent!

[2018-04-24 15:19] jmkk commented on #7586
This change should not be applied to all spec repos, only to the master repo.
I noticed with this change it lowercased a path to our custom repo which will break on case-sensitive filesystems @dnkoutso FYI.

[2018-04-24 16:02] dnkoutso commented on #7586
@hmps can you point me to the CircleCI issue you have opened?

[2018-04-24 23:46] ygornascimento commented on #7647
Same problem here in Brazil.  I'm not an expert but, I'd like to help you guys to solve the problem.

[2018-04-25 02:15] JDongKhan opened #7683 "Unable to lint a pod that requires modular headers"
# Report

## What did you do?

`pod lib lint SportsKit.podspec  --allow-warnings --verbose --use-libraries `

## What did you expect to happen?

lint success！！！

## What happened instead?

The Swift pod `SportsKit` depends upon `YYImage`, which do not define modules. To opt into those targets generating module maps (which is necessary to import them from Swift when building as static libraries), y

[2018-04-25 06:39] Coeur opened #7685 "ld: library not found for -ljpush-extension-ios-1.1.1"
* [🌈] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

* I made a new podspec with just a `.a` and a `.h`.
* I referenced it in my podfile. `pod install` is working.
* I added a bridging header in my Swift project.

## What happened?

## CocoaPods Envir

[2018-04-25 07:19] Coeur opened #7686 "`pod lib lint` fails because it doesn't download source"
* [🌈] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

`pod lib lint`

## What happened instead?

The `source` of the podspec were not downloaded at all, so linting cannot be accomplished properly.

## CocoaPods Environment

CocoaPods 1.5.0

### Podspec

[2018-04-25 07:24] orta commented on #7686
I'd love a PR to `pod lib lint` that does some detection before running the linter to see if someone really should be using `pod spec lint` ( e.g. verify the tag exists, or the files exist locally )

[2018-04-25 07:25] Coeur commented on #7685
It may, or may not be a duplicate of #6409. I'll attempt @crsantos workaround with 2 podspecs instead of one.

[2018-04-25 07:33] Coeur commented on #7686
OK

[2018-04-25 07:33] #7686 closed

[2018-04-25 07:35] Coeur commented on #7685
I got the same error with `pod spec lint`

[code]

[2018-04-25 07:39] hmps commented on #7586
Sorry @dnkoutso, can't do that due to it containing information that is private to my employer.

I can create a "clean" version of it and post it on their forum though. They're usually pretty responsive there. Would that help?

[2018-04-25 09:50] VishnuMU commented on #6092
Just to add, I'm facing this issue which is **not** using CocoaPods too.

[2018-04-25 15:47] bryanboyko opened #7687 "Pod install embeds a pod into a Swift framework binary instead of linking it"
# Report

## What did you do?

1. Created a dynamic framework called FrameworkNoFAN
2. Build FrameworkNoFAN
3. Note that FrameworkNoFAN binary is 14KB

4. Created a dynamic framework called FrameworkWithFAN
5. Pod install FBAudienceNetwork into FrameworkWithFAN
6. Build FrameworkWithFAN
7. Note that FrameworkWithFAN binary is 3.6MB

8. Create an app called AppWithFANAndFrameworkWithFAN
9. Manually

[2018-04-25 19:27] pelmegov commented on #7025
I am also experiencing the same error but with other GitHub repo - `git clone https://github.com/elastic/elasticsearch.git`.
Does anyone know the solution?

[2018-04-26 01:56] amorde commented on #7683
Think this is related: https://github.com/CocoaPods/CocoaPods/issues/7642

[2018-04-26 08:01] freak4pc opened #7689 "Playgrounds regression between CocoaPods 1.4.0 and CocoaPods 1.5.0"
🌈

* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

We've shipped a playground with a framework embedded using CocoaPods. It worked very well and then we started getting reports from users not being able to execute it. When digging deeper it seems there's some regress

[2018-04-26 08:01] freak4pc commented on #5334
@mgrebenets There's a regression in 1.5.0. I've opened an issue here, feel free to +1 it: https://github.com/CocoaPods/CocoaPods/issues/7689

[2018-04-26 08:21] tonifirnandes opened #7690 "Can't search anything"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

We are trying to search some pods on web with basic key "ex: image" (https://cocoapods.org/?q=IMAGE)

## What did you expect to happen?

Result of the pods

## What happened instead?

Nothing shown,

[2018-04-26 08:29] ohadcn opened #7691 "please use `--depth 1` when cloning with git"
`pod install` or `pod setup` can install directly from a git repo, which is great.
But why does it needs to download the whole git repo? all commits history? Cloning the last revision (shallow clone) is enough, much faster and take much less network bandwidth / disk space.
Use `--depth 1` when cloning with git.

[2018-04-26 11:58] flovilmart commented on #7251
I opened a PR, but we’ll go with a different resolution #7570

[2018-04-26 12:05] matteocollina commented on #483
This is my gist that makes .app for simulator : https://gist.github.com/matteocollina/8d0fe3a569695b2924654975046da2fe

[2018-04-26 14:57] dnkoutso commented on #7691
Please see this issue. This is intentional but `--depth 1` *is* being used during installation, not repo installation.

https://github.com/CocoaPods/CocoaPods/issues/7280

[2018-04-26 14:57] #7691 closed

[2018-04-26 14:57] dnkoutso commented on #7690
Dup https://github.com/CocoaPods/CocoaPods/issues/7647

[2018-04-26 14:57] #7690 closed

[2018-04-26 14:58] dnkoutso commented on #7689
Can you just use plain old `diff` instead of `xcodeproj project-diff`?

[2018-04-26 15:12] freak4pc commented on #7689
The main difference I'm seeing is a missing "Copy Pods Resources" phase in 1.5.0 for the generated workspace. Wondering if that correlates?

[code]

Also noticed the `Pods-` script has some differences related to frameworks:
<img width="1134" alt="1edf58a1-6bf4-4f60-9597-54c8d80d28d5" src="https://user-images.githubusercontent.com/605076/39314496-0a830f08-497d-11e8-8035-56e0d78e8399.png">

In the

[2018-04-26 15:16] dnkoutso commented on #7689
The removal of the script phase is probably OK. If there are no resources to copy then the phase is not needed. The rest I have to investigate.

[2018-04-26 15:17] freak4pc commented on #7689
HEADER_SEARCH_PATH missing might also be a good lead to follow. Thanks for your time and help, I'll be following here. Let me know if I can provide any more help :)

[2018-04-26 15:32] freak4pc commented on #7689
Doesn't seem to help. It's probably one of the other files, perhaps the Pods.xcodeproj/project.pbxproj but just applying these changes breaks the project totally

[2018-04-26 15:46] #7649 closed

[2018-04-26 21:43] CrazyPython commented on #7046
[Homebrew](https://github.com/Homebrew/homebrew-core) doesn't use a centralized server and it doesn't use a lot of space for its build details- perhaps cocoapods could do what homebrew does?

[2018-04-26 21:50] amorde commented on #7046
@CrazyPython actually Homebrew basically does the same exact thing that CocoaPods does. The reason it doesn't require as much space is that the number of specs is significantly fewer than the number of Podspecs.

[2018-04-27 01:46] c3stream commented on #7647
https://github.com/CocoaPods/cocoapods.org/issues/356

When do you expect the problem to be resolved?

[2018-04-27 02:01] crespoxiao opened #7693 "latest version 1.5.0 bug on Jenkins with error message "You have to provide a value for either the marketing or technical version. Found neither.""
hi , Jenkins build error, cocoapods version was 1.5.0.
when I switch to the version 1.2.1, pod install && pod update, Jenkins build succeed.

check the discussion: https://issues.jenkins-ci.org/browse/JENKINS-26368
please let me know when you guys fix this problem. thank you.

[2018-04-27 02:15] segiddins commented on #7693
What does this have to do with CocoaPods the tool?

[2018-04-27 03:40] dnkoutso commented on #7693
The discussion linked is from 2015. I am sorry we cannot do anything with this information. Please file a new issue with the template, explaining the problem and provide a sample app.

[2018-04-27 03:40] #7693 closed

[2018-04-27 03:41] EricBZH opened #7694 "Internal server error when pushing new pod"
# Report

## What did you do?

Run pod trunk push BZCategory.podspec --verbose

## What did you expect to happen?

publish pod.

## What happened instead?

failure with instructions to check twitter for errors (none seen).

[code]

## CocoaPods Environment

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

## Project that demonstrates the issue

https://github.com/EricBZH/BZ

[2018-04-27 04:09] dnkoutso commented on #7694
You have already filed an issue here https://github.com/CocoaPods/CocoaPods/issues/7657 maybe same team or same person. Please use the other issue to add to it instead of filing a new one.

[2018-04-27 04:09] #7694 closed

[2018-04-27 06:28] EricBZH commented on #7657
Could you please check it for me? Is my account blacklisted? Because I have always had this problem, and I have already found many answers to this type of question. I can only re-upload with a new GithHub account, and the results won't work.

[2018-04-27 06:29] EricBZH commented on #7657
@dnkoutso Could you please check it for me? Is my account blacklisted? Because I have always had this problem, and I have already found many answers to this type of question. I can only re-upload with a new GithHub account, and the results won't work.

[2018-04-27 06:51] EricBZH commented on #7694
@dnkoutso  Could you please check it for me? Is my account blacklisted? Because I have always had this problem, and I have already found many answers to this type of question. I can only re-upload with a new GithHub account, and the results won't work.

[2018-04-27 06:54] bryanboyko commented on #7687
I realize I didn't understand how static/dynamic/frameworks/libs worked and how it applied to the case I listed above.

Here's what I was missing:
- FAN pod is a vendored static framework, meaning that it has the structure of a vendored framework, but the binary executable inside is a static lib instead of a dynamic lib
- Static binary dependencies are always compiled into the binary of a parent s

[2018-04-27 06:55] EricBup commented on #7657
@dnkoutso Could you please check it for me? Is my account blacklisted? Because I have always had this problem, and I have already found many answers to this type of question. I can only re-upload with a new GithHub account, and the results won't work.

[2018-04-27 06:57] EricBZH commented on #7694
@dnkoutso Could you please check it for me? Is my account blacklisted? Because I have always had this problem, and I have already found many answers to this type of question. I can only re-upload with a new GithHub account, and the results won't work.

[2018-04-27 07:06] bryanboyko commented on #7687
After leaning more about frameworks, it sounds like Cocoapods is behaving as it should in relation to my above question so it makes sense to close this out?

I just need to figure out a way to build FrameworkWithFAN so there are no linker errors when it's installed into AppWithFANAndFrameworkWithFAN..

Maybe make FrameworkWithFAN also as a static lib? There will be no runtime linker errors if FAN

[2018-04-27 09:37] litmanenPL commented on #7689
`CODE_SIGNING_ALLOWED` flag seems to be an issue here similarly like in #7606
Post install hook solution for this can be found [here](https://github.com/CocoaPods/CocoaPods/issues/7606#issuecomment-381279098)

[2018-04-27 12:05] mgrebenets commented on #7689
@litmanenPL I've just tried the workaround and it worked. Thanks!

[2018-04-27 12:09] freak4pc commented on #7689
@dnkoutso The workaround suggest above (@litmanenPL) does resolve the issue

[code]

[2018-04-27 15:04] zippo227 commented on #5334
@adc-amatosov what exactly does this do. Should I add it?

[2018-04-27 23:13] jusher opened #7696 "I cannot access search.cocoapods.org"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I tried to add the docsets for Realm and RealmSwift to Dash.
I also tried searching for CocoaPods on cocoa pods.or.  The search does not work.

I expected that the docs would be added.

## What happ

[2018-04-28 02:26] YouZoudeFish opened #7697 "RuntimeError - [Xcodeproj] Unknown object version."
### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[2018-04-28 02:27] YouZoudeFish commented on #7697
HELP!!! just build a new project-vim Podfile-pod install , then the error.....

[2018-04-28 02:30] YouZoudeFish commented on #7697
I have tried:gem install cocoapods --pre,but did not resovle the problem.

[2018-04-28 02:33] dnkoutso commented on #7697
`gem update xcodeproj`, must use version 1.5.7.

[2018-04-28 02:33] #7697 closed

[2018-04-28 02:33] dnkoutso commented on #7697
Also update to use cocoapods 1.5.0.

[2018-04-28 02:43] YouZoudeFish commented on #7697
<img width="566" alt="image" src="https://user-images.githubusercontent.com/13774334/39391078-b7562aae-4ad0-11e8-99d4-73566316ee4f.png">
cocoapods only can update to 1.4.0 beta.1....

[2018-04-28 02:55] YouZoudeFish commented on #7697
OMG.....I just fixed the problem.Too many posting on the internet suggest the operation：gem install cocoapods --pre
But it doesn't work for me!
If you encounter the same probem likes me,try this
<img width="432" alt="image" src="https://user-images.githubusercontent.com/13774334/39391206-884bd9be-4ad2-11e8-971c-e87ee4f9f1b4.png">

My xcode version is 9.3,so the project format settint would be :Xco

[2018-04-28 02:59] YouZoudeFish commented on #7697
@dnkoutso thanks for your help!!!

[2018-04-28 03:03] dnkoutso commented on #7697
<3 <3

[2018-04-28 03:08] oneGain commented on #7697
OMG,Amazing! But,I want know why

[2018-04-28 03:12] YouZoudeFish commented on #7697
@oneGain don't understand clearly,supposed to be the Compatibility

[2018-04-28 11:35] yanzhiwei147 commented on #7383
Sorry, this issue continue to occur.

I try change the file `lib/cocoapods/installer/user_project_integrator/target_integrator.rb`:
1. Set `MAX_INPUT_OUTPUT_PATHS  = 200`, this issue resolved.
2. Set `MAX_INPUT_OUTPUT_PATHS  = 1000`, this issue reappear.

My project own about 348 item `resource.bundle`, but each input like `"${PODS_ROOT}/../myapp/Resources/i18n/com.xx.yy.component.my-exam-player_i

[2018-04-28 12:28] jbarros35 commented on #3955
Doesn't look clear to me

[2018-04-28 12:42] jbarros35 opened #7699 "[!] An unexpected version directory `Assets.xcassets` was encountered for the PATH Pod in the `POD` repository."
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace these two lines with what you did.
e.g. Run `pod install`

Created two projects, one for some sort of lib, and a pod spec, successfully put those on my local ssh git server
[code]
T

[2018-04-28 12:46] jbarros35 commented on #1415
I still reproduce it I'm pretty sure. Installed this today and still running and copied exactly the same code on documentation.
That's happen today.

[2018-04-28 14:57] dnkoutso commented on #7699
Have you checked what SHA "1.0.0" points to?

`pod spec lint` will actually clone your repo at the specified tag.

Also please upload a sample app.

@jbarros35 I am going to close it as right now I do not see a CocoaPods library issue. I will re-open this  if you attach a sample app showing the issue.

[2018-04-28 14:57] #7699 closed

[2018-04-28 19:56] IbrahimDesouky72 commented on #7606
after building the stars did not appear in the view

[2018-04-29 15:26] Yourney commented on #7111
I use Cocoapods 1.5.0 and today I again received the 'Too many symbol files' email from Apple.
Is there anything that I should do after updating cocoapods? I did:
- pod update
- pod install
- clean build folder
- archive

pod --version returns 1.5.0.

Thanks!
Wouter

[2018-04-29 17:08] dnkoutso commented on #7111
@Yourney please provide a sample app and demonstrate the issue clearly.

[2018-04-29 21:03] onmyway133 commented on #7689
I had this problem too. You can see my article and my demo here https://medium.com/flawless-app-stories/playground-driven-development-in-swift-cf167489fe7b. My workaround for now is to specify CocoaPods 1.4.0

[2018-04-30 05:19] Neha1211 opened #7700 "Can't update pod file"
――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[!] Oh no, an error occurred.

Search for existing GitHub issues similar to yours:
https://github.com/CocoaPods/CocoaPods/search?q=Illformed+requirement+%60%22%3D+3.1.%2FUsers%2Fusername%2FDesktop%2FFolder%2FProjectName%2FPodfile0%22%60&type=Issues

If none exists, create a ticket, with the template displayed above,

[2018-04-30 05:56] dnkoutso commented on #7700
please fill in the template properly

[2018-04-30 05:56] #7700 closed

[2018-04-30 10:08] ppamorim commented on #7647
Still broken, trying to access it on Ireland.

[2018-04-30 10:10] av089 commented on #7647
@ppamorim I think it will never come again!
please move to Carthage, which is far best than this...

[2018-04-30 10:55] matti777 commented on #4605
I notice this issue is still open. :) I am now using the following setup - in my FooService.podspec I have:

[code]

And in the user target (the app using the gRPC pod) I simply add a User Header Search Path:

`$(PODS_ROOT)/FooService`

Still hacky.

- M

[2018-04-30 14:37] sirghi opened #7701 "When building pods as static libraries, a dynamic vendored_framework cannot link to its dependencies, which are also static"
* [✓] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md). 🌈

# Report

## What did you do?

I've removed use_frameworks! with the adoption of 1.5.0 in order to build the pods as static libraries. But I have a 3rd party pod that's delivered in binary form as a dynamic framework (using the

[2018-04-30 14:42] dnkoutso commented on #7701
@sirghi thanks for the report, I believe this has been fixed already on master, can you try it?

[2018-04-30 16:20] capnslipp opened #7702 "“pod search --web «search text»” Command Pukes"
### Command

[code]

### Report

* What did you do?

Ran `pod search --web Funky`

* What did you expect to happen?

It would show me all available pods matching the search.

* What happened instead?

The error message came up with this template and links to search for pre-existing issues (didn't find any) and to create this issue.

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2018-04-30 16:21] #7702 closed, assigned to nobody

[2018-04-30 16:28] capnslipp commented on #7702
Honestly, your “not my problem” attitude isn't appreciated.  And in this case, it's not my problem either— I don't use CocoaPods regularly _(Carthage is my jam)_ and whenever I do have to use CocoaPods for something, I'm reminded of the 2 main reasons why I'm better off without— CocoaPods has always been and still is buggy buggy buggy; and the CocoaPods developer community is fairly standoffish.

[2018-04-30 16:40] orta commented on #7702
Hey @capnslipp - thanks for the issue. Yeah, it can be tough to maintain a project with as many users as CocoaPods has in our spare time, and I'm sorry that we can tend to be curt occasionally. We get a lot of issues and comments per day, which can make it hard to take the time each deserves.

In this case, I'll re-create your issue on the search repo.

[2018-04-30 16:47] dnkoutso commented on #7702
@capnslipp I'll admit I have become a bit "trigger happy" on closing issues, primarily because there are so many of them filed within this library. Apologies if this comes off harsh.

The ask to file the issue in the other repo is for organization purposes mostly. This repo is often used as a catch all for all issues related to CocoaPods. Second of all search is down which is a known issue (https:

[2018-04-30 17:34] capnslipp commented on #7702
I hear what you're saying, but I want to reiterate that I posted this issue as a courtesy to you, the maintainers.  I don't depend on this working, and I could've just shrugged off the error.

In terms of the maintainers not gaining anything from people using CocoaPods— I could not disagree with you more.  Sure, you're not gaining anything monetarily, but the continued use of CocoaPods by a commun

[2018-04-30 18:36] dnkoutso commented on #7702
All that was asked was from you was to move this issue under a different repo, where it belongs, because of the fact that you as a user of any of these tools might not know the structure of the project. Nobody expects you to know them so I guided you on what to do. Do note that my initial comment has never been edited to make it appear more polite.

I think what mostly triggered you was the fact t

[2018-04-30 19:56] segiddins commented on #7685
The library is mis-named, it should be `libjpush-extension-ios-1.1.1.a` instead of `jpush-extension-ios-1.1.1.a`

[2018-04-30 20:07] jlubeck opened #7703 "ld: warning: directory not found for option '-F'"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I created a new empty project and installed a bunch of libraries with a Podfile

## What did you expect to happen?

Install everything correctly (which it did) and not have any warnings on build.

#

[2018-04-30 20:07] jlubeck commented on #4651
Ok, I just did: https://github.com/CocoaPods/CocoaPods/issues/7703

Thanks!

[2018-04-30 20:09] dnkoutso commented on #4651
@jlubeck thank you!

[2018-04-30 20:17] jlubeck commented on #7703
Interestingly, there are SOME pods that are not throwing the warning:

    pod 'SwiftLint'
    pod 'Fabric'
    pod 'Crashlytics'
    pod 'OneSignal', '>= 2.6.2', '< 3.0'
    pod 'OpenTok'

all the others are throwing it... Not sure if that helps in finding the issue...

[2018-05-01 02:15] Asinox commented on #7574
Any fix about this?

[2018-05-01 05:44] segiddins commented on #7574
No, we still haven't received a sample project that reproduces the issue

[2018-05-01 06:05] segiddins commented on #7701
This cannot work. Either the vendored framework needs to be built to be static, or you need to build its dependencies as frameworks

[2018-05-01 08:16] mbaltaks commented on #6664
For a workaround while you wait (for those coming from a search engine about this issue):

[code]

Adjust for the xcconfig files that are causing the warnings for you.

[2018-05-01 11:42] Abhishek-NickelFox commented on #2053
@kiraninfogird : Thanks Alot !!!! :)

[2018-05-01 14:16] Coeur commented on #7685
@segiddins thank you. I didn't know I had to prefix static libs with `lib` for CocoaPods. I'll add a rename script in `prepare_command`.

[2018-05-01 14:29] AlessandroRiet opened #7704 ""this target might include its own product" for nib in dependency"
Hi everyone

I created a podspec file that includes the dependencies

	s.dependency 'CountryPickerSwift', '~> 1.4'
	s.dependency 'PhoneNumberKit', '~> 2.1.0'

When I try to build I get these errors:

Unable to run command 'StripNIB CountryView.nib' - this target might include its own product.
Unable to run command 'StripNIB CountryView~iphone.nib' - this target might include its own product.
Unabl

[2018-05-01 14:32] segiddins commented on #7685
It’s not just for CocoaPods, when you pass `-lFoo` to the compiler, it searches for `libFoo.a`

[2018-05-01 20:02] rafaelbaraldi commented on #6438
I still have this problem.
I use a private repo, it is the first source I set in my Podfile, the second one is the common Cocoapods source in Github. It works fine with the pods I set in my Podfile even if it has mutiple specifications on both repos.
My problem is when one of my pods has as a dependency another pod that has multiple specifications. The pod referred as a dependency always use the s

[2018-05-01 20:13] rafaelbaraldi commented on #6438
Ok, o managed to do it by adding the 'source' parameter in the dependency pod directly in my Podfile specifying the spec repo I want, but it does not look very nice. Would it be another way to do it that I haven't to add the dependency in my Podfile, maybe doing it in the podspec that register the dependency?
tks again

[2018-05-02 01:51] Coeur commented on #7685
@segiddins Try `pod Jpush` and you'll see that prefixing .a files with `lib` is not always needed.

I'm still trying to figure out why in one case I need a `lib` prefix and not in the other case. It would be nicer without the renaming hack.

[2018-05-02 01:52] #7685 closed

[2018-05-02 01:58] Coeur commented on #7685
@segiddins just not that if you drag and drop a `.a` file in Xcode that doesn't have a `lib` prefix, Xcode will still link it using:

    -lz -lresolv /Users/coeur/dev/myApp/myTarget/jpush-extension-ios-1.1.1.a

[2018-05-02 07:42] mrjlovetian commented on #7697
gem install cocoapods --pre

[2018-05-02 08:33] sirghi commented on #7701
@dnkoutso Tried with master, sadly the same issue.
@segiddins Exactly, is there a way to tell CocoaPods to build only those dependencies as dynamic and leave all the other pods as static?

[2018-05-02 10:35] moekyo commented on #6035
delete Classes and Assets folder

[2018-05-02 10:52] KrauseFx opened #7705 "git:// sources are not encrypted"
After working on https://github.com/CocoaPods/CocoaPods/pull/7250 and https://github.com/CocoaPods/CocoaPods/pull/7293 to add better protection for the user against human-in-the-middle attacks for un-encrypted network traffic, I just learned that `git://` seems to also be unencrypted by default.

Thanks to @larsxschneider for bringing this up with https://github.com/KrauseFx/krausefx.com/commit/06

[2018-05-02 11:33] larsxschneider commented on #7705
That sounds great! However, I would recommend to use `https://` instead of `git://`. The reason: `ssh://` requires configured SSH credentials even for public repos. `https://` should work on almost any platform for public repos with less trouble.

[2018-05-02 11:43] larsxschneider commented on #7705
Plus, at the last Git contributor summit @peff asked if it would make sense to deprecate the anonymous Git protocol (search "git anonymous protocol" in the [notes](https://public-inbox.org/git/alpine.DEB.2.20.1803091557510.23109@alexmv-linux/)). AFAIK there is no specifc plan to do this any time soon but the topic seems to be on some peoples radar.

[2018-05-02 11:44] sirghi commented on #7701
I'm no ruby or CocoaPods expert in general, but maybe there's a way for CocoaPods to detect whether a vendored framework is dynamic and in that case build its dependencies as dynamic too.

[2018-05-02 12:35] StanDimitroff commented on #7647
Not working from Bulgaria too :(

[2018-05-02 13:10] gaus55 commented on #7647
Hi Guys i tried this and worked. https://stackoverflow.com/questions/38993527/cocoapods-failed-to-connect-to-github-to-update-the-cocoapods-specs-specs-repo

[2018-05-02 14:31] segiddins commented on #7647
It’s known to be down. Please follow status.cocoapods.org for updates.
The search repo is at https://github.com/CocoaPods/search.cocoapods.org for those interested in contributing.

I’m locking this issue for now, since we know it’s down and further comments won’t give us more actionable information

[2018-05-02 15:38] lunatic999 commented on #5368
I don't know if this may be of any help, but I stumbled into a very similar problem (the build breaks with `Missing required module Firebase`) while working on a cocoapod that is shipped with a `vendored_frameworks` that eventually uses `import Firebase`.

In the end, the (kind of brute force) workaround I found was to add the following to my `.podspec`:

[code]
 with this, the final application u

[2018-05-02 17:38] KrauseFx commented on #7705
Agreed, I personally always use `https://`, however I do know of developers who don't have `https` auth set up

[2018-05-02 17:43] larsxschneider commented on #7705
@KrauseFx AFAIK you don't need `https` auth setup for publicly accessible repos.

[2018-05-02 21:33] rmccu commented on #7232
It would be nice if this was not closed. I am still seeing this issue.

[2018-05-03 01:58] segiddins commented on #7703
Can you try with CocoaPods master? https://guides.cocoapods.org/using/unreleased-features.html

[2018-05-03 01:58] segiddins commented on #7701
no

this would be predicated on (1) being possible

[2018-05-03 03:16] jmkk commented on #7704
This looks like a misconfigured podspec for CountryPickerSwift - it only specifies resources from the Assets folder, without including xibs which live in the Classes path. Based on this I'd say this is not a Cocoapods issue - the author/owner of the podspec needs to fix it in their repo and publish as a new version.

[2018-05-03 04:52] Jon889 commented on #7606
Is it so hard just to support IBDesignables in CocoaPods and make sure they don't break again in subsequent versions?

[2018-05-03 07:29] sirghi commented on #7701
Too bad

[2018-05-03 08:33] totallll opened #7706 "build error /GJThirdPart/GJThirdPart.framework/Headers/wav.h:24:1: error: unknown type name 'class'; did you mean 'Class'?"
my code list:

#ifndef WAV_H
#define WAV_H

#include <stdio.h>

class WavWriter {
public:
	WavWriter(const char *filename, int sampleRate, int bitsPerSample, int channels);
	~WavWriter();

	void writeData(const unsigned char* data, int length);

private:
	void writeString(const char *str);
	void writeInt32(int value);
	void writeInt16(int value);

	void writeHeader(int length);

	FILE *wav;
	int d

[2018-05-03 09:04] nverinaud opened #7707 "NoMethodError - undefined method `new_variant_group' for #<Xcodeproj::Project::Object::PBXFileReference:0x00007fe8fe1dd460>"
🌈

### Command

[code]

### Report

* What did you do?

I ran `pod install` inside this repository : https://github.com/Ryfacto/IntentKit/tree/master/Example

* What did you expect to happen?

It should have installed the pods and create the `.xcworkspace`.

* What happened instead?

It failed with the error below.

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2018-05-03 09:35] rawlinxx commented on #7649
same problem.
removing test target make example project run success, but pod lint will error again, i can't push lib to specs repo.

[2018-05-03 10:48] djbe opened #7708 "EXPANDED_CODE_SIGN_IDENTITY: unbound variable"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Run `pod install` and tried to run my (SwiftGen) project tests, using CocoaPods 1.5.0.

## What did you expect to happen?

Install all pod dependencies correctly and have a buildable (testable) proj

[2018-05-03 14:47] jlubeck commented on #7703
I created a Gemfile and put this in it
`gem 'cocoapods', :git => 'https://github.com/CocoaPods/CocoaPods.git'`

Ran `bundle install`

And then `bundle exec pod install`

Same issue with the warnings

[2018-05-03 15:17] dnkoutso commented on #7707
@nverinaud can you provide a sample app please? I believe this is because you had an additional `Pods.xcodeproj` reference in your project but I am unable to diagnose with the the given info.

[2018-05-03 15:25] dnkoutso commented on #7707
Excellent thank you!

[2018-05-03 15:32] jlubeck commented on #7703
Well, like I mentioned, creating a new Xcode project from scratch with that Podfile has the issue.
But since you are asking so nicely, here you go!

https://github.com/jlubeck/cocoapods-issue-7703

Thanks!!

[2018-05-03 15:43] dnkoutso commented on #7707
@nverinaud definitely a bug. Appears to be on:
[code]

Need to investigate further.

[2018-05-03 15:46] nverinaud commented on #7707
Okay, thanks for your help on this ! Do not hesitate if I can be of any help. 😉

[2018-05-03 15:51] dnkoutso commented on #7707
@nverinaud found it further but you might have a good workaround. The problem is that there are 2 `InfoPList.strings` localized files within that bundle.

Removing them (which they appear to be empty) does the trick.

[2018-05-03 15:52] dnkoutso commented on #7707
Actually removing `Localizable.strings` too...but thats dumb cause that is exactly what you need.

Definitely an issue in the library for handling these.

[2018-05-03 16:58] #7707 closed

[2018-05-03 16:58] dnkoutso commented on #7707
Removing this line `'IntentKit' => 'IntentKit/{**/*.strings,Images/*.png}',` makes it work.

[2018-05-03 17:16] amorde commented on #7606
@Jon889 I believe it's just a matter of someone taking the time to implement it and add tests to make sure we don't break it down the road. The most active CocoaPods contributors have been working on other features such as Swift static library support, static frameworks, Podspec-based unit tests, performance improvements, etc.

PRs are welcome!

[2018-05-04 07:31] nverinaud commented on #7707
@dnkoutso  Thanks for your help, it is awesome ! 🎉

[2018-05-04 08:54] Jason-Chan commented on #6955
In my case, `pod install` works after removing the "Podfile.lock" and the "Pods/Manifest.lock"😀

[2018-05-04 10:17] PadmaPreethi opened #7709 "Non-portable path to file yoga-prefix.pch, specified path differs in case. Corrupted file path with duplicated characters"
Cocoapods version -> 1.3.1
Xcode -> 9.2
Mac OS -> High Sierra

# Report
xcode throws Non portable file path for certain libraries in Target support files in cocoapods. Path seems to be corrupted.

This is the actual error which xcode shows

**Non-portable path to file /UUsersmM0201DDeveloperttest-appPPodsTTarget Support Filesyyogayyoga-prefix.pch; specified path differs in case from the file name

[2018-05-05 09:49] WANGNEWMAN commented on #7025
I Try pod install,But one of dependencies fail, I got this error

[2018-05-05 20:15] paulb777 commented on #7703
FRAMEWORK_SEARCH_PATHS are being added for pods that are built as static libraries.

[2018-05-06 07:51] freak4pc commented on #7689
@dnkoutso Sorry for pinging you (I know how annoying that can be as a maintainer). I just wanted to know if you'd rather keep this open or closed ?

It seems there is a workaround, meaning the issue is probably related to the CODE SIGNING related build settings.

[2018-05-06 11:02] Whirlwind opened #7711 "Unzip fail when zip contains chinese char on macOS 10.13"
I have a SDK, and there is a folder named `FaceDistortion_20171205雪天的雪人` in the zip. When I exec `pod install`, I got a error:
[code]

I download the zip from Safari and can unzip it by system gui tool.

The CocoaPods is v1.5.0 and macOS is v10.13.

[2018-05-06 11:33] Whirlwind commented on #7711
https://github.com/adamhathcock/sharpcompress/issues/315

[2018-05-06 11:33] Whirlwind commented on #7711
https://github.com/adamhathcock/sharpcompress/issues/315

[2018-05-06 14:18] bcye opened #7712 "RuntimeError - [Xcodeproj] Unknown object version. 🌈"
### Command

[code]

### Report

Because of [this issue](https://github.com/CocoaPods/CocoaPods/issues/7697) I set Xcode Project Format to 8.0 as a bug fix. If I do, it tells me:
[code]
But if I don't (e.g. set it to 9.3) I get the error below

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2018-05-06 14:35] guoyingtao opened #7713 "When using resource_bundle, my cocoapods spec can not pass the lint validation"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

use resource_bundle like  s.resource_bundle = {'MyFramework' => 'MyFramework/*.xcdatamodeld'}

## What did you expect to happen?

It can pass lint validation when I run "pod spec --verbose lint"

##

[2018-05-06 15:21] #7712 closed, assigned to nobody

[2018-05-06 15:33] dnkoutso commented on #7709
Can you please provide a sample app?

[2018-05-06 15:37] segiddins commented on #7711
Looks like potentially an encoding issue

[2018-05-06 16:31] bcye commented on #7712
It is on 1.5.7

[2018-05-06 16:38] dnkoutso commented on #7712
@bcye not according to your stacktrace:
[code]

[2018-05-06 18:38] guoyingtao commented on #7713
@dnkoutso Thanks for your reply.

The following one is my project
https://github.com/guoyingtao/Trigger
Currently, it works well.

But if I change s.resources to s.resource_bundle = {'SwiftTrigger' => 'SwiftTrigger/*.xcdatamodeld'}
in SwiftTrigger.podspec, it will fail when executing "pod spec --verbose lint"

[2018-05-06 21:26] dnkoutso commented on #7712
Does the repo you are into use `bundler` with a `Gemfile`?

Recommend using http://bundler.io/ to setup the version you want to use.

[2018-05-07 02:16] Whirlwind commented on #7711
I try change the encoding:
[code]
But the CocoaPods require 'utf-8'.  :(

[2018-05-07 02:44] Whirlwind commented on #7711
Maybe replace `unzip` with `ditto`:
[code]

[2018-05-07 03:47] qq912276337 commented on #6111
@PanXianyue the same error. dou you know how to fix it?

[2018-05-07 05:10] dturnq commented on #6018
Try updating your Swift version

<img width="674" alt="pods link" src="https://user-images.githubusercontent.com/10344343/39685867-4188cab0-517a-11e8-8217-065d7973b2ee.png">

<img width="611" alt="pods swift version" src="https://user-images.githubusercontent.com/10344343/39685865-41617780-517a-11e8-8d35-4c1d0cca9680.png">

[2018-05-07 13:30] leoxpx opened #7714 "pod lib lint success but pod spec lint faild"
My project relies on a Shared library and relies on a private library. pod lib lint is success but pod spec lint faild .
private library:
![image](https://user-images.githubusercontent.com/16935402/39704153-0d020522-523d-11e8-83bf-204c0aeb3ede.png)
pch:
![image](https://user-images.githubusercontent.com/16935402/39704168-1c03f7ce-523d-11e8-99ba-5c0725b32d84.png)
pod lib lint success
![image](https

[2018-05-07 14:49] dnkoutso commented on #7714
Where does the the tag 0.0.2 point to? Please also use StackOverlow with `cocoapods` tag to ask these questions.

There is also no sample app for us to reproduce.

I am going to close this but we can perhaps continue the discussion here. If we find out its a CocoaPods library issue I will re-open.

[2018-05-07 14:49] #7714 closed

[2018-05-07 15:27] bcye commented on #7712
So like this?:

[code]

[2018-05-07 15:28] dnkoutso commented on #7712
That should work but I think latest version of `cocoapods` will take the ~> 1.5 of `xcodeproj` so that would bring the latest version.

[2018-05-07 16:29] paulb777 commented on #7703
@jlubeck Is the failure and post_install workaround documented in another issue?

[2018-05-07 16:36] jlubeck commented on #7703
It probably is, but not by me... I remember finding it through a google search... I'll see if I can find it again... Just thought I'd ask you first in case you spotted the problem right away. I'll be back with what I find. Thanks!

[2018-05-07 18:39] ajgr commented on #7712
Any solutions yet in sight? Seems Cocoapods now requires the app to run and it has xcodeproj-1.5.4 built in.

[2018-05-07 18:46] guoyingtao commented on #7713
@dnkoutso I have added the GitHub link of my project.
the pod spec file is
https://github.com/guoyingtao/Trigger/blob/master/SwiftTrigger.podspec

Do you need more examples?

[2018-05-07 20:06] dnkoutso commented on #7713
Nope thats good enough most likely.

[2018-05-07 21:28] cyupa commented on #7220
I found something similar:

[code]
My project (not targets) `FRAMEWORK_SEARCH_PATHS` seems to have all the frameworks in it. And because my WatchApp Extension Target inherits it, I end up with frameworks that are not watchOS supported.

<img width="506" alt="screenshot 2018-05-08 00 01 10" src="https://user-images.githubusercontent.com/958431/39724968-f3efff74-5252-11e8-8f39-4fa9ddb91184.png">

[2018-05-08 05:50] #7574 closed

[2018-05-08 06:10] ken1020 commented on #7301
CocoaPods 1.5.0
Xcode 9.3

after I add "use_frameworks!" to my Podfile,
problem solved!

[2018-05-08 10:15] erha19 opened #7715 "Running pod update fails although I can search it from cocopods"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
Run `pod update`, and I have been run
[code]
but it doesn't work, somebody can help me? and the project can be work on other computer, Is it wrong with my environment?

## What did you expect to happ

[2018-05-08 12:47] erha19 commented on #7715
I follow this answer [stackoverflow](https://stackoverflow.com/questions/38993527/cocoapods-failed-to-connect-to-github-to-update-the-cocoapods-specs-specs-repo?answertab=votes#tab-top) and fix my issue.

[2018-05-08 12:47] #7715 closed

[2018-05-08 13:46] djbe commented on #7708
Note: I also tried adding https://michiganlabs.com/ios/development/2015/11/30/code-sign-error-building-cocoapods-framework-targets/, but that didn't change anything.

[2018-05-08 14:01] cyupa commented on #7703
I experience something similar:
https://github.com/CocoaPods/CocoaPods/issues/7220#issuecomment-387212235

[2018-05-08 14:37] cyupa commented on #7703
Actually I managed to fix my own mistake. At one point, I think, CocoaPods warned me that there is no base config set for the Project so I set it to the one used by iOS target - that's why I was getting all that weird import issues. Changing it to none did the job.

[2018-05-08 14:38] cyupa commented on #7220
Actually I managed to fix my own mistake. At one point, I think, CocoaPods warned me that there is no base config set for the Project so I set it to the one used by iOS target - that's why I was getting all that weird import issues. Changing it to none did the job. @robinkunde & @RishatShamsutdinov you could have a look and see if that is the case for you as well.

[2018-05-08 15:42] keith commented on #7708
I'll look at this soon

[2018-05-08 15:49] djbe commented on #7708
I've added a branch [cocoapods-1.5](https://github.com/SwiftGen/SwiftGen/tree/test/cocoapods-1.5) that shows how it's broken when installing with 1.5. It only has 1 commit, the result of running `pod install`.

[2018-05-08 16:41] chefnobody commented on #7111
@Yourney You should be able to create a vanilla iOS app ([or fork mine](https://github.com/chefnobody/SampleApp)) and follow my steps above (using whatever version of CocoaPods you think has this issue) to verify.

[2018-05-08 18:21] maxmeyers opened #7716 "Using static Swift libraries breaks the debugger"
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Moved one of our dynamic frameworks compiled with Carthage to Cocoapods using 1.5.0.

## What did you expect to happen?

Printing out objects using the `lldb` should continue to work normally.

## W

[2018-05-08 22:09] jlubeck commented on #7703
Don't ask me why or how. But I'm not getting any more warnings even with that post install script... The  initial problem was fixed either way by removing that script from the pod file. So I'll go ahead and close this. If I run into it again, I'll open a new one. Thanks to everyone that helped me!

[2018-05-08 22:09] #7703 closed

[2018-05-08 23:40] armcknight commented on #7111
I've been looking into this for myself and just found this ticket. Using cocoapods 1.5.0 and Xcode 9.3.

I listed all the UUIDs in my archive with this command: `find /path/to/.../archive/dSYMs -type d -name "DWARF" | xargs -I@ find @ -type f | xargs -tI@ dwarfdump -u @`

That'll show you: dSYM and path on disk, architecture, UUID. In my project, I noticed that there were both `arm64` _and_ `armv7

[2018-05-09 00:18] abbeycode opened #7717 "Suppressing a warning in an imported header"
My library (in Objective-C) includes the source for a C++ library it wraps in its repo. I never make any changes to those files, making it easier to drop in upgrades as necessary. In later versions of Xcode, some warnings have sprung up in a _header_ from this library. I'm suppressing those warnings in my library by wrapping the import with warning suppression pragmas:

[code]

This is working gre

[2018-05-09 00:27] dnkoutso commented on #7717
@abbeycode another way to ask, is what would you expect cocoapods to do in this case?

[2018-05-09 00:29] abbeycode commented on #7717
@dnkoutso I'm not sure - is there a way for me to insert arbitrary code into the generated umbrella header? I could suppress the warnings with a pragma at the beginning and end of the umbrella header.

[2018-05-09 03:27] segiddins commented on #7708
It's from the fact that we now have `set -o nounset` in generated scripts

[2018-05-09 03:28] segiddins commented on #7111
huh, what are the object versions for your project vs the pods project, out of curiosity?

[2018-05-09 03:39] dnkoutso commented on #7111
Gut feeling tells me the users xcodeproj is on Xcode 9 which is 64bit only and the one generated from pods is with 8 or earlier hence the discrepancy between the `$(ARCHS_STANDARD)` value.

[2018-05-09 03:43] dnkoutso commented on #7717
ah I do not think there is a current way to edit this through "normal" means. Only through a post install hook perhaps.

[2018-05-09 05:55] segiddins commented on #7716
What’s in ` /Users/maxmeyers/Library/Developer/Xcode/DerivedData/IFTTT-ddvbwydaaprpyybdejhfbfbqmdru/Build/Products/Debug-iphonesimulator/SnapKit/`?

[2018-05-09 06:38] Yourney commented on #7111
@dnkoutso  Gut feeling is right!
My project is iOS 11 only, built on xcode 9.3.
Dependencies have for instance
  s.platform     = :ios, "10.0"
in their podspec file.
I will try the armyknight workaround to see if that satisfies iTunesConnect.

Would it be an idea to set the validArchs (of the main project) to arm64 and changing armcknight's workaround so that all dependencies get the main project'

[2018-05-09 07:15] fanxiaocong opened #7718 "pod lib lint failed: xxx/App.build/Release-iphonesimulator/App.build/Objects-normal/i386/App normal i386"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I want to make a private pod and depend on another framework(JPush)，Because the framework(JPush) does not support the i386 architecture，I added this line code in the podspec file.

[code]

When I su

[2018-05-09 08:16] Praveen-Balpande commented on #6757
search not working its very inconvenience.

[2018-05-09 08:39] #7657 closed

[2018-05-09 09:04] JanzTam commented on #7447
I tried all the way. It dosen't worked for me.

[2018-05-09 11:42] nikhilchaurasia commented on #7632
@RamNalluri  I am also start getting similar issue after updating pod. I have objective-c project with no Swift dependency. If you have resolve the issue Pleas update the solution. It will be helpful. Thanks.

[2018-05-09 12:12] drinkius opened #7719 "Cocoapods doesn't see targets from the first specified project"
* [+] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

I've got a setup with two projects catered by one podfile. The entire podfile setup is:

[code]

It turns out Cocoapods doesn't see the targets from the first specified `project`. Changing the order of these lines leads

[2018-05-09 12:16] #7717 closed

[2018-05-09 13:27] drinkius commented on #7719
The following `podfile` setup fixed the issue:

[code]

However, I still wonder why the initially described setup worked with my other project, but not this one

[2018-05-09 13:51] armcknight commented on #7111
Both my project and pods project have object version 46.

Not sure if it's relevant but I created my project in Xcode 8 IIRC. I ran `pod deintegrate` and `pod install` after upgrading to cocoapods 1.5.0. My podfile declares a platform version of iOS 11, but not sure how podspecs' platform versions would affect this... I'm sure there are several that go before iOS 11.

[2018-05-09 14:35] segiddins commented on #7719
CocoaPods only looks at one project per target, so you’re overwriting the first one

[2018-05-09 14:59] #7719 closed

[2018-05-09 15:04] robinkunde commented on #7609
@segiddins Is there anything else I can do to help debug this?

[2018-05-09 15:44] dnkoutso commented on #7251
Believe this is fixed by https://github.com/CocoaPods/Xcodeproj/pull/571

[2018-05-09 16:10] keith commented on #7708
Interesting so if you enable "show environment variables" on the build script where this fails you see this:

[code]

But then if you add an `env` to the script this doesn't appear at all. I guess we need to no-op this one as well..

[2018-05-09 16:12] keith commented on #7708
Here's a PR allowing this https://github.com/CocoaPods/CocoaPods/pull/7720