[2016-10-12 02:19] vfn commented on #6006
@orta I'll have a look at it as soon. Although, the place where the paths are set doesn't look to have changed and does not contain the correct paths for app extensions:

https://github.com/benasher44/CocoaPods/blob/master/lib/cocoapods/generator/xcconfig/aggregate_xcconfig.rb#L216
[code]

[2016-10-12 02:33] benasher44 commented on #4788
I don't believe we set this on framework targets. It's only set on targets that frameworks are integrated into, if we can tell that any of the pods you're integrated contain swift.

[2016-10-12 02:39] benasher44 commented on #6026
What version of CocoaPods are you using? And what version of Xcode are you using?

[2016-10-12 03:26] BridgeTheGap opened #6027 "1.1.0.rc.3 fails to lint Swift 2.2 podspec"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
Run `pod lib lint`

## What did you expect to happen?

The lint should succeed since I already pushed this same podspec to the trunk.

## What happened instead?

It spews an error, which using `--ver

[2016-10-12 03:28] benasher44 commented on #6027
Based on your description, it sounds like you're expecting to be using Xcode 7.3.1, but `pod env` shows that you're using Xcode 8.0. You can verify this locally by running `xcodebuild -version`.

[2016-10-12 03:47] BridgeTheGap commented on #6027
I'm actually using both.

Let me show you this screenshot, so you can have a better understanding.

Nothing from by Xcode environment changed; i.e. I was using both Xcode 7.3.1 and 8.0.
In the screenshot, I canceled `pod trunk push` because I updated cocoapods during the push.
In any case, you can clearly see the lint succeeded, and was indeed pushed.

<img width="1136" alt="screen shot 2016-10-12

[2016-10-12 03:50] BridgeTheGap commented on #6027
Another interesting thing is I used another iMac in my office that I never updated to rc3, and I get the same error. Maybe it has nothing to do with rc3 but why did it work before?

[2016-10-12 04:00] BridgeTheGap commented on #6027
Sorry about the hassle.
I passed validation and pushed by using `sudo xcode-select --switch (path_to_Xcode7.3.1)` to use Xcode 7.3.1.
I don't understand why in the first image, lint worked because I never used that command before.

Anyways, if anyone encounters a similar issue, I guess people could be advised to use the above-mentioned command.

[2016-10-12 04:08] benasher44 commented on #6027
Glad you got it resolved! Thanks!

[2016-10-12 04:08] #6027 closed

[2016-10-12 04:17] cezarywojcik commented on #5368
Even with the above workaround, I still need to manually add all of the firebase frameworks to "link binary with libraries" phase (and the google frameworks that firebase depends on as well). Obviously not ideal.

Is there an ETA for fixing support for this?

[2016-10-12 05:54] fenglinxiu commented on #5519
@talezion thanks a lot. I have found it.

[2016-10-12 06:03] x5forever commented on #2575
@maurim86
I have the same issue. Have you found any way to solve it? Thanks for your help.

[2016-10-12 06:08] orta commented on #6023
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look like.

Howe

[2016-10-12 06:08] #6023 closed

[2016-10-12 06:09] orta commented on #6006
@benasher44 ^

[2016-10-12 06:25] orta commented on #5368
@cezarywojcik you're welcome to take a shot at making a PR for this, it doesn't look like there are any PRs around this yet.

[2016-10-12 06:38] gujinku commented on #4788
Hi @benasher44 , just want to know the exact recommended solution to remove the warning CocoaPods tells us.   Thanks!

[2016-10-12 06:49] bendeming commented on #5942
This can occur if your targets do *not* include Swift.

In my case, I had something like this which had been working under 0.39:

[code]

which under 1.10.0.rc3 yields `Errno::EEXIST - File exists @ dir_s_mkdir` when doing a `pod install`

A workaround (or perhaps ultimate, correct solution?) is to nest the targets:

target :FooStaticLib do
  my_pods
  target :FooStaticLibTests do
    ...
  end
en

[2016-10-12 07:35] maurim86 commented on #2575
@x5forever
I'm not working with iOS anymore so I can't confirm this but didn't that get improved in the update as stated above?

Are you running newest cocoapods version? There has been breaking changes from 0.9 to 1.0 so check their migration guide :)

Hope you get It fixed!

[2016-10-12 11:07] fabb commented on #5903
SwiftPM also supports Objective-C: https://github.com/apple/swift-evolution/blob/master/proposals/0038-swiftpm-c-language-targets.md

[2016-10-12 11:40] orta commented on #5903
Yeah, this is great, hopefully by WWDC 2017 we can start recommending people support it 👍

[2016-10-12 13:21] benasher44 commented on #4788
I would expect the latter works.

[2016-10-12 13:31] benasher44 commented on #6006
I wouldn't remove the overridden values for your target. Last I checked, Xcode has good default values there that make sense base on the target you're using. Extensions for example have slightly different ones conpared to application targets.

That said, it does look like we try to set some up for you. It should be easy to update this for extension targets. I might try to figure out if we can remo

[2016-10-12 13:32] benasher44 commented on #6006
I suspect though that we can't really remove this functionality from CP, since people likely rely on this now

[2016-10-12 13:53] gujinku commented on #4788
@benasher44, thanks.
I get a link who met this issue and provided the same solution for this.

[2016-10-12 13:54] hellohelloye commented on #6023
Thank you Orta, I fixed it by removing the version.

pod 'CSVImporter'    THEN pod install automatically detecting the suitable version, which is 1.2.0

[2016-10-12 13:57] flovilmart opened #6028 "REGRESSION: Using Framework target for dynamic libs alongside static target"
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

With CocoaPods v1.0.1, we use an App target and a Framework target.
For historical reasons, we *need* to have static dependencies for the app target and we use the framework target for the Swift bas

[2016-10-12 14:05] flovilmart commented on #6028
@benasher44 In order to make that 'hack' possible there are a few things that one need to do in the project settings:

1. Link frameworks dependencies against the Host project
2. Update the FRAMEWORK_SEARCH_PATH for each target to `"$PODS_CONFIGURATION_BUILD_DIR/[TARGET_NAME]"`
3. Add a script phase: `"${SRCROOT}/Pods/Target Support Files/Pods-CPDemoFWRK/Pods-CPDemoFWRK-frameworks.sh"`

I believe

[2016-10-12 14:43] benasher44 commented on #6028
@flovilmart as part of 1.1.0, we're adding improved support for frameworks. This means that when you have a framework target, we'll embed all of its pods into the target where your framework is embedded as well. Unfortunately, that does mean that this check/error has to stay. But, I think this means you can remove the extra script phases and things you added. I think we actually might just support

[2016-10-12 14:43] benasher44 commented on #6028
You'll also need to move the `use_frameworks!` line to the top level in the Podfile.

[2016-10-12 14:45] benasher44 commented on #6028
Oh I'm not sure about the "For historical reasons, we need to have static dependencies…" though. If you can't use `use_frameworks!` there, then I'm not sure there's much we can do. You can have a look at throwing together a plugin like this one: https://github.com/orta/cocoapods-expert-difficulty to subvert any checks you think are okay to bypass.

[2016-10-12 15:28] flovilmart commented on #6028
@benasher44 "For historical reasons, we need to have static dependencies…" yes, we need to as we use j2objc and it's a statically compiled library distributed as a `.a` file. I'm not sure we want to use j2objc from source, nor if we can have our vendor use that lib from source either.

I'll try to use the use framework on top and see how it goes with your suggestion.

[2016-10-12 15:29] flovilmart commented on #6028
That's what I thought: `[!] The 'Pods-Amp' target has transitive dependencies that include static binaries: (/Users/florent/src/ampme/ampme-ios/Pods/J2ObjC@mirego/dist/lib/libjre_emul.a)`

[2016-10-12 15:35] benasher44 commented on #6028
You could make a custom podfile for your static lib, and then CocoaPods will handle it properly. Then you can use the :podspec syntax in your Podfile to specify that one.

[2016-10-12 15:36] benasher44 commented on #6028
Checkout the vendored library podspec options.

[2016-10-12 15:39] flovilmart commented on #6028
already specified as vendored library I believe: https://gist.github.com/flovilmart/8096520c64227fc0547e0e4c8e32cb8f

[2016-10-12 15:40] dnkoutso commented on #6028
We did not hit this regression but overall we've been hit by the "all or nothing" approach of CocoaPods in terms of mixing Frameworks with static libs.

It seems that all pods are linked to the top level (app) target rather than the framework itself.

It would be nice in a later version mixing static libs with frameworks to be better supported.

[2016-10-12 15:44] benasher44 commented on #6028
Hm okay. I recommend going with the plugin approach then.

[2016-10-12 15:45] flovilmart commented on #6028
That's actually supported through the configuration of a secondary target and some additional configuration in the host. Having the frameworks embedded into the target would definitely help.

[2016-10-12 15:49] flovilmart commented on #6028
@benasher44 what's the rationale for the error? the reasoning and what use case should it cover? AFAIU this error would not be yielded if I was using a separate project with a single framework target right?

[2016-10-12 16:18] hellohelloye commented on #5260
`rm -rf ~/.cocoapods/repos/master`
`pod setup --verbose`
`pod repo update`
`pod install`

I did the above command, still this issue, not working

[2016-10-12 17:37] benasher44 commented on #6028
Here's a [long thread that discusses the issues around supporting static and dynamic deps.](https://github.com/CocoaPods/CocoaPods/issues/2926).

The reason for this error here is because of the way framework dependencies work. AFAIK, you can't dynamically link frameworks into another framework. So instead, what we do is make any target that wants to link the framework managed by cocoapods (becaus

[2016-10-12 17:48] bryanboyko commented on #6026
cocoapods 1.0.1
XCode 8

[2016-10-12 17:48] flovilmart commented on #6028
It's using static linking, as it's linking against `libPods.a`

You're right, but you can do embedding, embedding the child framework targets would work and remove the need for my hack. I'll poke around later today, with a fork of the current master and see if I can create a behaviour that would benefit both worlds.

I'm 100% comfortable with keeping my framework target that would be responsible f

[2016-10-12 17:49] benasher44 commented on #6026
Ah Xcode 8 support was added in 1.1.0 RC builds. The latest is 1.1.0.rc.3, and this issue has been fixed in these more recent builds. Please update to the latest. Thanks!

[2016-10-12 17:49] #6026 closed

[2016-10-12 17:55] hellohelloye commented on #5260
Solved the problem by the down casting the pod library

`pod 'HandySwift', '1.1.0'`
`pod 'CSVImporter'`

`pod update`

[2016-10-12 17:59] benasher44 commented on #6028
Hm okay. We might be able to support embedding, but I don't have time to work on that kind of  support anytime soon (i.e. next 2-3 weeks). And I think because of the edge cases around pods being shared by multiple targets, I'd probably implement this as a plugin that people could opt-in to. We went with not embedding, since that solution works in more cases, like with extensions where the App Stor

[2016-10-12 18:06] flovilmart commented on #6028
By skipping: [analyze_host_targets_in_podfile](https://github.com/CocoaPods/CocoaPods/blob/b1094a8a02cb7a1cd09550fea4a1bedc04094e31/lib/cocoapods/installer/analyzer.rb#L360) AND [verify_framework_usage](https://github.com/CocoaPods/CocoaPods/blob/b1094a8a02cb7a1cd09550fea4a1bedc04094e31/lib/cocoapods/installer.rb#L439)

I managed to get the whole thing working, removing all the custom build flags

[2016-10-12 18:11] flovilmart commented on #6028
Agreed that embedding is not the solution after that discovery. Do you think you'd accept a pull request for 1.1.0 that would add a `authorize_mix_dependencies!` or something in those likes that would let CP go through it and skip the relevant checks?

[2016-10-12 18:38] DrBeak1 commented on #6018
I created a brand new project using xcode 8. integrated cocoapods. added a single module. everything worked fine. I figured this was something related to the transition from xcode 7 to xcode 8, but wasn't 100%. This test made me think so even more.

So I proceeded to deintegrate again (`pod deintegrate`), only this time I also went into the project and removed every line related to cocoapods in th

[2016-10-12 18:39] #6018 closed

[2016-10-12 18:48] benasher44 commented on #6028
I think we'd be more open to a plugin that allows this behavior, since it feels somewhat special/edge-case-y. The big benefit of a plugin here is that it's a great opportunity to test out something like this without adding new Podfile DSL.

[2016-10-12 19:18] flovilmart commented on #6028
OK for the plugin, but still, that's troubling that the behaviour I expect is 100% functional when dropping those checks. That makes me think, if the behaviour I expect is purposefully rejected but functional, why reject it in the 1st place ?

[2016-10-12 19:46] flovilmart commented on #6028
@benasher44 just to be sure would that be 'correct' https://github.com/flovilmart/cocoapods-mix-frameworks/blob/master/lib/cocoapods-mix-frameworks/lib/mix.rb

[2016-10-12 19:52] benasher44 commented on #6028
It's functional in this case, but it doesn't cover cases like extensions which are handle the same way (fall in the category of targets that require a parent target). This also doesn't consider what happens when your framework and another target share a dependency but the other target doesn't use your framework.

I realize that this happened to work previous to 1.1.0, but we didn't have much suppo

[2016-10-12 19:58] benasher44 commented on #6028
Plugin looks good!

[2016-10-12 20:00] flovilmart commented on #6028
Plugin is published as a gem, if I find time, id like to get a better understanding of the cases we want to explicitely reject, and implicitely support.

Thanks for your time! You guys are doing a tremendous job.

[2016-10-12 20:08] benasher44 commented on #6028
No problem! Thank you!

[2016-10-12 20:35] benasher44 commented on #5942
@bendeming can you file a new issue for 1.1.0.rc.3 so that we can have a closer look?

[2016-10-12 21:32] rlaferla opened #6030 "Could not find a valid gem 'cocoapods'"
# Report

## What did you do?

$ sudo gem install cocoapods --pre

## What did you expect to happen?

Update CocoaPods

## What happened instead?

ERROR:  Could not find a valid gem 'cocoapods' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (https://rubygems.org/spec

[2016-10-12 22:03] Dreddik opened #6031 "Optimistic operator ~> broken in Cocoapods beta 1.1.0.rc.3"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

1. Create a pod and push it to private repo.
2. Put a pod entry into Podfile of test project using optimistic operator, e.g. `pod 'MyTestPod', '~> 1.6'`.
3. Create a new version of pod, e.g. `1.7`.

[2016-10-12 22:18] Dreddik commented on #6031
I read the documentation, and it says:
[code]

That means, it was broken earlier.

[2016-10-12 22:18] #6031 closed

[2016-10-12 22:57] ronak2121 commented on #5375
Hi,

any update on this? I have a similar issue with libxml and common crypto as well.

Thanks

[2016-10-13 05:26] aleph7 commented on #5985
I didn't find anything that could be wrong. You can have a look by using that Podfile on https://github.com/venturemedia/intune-features

[2016-10-13 05:26] dnkoutso commented on #5375
We need this also, so I might be taking a stab at it.

[2016-10-13 06:40] jcxc commented on #4293
@jacobocantillo   your solution worked for me , 3Q~

[2016-10-13 07:50] TyroneZhang commented on #5911
I have the same error.

[2016-10-13 08:04] yxztj commented on #5366
+1, pod with ['Debug'] configuration in abstract_target seems not working.

[2016-10-13 08:53] kennebecstars commented on #5415
This is the current fix:

$ rvm reinstall ruby-2.2.2
$ rvm --default use ruby-2.2.2
$ gem install cocoapods
$ pod install

[2016-10-13 09:44] UkuLoskit opened #6032 ""pod repo update" can return exit code 0 in case of failure"
# Report

## What did you do?

Ran:
```pod repo update```
and got the following output:
[code]

## What did you expect to happen?
```pod repo update``` should have returned a non-zero exit code

## What happened instead?

The exit code for this process was 0

## CocoaPods Environment

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

### Project that demonstrates the issue

[2016-10-13 10:21] orta commented on #6032
Awesome, yeah, a PR adding this would be awesome

[2016-10-13 11:07] juli1quere opened #6033 "Exit with a special error code when `pod install` fails due to an out of date specs repo"
🌈
## What did you do?

`pod install` on a computer (a CI) who has not done a `pod repo update` recently with a `PodFile.lock` referencing a brand new version of a pod as dependancy.
## What did you expect to happen?

I know that `pod repo update` is not automatic anymore to reduce pressure on Github servers. I know that I could pass the `--repo-update` parameter to `pod`.

But It would be great if

[2016-10-13 11:09] danghoanglong opened #6034 "Cocoapods can't generate the Pod project"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
e.g. Install all pod dependencies correctl

[2016-10-13 11:32] orta commented on #6034
Closing, this is the issue template.

[2016-10-13 11:32] #6034 closed

[2016-10-13 11:49] orta commented on #6030
Looks like you're having problems connecting to Rubygems -  I'd advise looking for issues around that:

[code]

Which isn't a CocoaPods bug I'm afraid, so I'm closing this.

[2016-10-13 11:49] #6030 closed

[2016-10-13 11:56] IphoneCoder opened #6035 "[!] An unexpected version directory `Classes` was encountered for the"
# Report

## What did you do?

create private cocoapods

pod repo push OSChinaSpecs  BtimeVideoLibrary.podspec

## What did you expect to happen?

below local repos,new repo created sucess

## What happened instead?

all project files has push in the repo,like this

![image](https://cloud.githubusercontent.com/assets/8368850/19347942/0b7a3980-917e-11e6-891d-8a06a5da75b3.png)

## CocoaPods Environm

[2016-10-13 11:57] orta commented on #6035
Are you using Xcode 8, and not the `1.1.0.rc.3`?

[2016-10-13 12:00] IphoneCoder commented on #6035
@orta ,yes, i using Xcode 8 and the pod version 1.0.1 ,must 1.1.0.rc.3 ?

[2016-10-13 12:00] orta commented on #6035
Yes, Xcode 8 breaks in 1.0.x - that should fix it 👍

[2016-10-13 12:00] #6035 closed

[2016-10-13 12:28] benasher44 commented on #5911
You'll need to use 1.1.0.rc.3. If you're experiencing this issue with that version, please open a new issue.

[2016-10-13 12:37] ir-fuel commented on #5790
I have a similar issue here. I wrote a framework in Swift that uses some Objc classes. The objc code is inside the framework and the header files are included in the main framework header file. My "standalone" framework project compiles correctly, but when including it as a local dependency via Cocoapods in another project I get a similar error. Investigating the pods project that was generated sh

[2016-10-13 12:53] k06a opened #6036 "Target has transitive dependencies that include static binaries"
- [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
# Report
## What did you do?

`pod lib lint --private --verbose`
## What did you expect to happen?

Verify my podspec with following dependencies:

[code]
## What happened instead?

## CocoaPods Environment
### Stack

[code]
### I

[2016-10-13 14:44] SimonFearby commented on #4293
192-168-1-109:repos simon$ sudo git clone https://github.com/CocoaPods/Specs.git master
Cloning into 'master'...
remote: Counting objects: 861400, done.
remote: Compressing objects: 100% (8980/8980), done.
error: RPC failed; curl 56 SSLRead() return error -36 571.00 KiB/s
fatal: The remote end hung up unexpectedly
fatal: early EOF
fatal: index-pack failed

[2016-10-13 21:56] k06a commented on #6036
Used this code in podfile to avoid error:
[code]

[2016-10-13 22:04] k06a commented on #6036
Found similar problem https://github.com/CocoaPods/CocoaPods/issues/6028

[2016-10-13 22:08] k06a commented on #6028
@flovilmart please tell how to use this plugin in podspec?

[2016-10-13 22:23] k06a commented on #6036
Looks like I am not able to push my new library to CocoaPods trunk, because of PLCrashReporter dependency.

[2016-10-13 22:56] flovilmart commented on #6028
That's in the Podfile actually, that would be:

`plugin "cocoapods-mix-frameworks"`

Install it with

`gem install cocoapods-mix-frameworks`

[2016-10-14 04:21] k06a commented on #6028
@flovilmart thanks, but I have a problem with pushing podspec to trunk, because of dependency: https://github.com/CocoaPods/CocoaPods/issues/6036

[2016-10-14 10:21] ainopara opened #6038 "CocoaPods should treat Xcode project target whose `IPHONEOS_DEPLOYMENT_TARGET` is not setted as latest iOS version."
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Run `pod install`
Podfile include a local pod whose podspec indicate it's minimum deployment target is iOS 8.0.
[code]
My project did not set `IPHONEOS_DEPLOYMENT_TARGET` in all levels (project leve

[2016-10-14 10:24] orta commented on #6038
You could use [deployment_target](https://guides.cocoapods.org/syntax/podspec.html#deployment_target) instead?

[2016-10-14 10:28] ainopara commented on #6038
[code]
Get the same result.
[code]

[2016-10-14 10:30] orta commented on #6038
The current values for a Podfile's platform [are](https://guides.cocoapods.org/syntax/podfile.html#platform):

So it won't take Xcode's into account, you'll need to add `platform :ios, '10.0'` to your Podfile.

[2016-10-14 10:31] orta commented on #6038
If CocoaPods moved those with Xcode, it would not be backwards compatible with older projects, so we keep them as constants.

[2016-10-14 10:33] ainopara commented on #6038
Got it. Thank you for your reply. 💯

[2016-10-14 10:33] #6038 closed

[2016-10-14 11:25] flovilmart commented on #6028
Again, that plugin has no effect for a Podspec, it acts on the Podfile

[2016-10-14 11:26] orta commented on #6036
You probably want to look at the `--use-libraries` argument - this may pass, the error message may indeed be legitimate but only for framework based pods

[2016-10-14 13:55] benasher44 commented on #6033
This feels like a dup of #5697, and I think the main concerns with this are addressed/discussed there. Thanks for filing!

[2016-10-14 14:05] benasher44 commented on #6009
CocoaPods 1.1.0.rc.3 is required when using Xcode 8. If this is still broken for you when testing with 1.1.0.rc.3, please file a new issue. Thanks!

[2016-10-14 14:05] #6009 closed

[2016-10-14 14:07] benasher44 commented on #6002
This  is a duplicate of #5864, which we addressed in CocoaPods 1.1.0.rc.3. Please update, and file a new issue if you're still experiencing this. Thanks!

[2016-10-14 14:07] #6002 closed

[2016-10-14 14:12] benasher44 commented on #5952
Sorry to reverse on this, but you should actually set the SWIFT_VERSION in your target by setting "Use Legacy Swift Language Version" to the appropriate value. Once you have that set properly, make sure you haven't accidentally set something manually in the Pods xcodeproj. You could try running `pod deintegrate` and then `pod install` once you have your "Use Legacy Swift Language Version" set as w

[2016-10-14 14:15] benasher44 commented on #5939
Xcode 8 requires using CocoaPods 1.1.0.rc.3. Please update to 1.1.0.rc.3 and file a new issue if you're still experiencing this. Thanks!

[2016-10-14 14:15] #5939 closed

[2016-10-14 14:18] k06a commented on #6036
@orta thanks, that works fine!

[2016-10-14 14:21] benasher44 commented on #5799
I think resetting the local repo if the push fails is a great idea. We'd happily accept a PR!

[2016-10-14 14:23] benasher44 commented on #5788
Can you update to CocoaPods 1.1.0 RC 3? The code path in question here has changed a lot, and I don't think this should be an issue anymore.

[2016-10-14 14:39] benasher44 commented on #6028
Going to close this:

- There's a workaround plugin to help when you know you want to subvert this check.
- Supporting this particular case isn't possible, especially considering another case like when framework A (a target in the Podfile) should embed framework B, but another target (in the Podfile) wants to share framework B but not framework A.
- The error here is important in most extension/fr

[2016-10-14 14:39] #6028 closed

[2016-10-14 14:40] Onejjy commented on #6033
Before creating this issue, I read #5697. I just read it again carefully to be sure that I did not miss something.

#5697 do not address the issue in the same way. Here, the idea is different, and based on this sentence:

[2016-10-14 14:40] benasher44 commented on #6013
This has been fixed in recent 1.1.0 release candidates. Please update to CocoaPods 1.1.0.rc.3, and open a new issue if you're still experiencing this. Thanks for filing!

[2016-10-14 14:40] #6013 closed

[2016-10-14 14:41] benasher44 commented on #6028
Thanks for hashing this out!

[2016-10-14 14:50] flovilmart commented on #6028
@benasher44 I believe when you propagate all frameworks to the App target, that should correctly work as in the end, that would just end up dynamically linking at runtime in the App target. Maybe we can make an exception if that's an app target?

[2016-10-14 14:54] benasher44 commented on #6033
I think I'd be amenable to 2 improvements here:

- Improved messaging when this scenario is detected
- A special return code from `pod install` when this scenario is detected. This way, CI can switch to  `pod install --repo-update` as needed. This might also help with Github resource usage, since I'd guess many CI environments always use `pod install --repo-update`.

[2016-10-14 15:00] benasher44 commented on #6028
I think my main issue is here is that the app target scenario doesn't feel like a special case to me. That seems like the common case. The scenario in this issue where one target can't have `use_frameworks!` seems like the special case, and this scenario is already well by dropping in this plugin (as hacky as some plugins may seem).

[2016-10-14 15:04] k06a commented on #6036
Still fave problems with PLCrashReporter dependency. Both --use-frameworks and --use-libraries flags produces error while `pod lib lint` step:
[code]

Here is the project: https://github.com/ML-Works/PuppyWatchdog

[2016-10-14 15:19] flovilmart commented on #6028
Yeah, I'd probably make a PR to reduce the number of skipped checks with the plugin, notably to isolate just that line: https://github.com/CocoaPods/CocoaPods/blob/master/lib/cocoapods/installer/analyzer.rb#L335

[2016-10-14 16:07] Onejjy commented on #6033
That's a good start, it totally fit the CI scenario.

But why don't go further and do the `repo update` automatically (only in this particular case) ? I don't see any drawback in this (maybe I'm wrong !).

I think it would make `pod install` a little bit smarter and easier to use for developers who don't understand how it works.

[2016-10-14 17:15] justinseanmartin commented on #6033
I concur with @Onejjy in the case where there is a Podfile.lock present and the current spec repos don't contain the change. Our CI currently always passes `--repo-update` today, so it would be less load on GitHub for us to do a transparent automatic update only in the case that the dependencies in the Podfile.lock (which presumably must exist somewhere or they wouldn't be in the Podfile.lock).

H

[2016-10-14 18:56] LinusGeffarth commented on #4293
Thanks @EkambaramE!

[2016-10-15 04:16] mcmengchen opened #6039 "A question about PrivateSpec dependency"
## My need is to create a private pod which must depend on another private pod.

+ My depended private pod is named 'RBTest'. It's  podspec file is as follow:
[code]
![2016-10-15 12 04 47](https://cloud.githubusercontent.com/assets/9442979/19407276/9eca8f8a-92cf-11e6-803e-d9850b19079c.png)

+ My private pod is named 'RBTestPrivateSpec'. It's pod spec file is as follow:
[code]
![2016-10-15 12 10 28

[2016-10-15 08:00] orta commented on #6039
Are you using Xcode 8, CocoaPods 1.0.1 does not support Xcode 8 I'm afraid - only the RC

[2016-10-15 09:28] DanToml commented on #6033
I've spent some time thinking about this lately specifically in the domain of being able to improve CI caching for pod install's, especially when trying to avoid GitHub rate limiting on larger-scale deployments, and it's hard to find a solution that is reasonably clean.

For the general case, I think @benasher44's suggestions are the most reasonable and easily implementable, as an automatic soluti

[2016-10-15 18:20] benasher44 commented on #6033
Exactly, and given the added complexity + high stakes of getting this wrong (i.e. we regress to high usage levels of free Github resources), I think it makes sense to start making conservative improvements here.

Maybe we start with these enhancements. Then, someone creates a plugin that writes logic around the new exit code. And, we go from there.

[2016-10-15 19:05] benasher44 opened #6041 "Make Swift 3 the default when linting pods"
When we started working on CocoaPods 1.1.0, Swift 2.3 as the default makes sense. This no longer feels like the right choice for a number of reasons:

- Swift 2.3 is considered "legacy" in Xcode 8, and pods/libraries are quickly migrating to Swift 3.
- A future release of Xcode [will not support Swift 2.3](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/WhatsNew

[2016-10-16 04:02] RMKitty commented on #3736
@the-scott-davis  help me， thanks
![30802c42-3b72-44e6-ad98-43020d81a6d6](https://cloud.githubusercontent.com/assets/11688968/19415116/18de79e4-9398-11e6-9004-48bbd1fefe9d.png)

[2016-10-16 10:30] rohitomshiv commented on #4293
plz help i have tried all the step above but failed to setting up cocoa pod repo
i have lost my 2 days in it .plz help
mac os seirra xcode 8
vmware pro 12

[2016-10-16 11:13] tangzhentao commented on #6009
@vinbhai4u Could you tell me how to install CocoaPods 1.1.0.rc.3?
I downloaded 1.1.0.rc.3, but don't know how to intall.Thanks!

[2016-10-16 11:51] devandanger commented on #5988
Gotcha, pod deintegrate works better.

[2016-10-16 13:16] vinbhai4u commented on #6009
@tangzhentao `sudo gem update cocoapod --pre`

[2016-10-16 15:27] Onejjy commented on #6033
I did not anticipate the complexity of the fully automatic solution. So, if it is: I think that's a good compromise to start with a special exit code !

[2016-10-16 17:59] henriwatson commented on #5498
This is a Bit More Fun Than Expected.

Making the changes suggested above will result in the following when running `pod lib lint`

    [!] Invalid `NAME.podspec` file: `${' is not allowed as a global variable name
    /Users/henri/w/notmine/Rainforest/pod-template/NAME.podspec:27: syntax error, unexpected end-of-input, expecting '}'
      s.author           = { ${USER_NAME} => '${USER_EMAIL}' }

[2016-10-16 20:23] #6041 closed

[2016-10-16 21:23] #6032 closed

[2016-10-16 21:51] #5880 closed

[2016-10-17 01:50] SwamyChunchu commented on #3736
Try this Commands

sudo gem install activesupport -v 4.2.6 ,
sudo gem install cocoa pods ,

sudo gem install cocoapods -V , sudo gem update --system

On Sunday, October 16, 2016, RMKitty <notifications@github.com> wrote:

[2016-10-17 02:11] DanielLe232 commented on #4293
@rohitomshiv could you show your error?

[2016-10-17 02:25] mcmengchen commented on #6039
My Xcode version is 7.3.     @orta

[2016-10-17 04:08] benasher44 commented on #6006
For those looking for a workaround here, you can add these values to your "Runpath Search Paths" settings for your extension targets in Xcode: "$(inherited) @executable_path/../../Frameworks". However, extension-related issues seem to have stabilized for this release (1.1.0), so I don't want to want to introduce any changes in that area at this point. This is on my radar to fix in an upcoming rele

[2016-10-17 04:10] benasher44 commented on #6006
The fix here is to check `target.requires_host_target?` in `generate_ld_runpath_search_paths` in `lib/cocoapods/generator/xcconfig/aggregate_xcconfig.rb`, and add `@executable_path/../../Frameworks` if that check passes.

[2016-10-17 04:15] benasher44 commented on #6012
This looks very much like a connection issue that seems unrelated to CocoaPods. Going to close for now. If you're still experiencing this, please open a new issue and fill out the issue template. Thanks for filing!

[2016-10-17 04:15] #6012 closed

[2016-10-17 04:16] benasher44 commented on #5981
The fix here was merged in #5933/#6016 and will be available in an upcoming release. Thanks for filing!

[2016-10-17 04:16] #5981 closed

[2016-10-17 04:31] benasher44 commented on #5970
Looks like there was a bad target dependency in one of your targets. This patch fixes it and allows pod install to continue.
[code]
Going to keep this open, since this issue comes up every now and then, and we could have better error messaging here about where to go to look for this.

[2016-10-17 04:41] benasher44 commented on #5985
Looks like there was a bad target dependency in one of your targets. This patch fixes it and allows pod install to continue.
[code]
Going to keep this open, since this issue comes up every now and then, and we could have better error messaging here about where to go to look for this.

[2016-10-17 04:50] benasher44 commented on #5897
This looks like a dup of #5623, which has more information about how to diagnose and fix the root cause. Going to close this one.

[2016-10-17 04:50] #5897 closed

[2016-10-17 04:56] benasher44 commented on #5852
There are a handful of reasons why we don't plan to implement this in the near future. We're going to detail the issues around this in the blog post for the upcoming 1.1.0 release. The draft of the post is here: CocoaPods/blog.cocoapods.org#135. Going to close this, since I think this is mostly figured out for the 1.1.0 release. Once Swift 4 comes out, we might want to re-open this.

[2016-10-17 04:56] #5852 closed

[2016-10-17 05:09] abcijkxyz opened #6045 "Pull to Windows:fatal: cannot create directory at 'spec/fixtures/Project[With]Special{chars}in*path?': Invalid argument"
like
https://github.com/swcarpentry/DEPRECATED-bc/issues/463

[2016-10-17 07:26] cloudhm commented on #5559
I have installed version 1.0.1, but my project can not run in iPhone5/5c device or simulator by XCode.

[2016-10-17 07:44] xylinuxkernel commented on #5072
In xcode8.0, swift2.3 removing derived data fixed it

[2016-10-17 08:24] orta commented on #6045
CocoaPods doesn't support windows, which is what I guess is going on here? Please fill out the issue template next time.

[2016-10-17 08:24] #6045 closed

[2016-10-17 10:24] lucyhao commented on #4293
@DanielLe232 thank you very much. It works for me~

[2016-10-17 10:28] IphoneCoder opened #6046 "vendored_frameworks have the c++ code"
# Report

## What did you do?

in my project , the vendor  frameworks which  use the c++ code

## What did you expect to happen?

generate the repo success

## What happened instead?

the c++ code compile error

## CocoaPods Environment

i config the podspec

s.library = 'c++'
s.pod_target_xcconfig = {
       'CLANG_CXX_LANGUAGE_STANDARD' => 'c++11',
       'CLANG_CXX_LIBRARY' => 'libc++',

[2016-10-17 10:33] orta commented on #6046
Can you please provide an example project we can download and run, and show us how you think it should be please?

[2016-10-17 10:34] orta commented on #6039
What does the result of `xcode-select --print-path` say?
Please can you test with the CocoaPods 1.1.0.rc.3 also?

[2016-10-17 10:41] IphoneCoder commented on #6046
@orta ,Half a moment，thanks

[2016-10-17 10:52] orta commented on #6046
Also, have you tried with the CocoaPods 1.1.0 beta?

[2016-10-17 10:58] IphoneCoder commented on #6046
@orta ，i find the framework which use the c++ reference too much framework，it is hard to create a demo ,year ,i use the 1.1.0.rc.2

[2016-10-17 11:23] IphoneCoder commented on #6046
@orta ,i get some method through https://github.com/CocoaPods/CocoaPods/issues/5152,the console like it

![image](https://cloud.githubusercontent.com/assets/8368850/19435781/1a4f48f0-949f-11e6-91ae-420accec145d.png)

[2016-10-17 11:44] mohshin-shah commented on #5574
Please open the terminal and execute this
git config --global user.email "youremail@xxx.xxx"
then try `pod install`

[2016-10-17 11:52] Hua70 commented on #5954
I have also have the same problem if I quoted the header file with angle brackets. Pod lib lint falid.

[2016-10-17 11:56] mohshin-shah commented on #5979
Please open the terminal and execute this
git config --global user.email "youremail@xxx.xxx"
then try pod install

[2016-10-17 12:58] mortenbekditlevsen commented on #5334
Hi,
Just a comment about the proposed workaround:

If you have pure 'resource bundle' targets, then these targets will not have a $PODS_CONFIGURATION_BUILD_DIR (because nothing it being built).
This means that the target installation will install to wrong directory - and the "*-resources.sh" script in Pods/Target Support/Pods-All-*/ will fail.

You can solve this by skipping the proposed workaroun

[2016-10-17 15:26] federicocappelli commented on #4752
Just set manually your **Host Application**
![screen shot 2016-10-17 at 16 23 37](https://cloud.githubusercontent.com/assets/1489236/19443947/6e1520c2-9486-11e6-814d-fd9f9e1ee2c5.png)

[2016-10-17 15:27] federicocappelli commented on #5022
Solution: Just set manually your **Host Application**
![screen shot 2016-10-17 at 16 23 37](https://cloud.githubusercontent.com/assets/1489236/19443947/6e1520c2-9486-11e6-814d-fd9f9e1ee2c5.png)

[2016-10-17 20:01] onethread commented on #4998
Getting the same issue. Tried clearing it all per AlmogBaku's comment, but that didn't work

[code]

[2016-10-18 00:26] alonre commented on #5988
Not working for us (CocoaPods 1.1.0.rc.3 + Xcode 7.3.1).
Xcode still crashes after `pod deintegrate` and `pod install` (several attempts).
A computer reboot will temporarily solve the problem, but not for long.
Maybe some cache corruption?

[2016-10-18 02:14] Hua70 commented on #5954
I reinstall the xcode 8,the spec pass validation.

[2016-10-18 02:59] adongarwar opened #6050 "Cocoapods Acknowledgements - Is it possible to skip licenses of some libraries?"
I have a podfile pointing to certain git repos. One of them is my organization specific private repo and i want to skip its license details to be reflected in Acknowledgements. Please help how to achieve this. My enviornment is XCODE 8 and swift 3. Thanks in advance.

[2016-10-18 03:10] kkaliher commented on #5995
My current workaround is to build and archive using El Capitan.

[2016-10-18 04:42] aleph7 commented on #5985
That fixed it! Thanks.

[2016-10-18 07:48] IphoneCoder opened #6051 "vendored_frameworks device-only missing required architecture i386"
# Report
## What did you do?
the  vendored_frameworks  device-only

## What did you expect to happen?

repo success

## What happened instead?

the frameworks have the warning,and when i use --allow-warnings no work

## CocoaPods Environment

Spec like it:
![image](https://cloud.githubusercontent.com/assets/8368850/19468575/b11c1c0e-9549-11e6-9871-9ac255ed8035.png)

## Project that demonstrates th

[2016-10-18 08:35] mcmengchen commented on #6039
The result of ```xcode-select --print-path``` is ```/Applications/Xcode.app/Contents/Developer```.
I have test with the newest CocoaPods version, but it still does.

[2016-10-18 08:39] DanToml commented on #6039
It looks like you're providing the repo for your pod as a Source to lint, but sources are repos of specifications like CocoaPods/Specs

[2016-10-18 09:28] yurevich1 commented on #5574
I found the solutin. This is a network (virtual machine) issue. NAT connection suddenly freezes git cloning after several megabytes downloading.
Otherwise I have to clone the data from somewhere outside the machine.

I have to change the connection into Bridged state in order to use git and cocoapods correctly.

[2016-10-18 09:43] Bersaelor opened #6052 "wrong target-device argument for tvOS framework in copy-resources build phase"
Tried both `1.0.1` and `1.1.0.rc.3` (🌈)

* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
I was building a framework target for tvOS, which has dependency cocoapods that have tvOS storyboards.

## What did you expect to happen?
ibtool properly succ

[2016-10-18 11:25] mcmengchen commented on #6039
How to resolve it? @DanToml

[2016-10-18 11:27] DanToml commented on #6039
@mcmengchen You can use a private specs repository: https://guides.cocoapods.org/making/private-cocoapods.html

[2016-10-18 11:33] mcmengchen commented on #6039
I have read the webpage. The thing I want to do is to make a private specs repo depends on  another private specs repo. I think this webpage can't solve my problem.

[2016-10-18 11:35] orta commented on #6039
I think you may be confused by the terminology, a spec repo contains a lot of Pods. You cannot have a specs  that relies on other spec repos, as that doesn't make sense.

You probably don't want to include `https://git.coding.net/michell/RBPrivateTest.git` in your lint command.

[2016-10-18 11:48] adriano-s commented on #5320
I ran into the same issue with XCode 8. I installed 1.1.0.rc.3 and it still did not work. Then I uninstalled all older cocoapod version with `sudo gem uninstall cocoapods` and then it worked again.

[2016-10-18 11:50] mcmengchen commented on #6039
'RBTest' has been a private pod. I just want to use it in my private pod named 'RBTestPrivateSpec'. How can I achieve it? @orta

[2016-10-18 11:56] devandanger commented on #5988
Noticed some white noise regarding having multiple xcodes installed (7.3.1 and 8).  I noticed the error when switching between versions opening the same project (this project didn't even use cocoapods though).  Is this is part of your scenario?

[2016-10-18 12:08] ranjitha-velolabs commented on #2987
hi
I too have the same problem.
Can you give more details on how you fixed the issue on your side?

[2016-10-18 13:11] dumoko opened #6053 "fatal: unable to access Specs.git"
- [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
# Report
## What did you do?

We're trying to use a new pod, therefore we're trying to run `pod repo update`
## What happened?

[code]

It happens all the day. What is the issue?

[2016-10-18 13:40] IphoneCoder commented on #6046
@orta ,i create a demo to show the problem

https://github.com/IphoneCoder/DeviceOnlyDemo

expect you help,thanks

[2016-10-18 13:41] IphoneCoder commented on #6051
hello everyone ,i create a demo to show the problem

https://github.com/IphoneCoder/DeviceOnlyDemo

expect you help,thanks

[2016-10-18 13:53] ahsolanki commented on #460
**I'm facing the issue for warnings, I'm applying following command :**
pod spec lint MyPod.podspec --allow-warnings

**And It returns me error like this,**
[!] The spec did not pass validation, due to 1 error.
[!] The validator for Swift projects uses Swift 2.3 by default, if you are using a different version of swift you can use a `.swift-version` file to set the version for your Pod. For exampl

[2016-10-18 15:45] alonre commented on #5988
You nailed it.
We had to have several versions of the Platform SDK to build OSXFUSE (FUSE for macOS).
However, troubles started only for one specific workspace, and only after we integrated CocoaPods into it.
#### TLDR:
I'll test and update later today.
Thanks!

[2016-10-18 16:53] jshier commented on #6053
Yes, the specs repo is especially slow right now, and has been since last night. Finally time to move to sharded version?

[2016-10-18 19:19] jervine10 commented on #3767
Is it possible to get this posted in a StackOverflow question with a successful answer?

[2016-10-18 20:01] dominostars commented on #4998
Same issue. Deleting pods not helping. This is happening after I tried removing a dependency from a local `.podspec`

[2016-10-18 20:31] gbattiston commented on #2941
I'm having the same problem. I specified the source on the podfile.
But the problem keeps coming back. It's on pod lib lint

 -> MLMessages (0.1.0)
    - ERROR | [iOS] unknown: Encountered an unknown error (Unable to add a source with url `git@github.com:mercadolibre/mobile-ios_specs.git` named `mercadolibre-1`.
You can try adding it manually in `~/.cocoapods/repos` or via `pod repo add`.) during

[2016-10-18 20:32] gbattiston opened #6054 "pod lib lint private repo error"
I'm having the same problem. I specified the source on the podfile.
But the problem keeps coming back.

The command used is this one:

pod lib lint MLMessages.podspec   --allow-warnings   --use-libraries   --private   --sources='git@github.com:mercadolibre/mobile-ios_specs.git,https://github.com/CocoaPods/Specs'

-> MLMessages (0.1.0)
- ERROR | [iOS] unknown: Encountered an unknown error (Unable t

[2016-10-18 20:52] gbattiston commented on #6054
Fixed, command tools problem.

[2016-10-18 20:52] #6054 closed

[2016-10-18 20:57] Abhishek9634 commented on #5908
same issue with 1.0.1

[2016-10-19 01:12] benasher44 commented on #5908
This is fixed in 1.1.0. Please use `gem install cocoapods --pre` to get the latest release candidate.

[2016-10-19 02:35] mcmengchen commented on #6039
Can anybody help me ? @segiddins @fabiopelosin @alloy @mrackwitz @kylef @neonichu @benasher44 @DanToml @AliSoftware  @lukeredpath

[2016-10-19 02:59] benasher44 commented on #6050
As far as I know there is no way to do this. What specifically is wrong with the current implementation?

[2016-10-19 03:02] benasher44 commented on #6039
I don't really understand. Do you want to distribute `RBTestPrivateSpec` publicly, but it depends on `RBTest` only for you?

[2016-10-19 03:03] xcmg opened #6055 "pod install issues help"
/Users/ocean/.rvm/rubies/ruby-2.2.2/bin/pod install
Report

What did you do?

What did you expect to happen?

What happened instead?

Stack

   CocoaPods : 1.0.1
        Ruby : ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]
    RubyGems : 2.4.8
        Host : Mac OS X 10.11.6 (15G31)
       Xcode : 8.0 (8A218a)
         Git : git version 2.8.4 (Apple Git-73)
Ruby lib dir : /Users/ocea

[2016-10-19 03:15] singcodes commented on #6053
I testing just with 'git clone https://github.com/CocoaPods/Specs.git'.
It's not working too.

[2016-10-19 03:19] mcmengchen commented on #6039
Yes, but ```RBTestPrivateSpec``` is still private, it only for our team to use.   I hope they can use it via add
[code]
in their podfile to use it.
@benasher44

[2016-10-19 03:23] benasher44 commented on #6039
In that case, you should look at setting up a private specs repo here: https://guides.cocoapods.org/making/private-cocoapods.html. This is the only way that I know of to support private pod that also has a private dependency, since there's no equivalent `:git` argument for podspec dependencies.

[2016-10-19 03:30] andyyhope commented on #6053
Having the same issue.
`pod repo update --verbose`

[code]

[2016-10-19 06:51] maojj commented on #5910
use https://gems.ruby-china.org/  if in China

[2016-10-19 06:52] b-ray commented on #6050
We're using [this component](https://github.com/y310/cocoapods-ack_filter) to achieve this, especially [this fork](https://github.com/endowzoner/cocoapods-ack_filter) which is also compatible with CocoaPods > 1.0.0 and lets you specify a `filterfile`.

[2016-10-19 07:09] chrisdhaan commented on #6053
Im having the same issue. Have tried completely uninstalling and reinstalling. Any updates?

[2016-10-19 07:21] benasher44 commented on #6050
Ah cool sounds like there's a good plugin to help out with this. Going to close. Thanks for filing!

[2016-10-19 07:21] #6050 closed

[2016-10-19 07:23] Brett-Best commented on #6050
https://github.com/CocoaPods/cocoapods-acknowledgements

This should work:
`plugin 'cocoapods-acknowledgements', :settings_bundle => true, :exclude => ['PrivateKit', 'SecretLib']`

[2016-10-19 07:23] benasher44 commented on #6055
It looks like you're using Xcode 8 with CocoaPods 1.0.1. Using Xcode 8 requires CocoaPods 1.1.0. Please update to the latest release candidate of 1.1.0 by running `gem install cocoapods --pre`. If you experience this issue after updating, please file a new issue. Thanks!

[2016-10-19 07:23] #6055 closed

[2016-10-19 07:29] qooarleo commented on #6053
Same here, any update?

[2016-10-19 07:34] sbhklr commented on #3767
@jervine10 All information is here. Not sure how StackOverflow can help.

[2016-10-19 08:09] winkelsdorf commented on #6050
Sidenote: This does not help with the newly generated markdown. ```cocoapods-acknowledgements``` plugin only handles ```plist``` generation.

[2016-10-19 08:49] winkelsdorf opened #6056 "Clarification on Acknowlegements handling, here: exclude debug configuration & generate markdown"
I am aware that this feature request and discussion came up repeatingly, but the current situation probably still requires a bit of clarification.

Especially now in the transition of 1) CocoaPods ```1.1.0.rc``` and 2) the ```cocoapods-acknowledgements``` plugin.

If I understood the issue archive correctly the preferred way of handling the acknowledgements integration is to use the new aforementi

[2016-10-19 08:52] orta commented on #6056
I know cocoapods-acknowledgements has markdown parsing in it - https://github.com/CocoaPods/cocoapods-acknowledgements/pull/15

I'd recommend making improvements to it, so that it covers your use-case, one day we're going to remove the acknowledgements from CocoaPods and have it in the plugin.

[2016-10-19 09:19] winkelsdorf commented on #6056
Thanks for the clarification on what's the way to go in future (= using the plugin).

Basically right, somebody submitted a PR and it uses ```redcarpet``` now to parse the markdown in each pod description. But as of now this is only inbound parsing.

From what I can tell the whole plugin would require a rewrite of it's core method (the registered hook) in https://github.com/CocoaPods/cocoapods-ack

[2016-10-19 09:19] #6056 closed

[2016-10-19 09:24] bahadiraurea commented on #6053
Any update please?

[2016-10-19 09:34] orta commented on #6053
Sharding the repo will bring down the stress on GitHub's servers ( as we mentioned in the [blog post](http://blog.cocoapods.org/Master-Spec-Repo-Rate-Limiting-Post-Mortem/) ) but it's a destructive move to both the Specs repo and the trunk db - which also forces _everyone_ to migrate to 1.x versions of CocoaPods. So we don't want rush that.

Ideally, once we're sure that the the sharing has gone s

[2016-10-19 09:38] andyyhope commented on #6053
Thanks Orta!

[2016-10-19 09:50] Abhishek9634 commented on #5908
YES rc3 works for me

[2016-10-19 09:58] songjianboy commented on #4618
how to save

[2016-10-19 10:46] primax79 commented on #6053
i think that the problem is related to this

https://github.com/CocoaPods/CocoaPods/issues/4989#issuecomment-193772935

[2016-10-19 11:00] bahadiraurea commented on #6053
Thanks orta hope it will be resolved asap

[2016-10-19 15:40] segiddins commented on #5498
Maybe it's about time we change that template to use ERB instead of gsub'ing in templates values?

[2016-10-19 15:41] orta commented on #5498
The new one is a whole new ball game, I believe, https://github.com/CocoaPods/pod-template/pull/187

[2016-10-19 18:32] Meniny commented on #5864
@DanToml hi. I did create a `.swift_version` and update CocoaPods to 1.1.0. That works when I use `pod lib lint` (thank you for that), but I got an error when I use `pod trunk push`:
[code]
Do you have any idea?

[2016-10-19 18:45] svdo commented on #5864
I'm experiencing the same issue as @Meniny on my pod spec: I'm trying to publish NetUtils v3.0.0. `pod spec lint` works, but `pod trunk push` gives:

    [!] Found podspec `NetUtils.podspec.json`
    Updating spec repo `master`
    Validating podspec
     -> NetUtils (3.0.0)

    [!] The Pod Specification did not pass validation.
    The following validation failed:
    - Warnings: Unrecognized `p

[2016-10-19 18:47] svdo commented on #5864
Quick follow-up: I published anyway using:

    pod trunk push --allow-warnings

[2016-10-19 18:50] Meniny commented on #5864
@svdo thx. I tried that.

[2016-10-19 18:53] jeffrwon opened #6057 "Documentation for install! keys needed"
# Report 🌈
Could we have documentation for what the `install!` keys do?
https://guides.cocoapods.org/syntax/podfile.html#install_bang

I could look through the source and do it myself but I might not understand the full implications of it and perhaps whoever contributed each of these keys could provide the context or their intentions behind it. Thanks!

## What did you do?

ℹ Please replace this w

[2016-10-19 19:43] dcirne opened #6058 "The Pod Specification did not pass validation (1.1.0)"
[code]

When using CocoaPods version 1.1.0 I get the message above when trying to publish a pod using:

[code]

However the pod passes validation with lint
[code]

I had to downgrade to a release candidate version (in this case I used `rc2`) in order to be able to publish the library.

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

[2016-10-19 20:04] k06a commented on #6036
`--verbose` flag gives me hint:
[code]

[code]

[code]

[2016-10-19 20:05] k06a commented on #6036
Looks like `iOS Framework` directory is really missing. Can `pod lib lint` misinterpret PLCrashReportper.podspec @orta?

[2016-10-19 20:27] rchatham commented on #6058
Getting the same!

[2016-10-19 20:55] danthorpe commented on #6058
Getting the same; push works of course if you just add `--allow-warnings`

[2016-10-19 23:07] netizen01 commented on #5678
Any progress on this?

[2016-10-20 05:59] orta commented on #6058
Alright - we've deployed a fix on the trunk side, https://github.com/CocoaPods/trunk.cocoapods.org/pull/195 no-one should see this warning anymore

[2016-10-20 05:59] #6058 closed

[2016-10-20 06:46] allenlinli commented on #4515
@paulz When I try to install podfile with this script. It shows error:
```[!] Invalid `Podfile` file: [!] Specifying multiple `post_install` hooks is unsupported.```

[2016-10-20 07:32] euroboy commented on #4861
Got this error in 1.1.0.rc.2

[2016-10-20 08:23] benasher44 commented on #4515
This is fixed in CocoaPods 1.1.0. It properly sets this setting based on the product type. Can people try testing with that version?

[2016-10-20 09:02] hfossli commented on #4515
@benasher44 Maybe I'm missing something, but it isn't working as I would expect on my side

1) Create an xcode project for Swift only

2) Create Podfile.
[code]

3) Verify pod version
[code]

4) Install
[code]

5) Log to console the xcconfig
[code]

Here's the result [Example project.zip](https://github.com/CocoaPods/CocoaPods/files/541241/Example.project.zip).

-----
I would expect `ALWAYS_EMBED_

[2016-10-20 09:08] benasher44 commented on #4515
I'm assuming KeychainSwift uses Swift. In that case, it'll be set to yes for the target you're integrating that pod into. Since KeychainSwift is a Swift pod, your target requires Swift and its libraries by proxy.

[2016-10-20 09:12] benasher44 commented on #4515
One of the downsides of using Swift pods is that your target that uses them will then have to be distributed with the Swift libraries, which causes the bloat you're seeing.

[2016-10-20 11:20] shanyimin commented on #5928
Make sure your podfile contains the following information
[code]

[2016-10-20 11:23] shanyimin commented on #5623
Make sure your `podfile` contains the following information
[code]

[2016-10-20 11:25] shanyimin commented on #2617
Make sure your `podfile` contains the following information
[code]

[2016-10-20 11:26] orta commented on #5928
This should be fixed by CocoaPods 1.1.0 I think, can you try?

[2016-10-20 11:38] wodow commented on #2842
Archive.org has it at https://web.archive.org/web/20151230070422/http://guides.cocoapods.org/syntax/podfile.html#link_with

[2016-10-20 12:00] ooopscc commented on #2842
@wodow Thanks. I have read this document but still have no idea that where to put it, that simple example should show more context and its rules.

[2016-10-20 12:43] orta commented on #6057
Can you please raise this on the CocoaPods guides repo instead, or even better - send us a PR adding that documentation 👍

[2016-10-20 12:43] #6057 closed

[2016-10-20 14:14] benasher44 commented on #5999
For this one, I think you want to use [vendored_frameworks](https://guides.cocoapods.org/syntax/podspec.html#vendored_frameworks) instead.

[2016-10-20 14:15] benasher44 commented on #5964
Can you try this with CocoaPods 1.1.0? The final release is out now.

[2016-10-20 15:14] danipralea commented on #5964
Thank you for your reply, @benasher44 I just did. and still having the issue

[code]

### Report

* What did you do?

ran `pod update`

* What did you expect to happen?

have the pods expected

* What happened instead?

received error

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2016-10-20 16:16] timmilne commented on #4293
If you are behind a firewall/proxy (hint: CA cert problems or proxy errors), you may need to clone with ssh:

Go to -> ~/.cocoapods/repos
Run this -> rm -rf master
Now, run -> git clone git@github.com:CocoaPods/Specs.git master

Cloning into 'master'...
remote: Counting objects: 870625, done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 870625 (delta 4), reused 0 (delta 0), pack-

[2016-10-20 18:29] brandtdaniels opened #6060 "Could not install CocoaPods 1.1.1"
# Report

## What did you do?

ℹ Please replace this with what you did.
Ran `gem install cocoapods`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
Install CocoaPods 1.1.1 correctly

## What happened instead?

ℹ Please replace this with of what happened instead.
$ gem install cocoapods
ERROR:  Could not find a valid gem 'cocoapods' (>= 0), here is why:

[2016-10-20 19:36] lightbow commented on #6060
This is what I get when attempting to visit rubygems.org in Safari:

<img width="750" alt="screen shot 2016-10-20 at 3 32 31 pm" src="https://cloud.githubusercontent.com/assets/5239751/19574986/827dd3be-96da-11e6-8f00-699e612342f4.png">

[2016-10-20 19:43] lightbow commented on #6060
http://guides.rubygems.org/ssl-certificate-update/

Your report indicates you're using RubyGems 2.4.5. I'm guessing everything will be fine once you update to RubyGems 2.6.7.  It seems this has nothing to do with CocoaPods, although I imagine the issue will affect a large swath of CocoaPods users.

[2016-10-20 20:23] lightbow commented on #6060
Hmm, I'll admit this is beyond my understanding of how RubyGems (and cert management) even work, but this glitch in the matrix from this past week seems like a big red flag:

https://status.fastly.com/incidents/2tf2hvkj2z50
https://twitter.com/rubygems_status/status/786586986194739200
https://downloads.globalsign.com/acton/attachment/2674/f-06d2/1/-/-/-/-/globalsign-incident-report-13-oct-2016.pdf

[2016-10-20 21:53] benasher44 commented on #6060
This isn't an issue with CocoaPods, so I'm going to close this one. I believe the links provided by @lightbow should be able to help as well. Thanks for filing!

[2016-10-20 21:53] #6060 closed

[2016-10-20 22:04] benasher44 commented on #5964
Hm okay. Can you try changing this line:
[code]
to be
[code]

[2016-10-20 22:14] benasher44 commented on #5964
If someone could post a project that reproduces this, that would be great. I haven't had any luck reproducing this locally.

[2016-10-20 22:20] Roblapk opened #6061 "Database"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
e.g. Install all pod dependencies correctl

[2016-10-20 22:21] #6061 closed

[2016-10-20 22:26] brandtdaniels commented on #6060
Maybe not, but it's an issue with CocoaPods users. How about a KB article or something?

[2016-10-20 22:47] danipralea commented on #5964
nope, still having the issue

[2016-10-20 23:44] benasher44 commented on #6060
Did the links above not help? It seems this is a known rubygems issue that just requires updating rubygems.

[2016-10-20 23:51] brandtdaniels commented on #6060
I didn't follow them specifically, I updated the whole chain: brew, rbenv, ruby, bundler, and then cocoapods 1.1.1 updated just fine.

[2016-10-21 04:02] FolkMasters commented on #5702
@tomredman   Thank you very much

[2016-10-21 08:08] Winter-Yang opened #6062 "[!] The repo `QDVendor` at `../../../.cocoapods/repos/QDVendor` is not clean"
how do it when pod repo push
pod 1.1.1  xcode 8.0

[2016-10-21 08:11] orta commented on #6062
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look like.

[2016-10-21 08:11] #6062 closed

[2016-10-21 08:12] orta commented on #5967
Closing 👍

[2016-10-21 08:12] #5967 closed

[2016-10-21 08:16] orta commented on #3398
This has been done, it's just not come back into CocoaPods now 👍

[2016-10-21 09:16] k06a commented on #3289
@cooler333 are you sure it can be written in `podspec`? Can't make it work.

[2016-10-21 09:23] cooler333 commented on #3289
@k06a read again)

[2016-10-21 09:34] k06a commented on #3289
@cooler333 I am working on library that have a problem with dependency pod. And I have problems with `pod spec lint`. I need to fix it in `podspec`, not 'podfile'.

[2016-10-21 10:35] cooler333 commented on #3289
@k06a look at [YandexMapKit Podspec](https://github.com/CocoaPods/Specs/blob/master/Specs/YandexMapKit/1.0.11/YandexMapKit.podspec.json).

how they integrate static library.
[code]

I'm trying do the same in my swift library, but with no success.
If you fix this error, please, give me feedback.

[2016-10-21 10:40] cooler333 commented on #3289
@k06a Does You try to integrate `sub pod` with static library inside it?

[2016-10-21 12:12] gurhub commented on #4803
@enricenrich Thank you very much! Save my day!

[2016-10-21 12:29] k06a commented on #3289
My podspec have `s.dependency 'PLCrashReporter'` which have `vendored_libraries` inside itself. So my podspec can not be verified because of dependency issues.

[2016-10-21 13:53] wiedem opened #6064 "Swift standard libraries embedding explicitly set to NO by CocoaPods"
# Report

## What did you do?

Include ObjC only pod libraries in your project, project uses a custom Swift framework not managed by CocoaPods.

## What did you expect to happen?

CocoaPods should not explicitly set the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` to `NO` inside the xcconfig files if it thinks no Swift runtime library is needed. Actually it should not set this option at all if it deter

[2016-10-21 19:39] orta commented on #3289
@k06a CocoaPods does not support frameworks with transitive static libraries - as mentioned in this thread, and many others - notably https://github.com/CocoaPods/CocoaPods/issues/1993, you need to have them compiled into dynamic libraries to use on trunk.

The code being passed around is a way to turn off the error reporter. You should not be trying to ship code into production.

[2016-10-21 20:24] morganchen12 opened #6065 "Duplicate classes in tests from generated xcconfigs for test targets with target dependencies"
🌈
- [x] I've read and understood the [CONTRIBUTING](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md) guidelines and have done my best effort to follow.
# Report
## What did you do?

I have a dynamic framework project with a handful of dependencies and a unit test target that lists the framework as a target dependency. My `Podfile` looks like this:

[code]

I noticed in one of th

[2016-10-21 20:55] grioja commented on #6064
Having a similar issue... except our app actually uses Swift 2.3 and it is still setting `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` to `NO`

[2016-10-21 21:20] Antondomashnev opened #6066 "Missed module generated by CocoaPods in test target."
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow 🌈](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

In the project with the both Swift and Objective-C source files. there is an issue with missing module generated from the CocoaPods dependency in the test target which is not missed in the project target. After some d

[2016-10-21 21:27] thebluepotato opened #6067 "1.1.1 doesn't seem to read SWIFT_VERSION and results in #5981"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
🌈🌈🌈🌈

# Report

## What did you do?
I was running into the issue mentioned in #5981 and thought I had fixed it by deleting ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES in the target (and setting it explicitly in the *project* to calm Xco

[2016-10-21 22:38] tsheaff commented on #5847
the latest xcodeproj is now 1.3.3 which resolves this issue.

`gem update xcodeproj` worked for me

[2016-10-21 23:55] benasher44 commented on #6067
What's the value of "Use Legacy Swift Language Version" in your project?

[2016-10-22 00:01] thebluepotato commented on #6067
My project has been migrated to Swift 3 shortly after WWDC so the SWIFT_VERSION key has been 3.0 for quite some time for the converted *targets*. I've tried explicitly setting SWIFT_VERSION in my *project* before posting this issue and still the read values are nil.

[2016-10-22 00:02] benasher44 commented on #6067
`SWIFT_VERSION` aside, can you check the value of `Use Legacy Swift Language Version`?

[2016-10-22 00:06] benasher44 commented on #6064
@grioja this because of a target that has Swift and isn't managed by CocoaPods as well?

[2016-10-22 04:28] TamDaoYin commented on #4293
I got the same error messsage . But I reinstall the repository again by the above suggested commands. And then finally can install the pod successfully.

[2016-10-22 05:29] mx4492 commented on #2695
Instead of manually modifying your project settings, you can ask CocoaPods to inherit the header search paths from the parent project.
[code]

[2016-10-22 09:08] thebluepotato commented on #6067
Sorry for the late reply! `Use Legacy Swift Language Version` is set to `No` in both the project's and the target's build settings. The same setting is set to `No` in all targets of the Pods.xcodeproj but the `Pods` project itself has `Unspecified` (and therefore not resolved).

[2016-10-22 09:34] thebluepotato commented on #6067
Here's a tiny project demonstrating the issue : https://github.com/thebluepotato/Issue6067
I made a dummy project, ran `pod init`, ran`pod install`, opened the Workspace, built, close, opened again and there began the Xcode warning -> CocoaPods warning cycle. The deprecated key is still present.

[2016-10-22 12:12] ralito commented on #5995
Is there any update on this issue?

[2016-10-22 15:20] benasher44 commented on #6067
Hm okay. I don't think it needs to be set for the pods project, since we just set it for every target. I'm traveling at the moment, but I'll have a look at this early this week.

[2016-10-22 15:41] #6052 closed

[2016-10-22 16:24] apfritts commented on #4998
Howdy! I'm also running into the same issue. I'm using Swift 3 and a codegen'd Swagger pod.

[code]

[2016-10-23 04:46] benasher44 commented on #6065
I'm not sure I understand the issue here. I can pull the project listed at: https://github.com/morganchen12/FirebaseUI-iOS/tree/pods-weird-behavior, and it builds and launches without issue. Maybe I can add some detail here that will help clarify what's going on though.

FirebaseDatabaseUI is a framework, which means that as of 1.1.0 CocoaPods is going to look for the target in the Podfile that de

[2016-10-23 05:07] benasher44 commented on #5999
Have a look at the podspec DSL I mentioned there that's specifically for this scenario. Specifying a file pattern like `Appboy-tvOS-SDK/AppboyTVOSKit.framework/**/*.*` ignores the file extension of the files you're including as source, which can result in any number of strange build-time issues.

If you experience an issue using `vendored_frameworks` in your podspec, then please file a new issue.

[2016-10-23 05:07] #5999 closed

[2016-10-23 05:10] benasher44 commented on #5995
I haven't been able to reproduce this one. If someone could provide a sample project that reproduces the issue, then that would be helpful.

[2016-10-23 05:13] benasher44 commented on #5952
These issues should be resolved in CocoaPods 1.1.1. Please update and file a new issue if you're still experiencing this. Thanks!

[2016-10-23 05:13] #5952 closed

[2016-10-23 05:27] benasher44 commented on #5580
Ah yep the URL just needs to have `ssh://` in it. So instead of:
[code]
try:
[code]

This has been open for months now. Going to close, but feel free to reopen if this doesn't fix it for you.

[2016-10-23 05:27] #5580 closed

[2016-10-23 05:29] benasher44 commented on #5577
Since upgrading CocoaPods to use fourflusher 2.0, it no longer supports Xcode 6 officially. Going to close this.

[2016-10-23 05:29] #5577 closed

[2016-10-23 05:47] benasher44 commented on #5892
I've tried this locally and cannot reproduce it using CocoaPods 1.1.1. Please try with the latest version and file a new issue with full verbose output if you're still experiencing this. Thanks!

[2016-10-23 05:47] #5892 closed

[2016-10-23 11:02] k06a opened #6070 "Can't create podspec for PLCrashReporter"
- [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
# Report
## What did you do?

I am working on creating `PLCrashReporter-DynamicFramework.podspec` to use it like dependency for my new library because of transitive dependencies with static libraries problem: https://github.com/Co

[2016-10-23 13:28] patrickbdev opened #6071 "Deprecated pod on cocoapods.org doesnt't display latest readme"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
🌈

# Report

## What did you do?
Deprecated [INSImageView](https://cocoapods.org/pods/INSImageView) pod by marking the podspec with appropriate changes
[code]
and running `pod trunk deprecate INSImageView.podspec`

## What did you

[2016-10-23 15:10] orta commented on #6071
The READMEs are based on the last non-prerelease version pushed to CocoaPods, updating the pod spec to be deprecated doesn't update the README or any metadata aside from the deprecation I'm afraid.

[2016-10-23 15:10] #6071 closed

[2016-10-23 16:55] LeeY0510 commented on #3709
@neonichu Some friends have the same issue, so how can we solve this problem? Wait for ur kind reply!

[2016-10-23 17:59] inoue0426 opened #6072 "Can't create podspec"
# Report
🌈

## What did you do?
[code]
Under this enviroment, I typed `pod spec create git@github.com:inoue0426/YICam.git` from terminal.

## What did you expect to happen?
I want to manage Swift library by CocoaPods.

## What happened instead?
### Error

[code]

## CocoaPods Enviroment

### Stack

[code]

### Plugins

[code]

[2016-10-23 18:10] #6072 closed

[2016-10-23 19:29] orta commented on #6072
For others looking [you need to use the github repo URL, rather than a ssh URL](https://guides.cocoapods.org/terminal/commands.html#pod_spec_create) -`pod spec create [NAME|https://github.com/USER/REPO]`

[2016-10-23 21:17] k06a commented on #3965
Working copy/paste solution:
[code]

[2016-10-23 22:32] patrickbdev commented on #6071
Is there a way somehow to "undeprecate" pod, trigger a refresh, then deprecate it again to get the desired readme update?

[2016-10-24 00:46] benasher44 commented on #5979
@mubashirhussain can you please post your Podfile? It's hard to debug this issue without it. Thanks!

[2016-10-24 00:49] benasher44 commented on #5970
@wangjoshuah is this still something you're experiencing with CocoaPods 1.1.1? If so, can you please post the podspec you were using with this, so that we can reproduce? Thanks!

[2016-10-24 00:52] benasher44 commented on #5964
@danipralea could you post a sample project if you're still experiencing this? I haven't been able to reproduce this given the existing information.

[2016-10-24 01:12] benasher44 commented on #5988
According to [this SO post](http://stackoverflow.com/questions/38903699/xcode-7-3-1-crashes-on-macos-sierra-beta-5), this looks to be a macOS Sierra compatibility issue with Xcode 7.3.1. It does say in the release notes for macOS Sierra beta 5 that Xcode 7.3.1 is not compatible with macOS Sierra. I'm going to close this, but please open a new issue if people find that this is still an issue with X

[2016-10-24 01:12] #5988 closed

[2016-10-24 01:14] benasher44 commented on #5994
@rizhang are you still experiencing this issue?

[2016-10-24 01:16] benasher44 commented on #5928
@promisenxu @ggo16 are either of you still experiencing this issue with CocoaPods 1.1.1?

[2016-10-24 01:41] benasher44 commented on #5863
I've verified that we're still passing the `-w` flag in that scenario for each file compiled in the pod target. This flag causes `clang` to suppress all warnings.

Given that this is on Xcode launch, this sounds like flakiness that would go away when clearing derived data and performing a full build. I'm going to close this for now, but please file a new issue if someone can come up with a project

[2016-10-24 01:41] #5863 closed

[2016-10-24 01:46] benasher44 commented on #6039
I think the next steps here are pretty well-documented. Please try out some of the suggested solutions and open a new issue, if you run into any problems. Thanks for filing!

[2016-10-24 01:46] #6039 closed

[2016-10-24 02:38] wlwZLP commented on #5780
@Svantulden Are you the problem solved.I always appear in recent days the problem above, you don't know what you can give me a solution

[2016-10-24 03:24] PanXianyue opened #6073 "Add xxx.tbd library in podspec file fail"
I want add libstdc++.tbd in podspec file, but failed. I use cocoapods version is 0.39.0

example:

s.libraries = 'libz', 'libstdc++'

Showing Recent Issues
ld: library not found for -llibstdc++

[2016-10-24 03:38] #6073 closed

[2016-10-24 03:38] dnkoutso commented on #6073
Can you try `s.libraries = 'z', 'stdc++'` instead?

[2016-10-24 05:13] PanXianyue commented on #6073
I have to solve this problem by this method

[2016-10-24 05:13] PanXianyue commented on #6073
I have to solve this problem by this method

[2016-10-24 07:07] orta commented on #5994
You should also give your email so it can be looked up

[2016-10-24 07:17] orta commented on #6071
You can push a new version, that has the [deprecated flags](https://guides.cocoapods.org/syntax/podspec.html#deprecated) set, and that will re-trigger all the documentation generation

[2016-10-24 08:26] DarkoDamjanovic commented on #2695
@mx4492 Thanks, but then it fails to import the Obj-C BridgingHeader. (it's a Swift project)

[2016-10-24 09:37] kwosu87 commented on #6067
@thebluepotato @benasher44 I found workaround in this situation after version `1.1.1`

I had same problem when I set `Use Legacy Swift Language Version` of my project setting to `No` explicitly like this. (presented in bold text)
<img width="508" alt="2016-10-24 6 26 51" src="https://cloud.githubusercontent.com/assets/2222333/19640445/aba9b8ee-9a17-11e6-9522-044e0aed6e54.png">

I reset this option

[2016-10-24 10:16] thebluepotato commented on #6067
@kwosu87 Thanks for the tip! I've actually tested the #6068 PR and it works without having to tweak your own project (as it should, working out of the box).

[2016-10-24 10:55] kwosu87 commented on #6067
Thanks for the PR link. Hope that `1.1.2` will be released soon.

[2016-10-24 11:36] mubashirhussain commented on #6002
I have uninstaled cocoapods completely and tried to install it again but come up with this error,

ERROR:  Could not find a valid gem 'cocoapods' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (https://api.rubygems.org/specs.4.8.gz)

[2016-10-24 11:37] #6067 closed

[2016-10-24 11:41] #6064 closed

[2016-10-24 12:16] benasher44 commented on #6070
Hm yeah we don't have a way to add build phases to pod targets. Would it be possible to generate headers that have macros that generate the proper code based on the arch being compiled for?

[2016-10-24 12:21] mdsb100 opened #6074 "The famous third-party framework does not include i386, how can I pass the "pod lib lint"?"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

I create a pod repo include the famous third-party framework. The framework does not include i386.

The framework is [TencentOpenAPI](http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/doc/iOS_SDK_V3.

[2016-10-24 12:26] orta commented on #6074
This is realistically a dupe of https://github.com/CocoaPods/CocoaPods/issues/5854

[2016-10-24 12:30] benasher44 commented on #6074
Yep! I'm going to close this, since it's a dup. I'd like to look at this issue soon, so it's on my radar. Feel free to add any new info to #5854. Thanks for filing!

[2016-10-24 12:30] #6074 closed

[2016-10-24 12:38] k06a commented on #6070
@benasher44 do you mean compile `*.defs` file for all supported architectures and wrap in single header file with some kind of `#ifdef`s inside?

[2016-10-24 12:42] benasher44 commented on #6070
@k06a yep!

[2016-10-24 12:45] WangMasterpro opened #6075 "pod install ERROR"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
e.g. Install all pod dependencies correctl

[2016-10-24 12:46] orta commented on #6075
Closing as blank issue.

[2016-10-24 12:46] #6075 closed

[2016-10-24 12:47] benasher44 commented on #6070
One advantage to that approach is that it wouldn't rely on Xcode build phases.

[2016-10-24 12:49] mubashirhussain opened #6076 "Can't install CocoaPods XCode 8 OSX El Capitan"
$ sudo gem install cocoapods
Password:
ERROR:  Could not find a valid gem 'cocoapods' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (https://api.rubygems.org/specs.4.8.gz)

MacPro:~ User$ ruby --version
ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-darwin14]
Mac

[2016-10-24 12:50] orta commented on #6076
Your custom ruby installation needs to have new certificates - http://stackoverflow.com/questions/19150017/ddg#19151697

[2016-10-24 12:50] #6076 closed

[2016-10-24 12:54] benasher44 commented on #6066
This is a duplicate of #5512. Going to close this one, but feel free to add any new information to the other ticket. Thanks!

[2016-10-24 12:54] #6066 closed

[2016-10-24 12:58] benasher44 commented on #5768
Ah this is a frameworks support issue, which should be fixed in CocoaPods 1.1.1. Please try with the latest CocoaPods and open a new issue if you're still experiencing this. Thanks for filing!

[2016-10-24 13:05] k06a commented on #6070
Heh, I think this solution may works but pod should be updated to support new architectures.

[2016-10-24 13:15] benasher44 commented on #6070
You would still have to update the pod for new architectures anyway, right?

[2016-10-24 13:37] mubashirhussain commented on #5979
Here are podfile contents,

target 'BUKImagePickerController-Example' do
  pod "BUKImagePickerController", :path => "../"

  target 'Tests' do
    inherit! :search_paths

    pod 'Specta'
    pod 'Expecta'
  end
end

[2016-10-24 13:39] k06a commented on #6070
Anyway I think CocoaPods should provide some kind of ability to setup custom build steps and their order and compilation rules for different files format. And some tool to convert Xcode project directly to podspec. Is there any work in progress about this ideas?

[2016-10-24 13:50] benasher44 commented on #6070
For this case in particular, `#ifdef`s are the right solution IMO because of the reduced complexity. It works independent of IDE, and this can even be done before distributing the pod.

There's nothing in progress. `prepare_command` is the closest we have to a pre-build (although not quite pre-build) step at the moment. Given that there's a straightforward alternative, I wouldn't expect to see wor

[2016-10-24 13:51] orta commented on #6070
I'd be very, very wary of adding features that make it easy for pods to edit user's Xcodeprojects.
It would have to be totally watertight, which is pretty much impossible.

[2016-10-24 13:53] k06a commented on #6070
@orta I mean really edit only pod target settings like this:
[code]

[2016-10-24 13:56] benasher44 commented on #5979
@mubashirhussain I won't be able to test using that Podfile because it has a `:path` argument that points to something I don't have on my machine.

But, this error indicates some kind of encoding issue. You could try editing this using an editor that's not TextEdit. I also notice that you're mixing and matching quotes. This is fine, but maybe one set is the wrong kind of quotes? Maybe try using al

[2016-10-24 13:58] orta commented on #6070
Ah, yeah, feels like something that should be done in a prepare_command then

[2016-10-24 14:01] benasher44 commented on #6017
This sounds interesting! We don't have plans to work on something like this given the complexity, but we'd definitely be open to a PR to explore it!

[2016-10-24 14:05] benasher44 commented on #6051
This looks like a dup of #5854. Going to close this one in favor of that one, but please feel free to add any new information to the other issue. Thanks for filing!

[2016-10-24 14:05] #6051 closed

[2016-10-24 14:11] benasher44 commented on #6046
I believe this is a combo of #5152 and/or #5854. Going to close this one, but please feel free to add any additional information to those 2 other issues. Thanks for filing!

[2016-10-24 14:11] #6046 closed

[2016-10-24 14:12] mubashirhussain commented on #5979
I have tried the simple podfile by typing myself but still got the same issue,

platform :ios, '8.0'
use_frameworks!

target 'BSImagePicker_Example' do
  pod 'AFNetworking', '~> 2.6'
  pod 'ORStackView', '~> 3.0'
  pod 'SwiftyJSON', '~> 2.3'
end

/////// ******* Error *********////

## Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

###

[2016-10-24 14:15] benasher44 commented on #5862
CocoaPods 1.1.1 is now out. Please update your CocoaPods. If you're still experiencing this after updating, please file a new issue. Thanks for filing!

[2016-10-24 14:15] #5862 closed

[2016-10-24 14:16] benasher44 commented on #6070
@k06a sorry that last comment was blank, so we can't read it.

[2016-10-24 14:18] benasher44 commented on #5666
@mcmatan are you still experiencing this? If so, can you post the full build output?

[2016-10-24 14:23] benasher44 commented on #4515
Going to close this, since CocoaPods now properly sets `EMBEDDED_CONTENT_CONTAINS_SWIFT` to YES or leaves it untouched based on the target. It even handles it properly for extensions as well.

[2016-10-24 14:23] #4515 closed

[2016-10-24 14:30] benasher44 commented on #5341
It sounds like everything to do is done here. In other news, Xcode 8 + macOS Sierra made a lot of headway in terms of amount of required derived data clearing. Going to close this one. Thanks!

[2016-10-24 14:30] #5341 closed

[2016-10-24 14:36] benasher44 commented on #5979
@mubashirhussain can you check to make sure you have `LANG=en_US.UTF-8` set in your terminal? You can see if this fixes it by doing `LANG=en_US.UTF-8 pod install`

[2016-10-24 14:39] k06a commented on #6070
@benasher44 edited it right after it was sent. @orta some kind of prepare_command with pod_target argument and ruby source code to edit this Pod::Target settings. Maybe:
[code]

[2016-10-24 14:39] mubashirhussain commented on #5979
This is `locale` output,

[code]

Also tried `LANG=en_US.UTF-8 pod install` but same error. :(

[2016-10-24 14:39] benasher44 commented on #3709
@LeeY0510 there have been many framework-related improvements to CocoaPods 1.1.0. Can you update to the latest CocoaPods (1.1.1) and file a new issue? Thanks!

[2016-10-24 14:41] benasher44 commented on #5682
@akshatsd2 is this an error running `pod install` or `pod lib lint`?

[2016-10-24 14:42] benasher44 commented on #5682
Also I should ask since it's been nearly 3 months, are you still experiencing this issue using CocoaPods 1.1.1?

[2016-10-24 14:45] benasher44 commented on #5626
@VincentSit can you try updating to CocoaPods 1.1.1 and see if you're still experiencing this issue?

[2016-10-24 14:46] benasher44 commented on #5615
@piemonte can you try registering again? If you still don't get an email, please file a new issue. Thanks!

[2016-10-24 14:47] benasher44 commented on #5613
@singlenumber can you try updating to CocoaPods 1.1.1 and seeing if this fixes your issue?

[2016-10-24 14:48] benasher44 commented on #5570
@ashokds what modifications did you have to make?

[2016-10-24 14:49] benasher44 commented on #5553
@JonnyLinja @iamjjh @electic do you all still experience this issue using CocoaPods 1.1.1?

[2016-10-24 14:50] benasher44 commented on #5534
@shnuzxw are you still experiencing this issue using CocoaPods 1.1.1?

[2016-10-24 14:59] Blahartinger commented on #1690
I have a need to specify additional assets as a subspec...has a new ticket been created? feature implemented? I think the answer is no...but...was there any resolution to being able to do something like rivera-ernesto mentions in the first post:

2. Combines resource_bundle contents among subspecs.

[2016-10-24 15:04] piemonte commented on #5615
hey @benasher44 i've tried numerous times over the past couple months and am still not receiving the validation email. not sure what's happening because i can register other email addresses, just not this one. the one email does receive emails from other senders which is what's strange.

[2016-10-24 15:31] benasher44 commented on #5615
Hmm we're not seeing any issues. We'll have to get the email you're using specifically to check it. You can DM me on Twitter if you like.

[2016-10-24 17:06] morganchen12 commented on #6065
The tests should pass, but the console is filled with warnings of duplicate class implementations. You'll have to scroll up past the test output to see the warnings.

If you aren't getting any of these warnings, that's very confusing and I'm not sure what to make of it. :(

[code]

[2016-10-24 17:10] benasher44 commented on #6065
If you clear your derived data and try again, does that help?

[2016-10-24 17:12] bkcomputer opened #6077 "Can't load use pod init , pod setup"
### Stack

[code]
### Installation Source

[code]
### Plugins

[code]

[2016-10-24 17:14] benasher44 commented on #6077
Can you provide some information about the error you experienced? There's not enough information here to debug this.

[2016-10-24 17:14] morganchen12 commented on #6065
Nope, clearing CocoaPods cache doesn't help either. It also shows up on CI if we update our pod version to >=1.1.0.

[2016-10-24 17:20] orta commented on #6077
Hrm:
[code]

With respect to this, I'd recommend deleting the pods folder, not sure how it got into this state. `rm -rf ~/.cocoapods/repos`

[2016-10-24 17:21] matynz commented on #2926
@mhuusko5 @fluidsonic have you find a definitive way of including a dependency on a podfile to a pod that has a dependency with static framework?

[2016-10-24 17:37] benasher44 commented on #6077
Ah sorry I glossed over the error output. Yep. @orta's suggestion should do the trick.

[2016-10-24 17:49] piemonte commented on #5615
@benasher44 thanks, i followed you on twitter but it won't let me DM unless you follow back. my email is also the one on my GitHub profile page.

[2016-10-24 18:05] k06a commented on #6070
@benasher44 @orta looks like we have no nice way to access `${SDKROOT}/usr/include/mach/mach_exc.defs` because `SDKROOT` can not defined while prepare_command is called 😕

[2016-10-24 18:15] fluidsonic commented on #2926
@matynz I don't think there is a definitive solution for this issue.
It always depends on the Pods you're trying to use and how you want to use them.
Google & Firebase Pods for example are total pain to use with dynamic frameworks. And the workarounds only work if you use each static framework/library in only a single Pod and not from multiple Pods.

Our app has two static dependencies left: `Apps

[2016-10-24 18:54] arifken commented on #5334
We recently ran into a similar issue with IBDesignables "image not found" issues, and were able to work around the problem by adding FRAMEWORK_SEARCH_PATHS to the runpath search paths.

[code]

[2016-10-24 19:29] RishatShamsutdinov commented on #5534
I have the same issue on 1.1.1 but with OpenSSL.

[2016-10-24 19:33] benasher44 commented on #6070
`xcrun --sdk iphoneos --show-sdk-path` should do just that.

[2016-10-24 19:55] benasher44 commented on #5979
That's odd. I have the same output for `locale`. Can you show me the contents of `echo $PATH`?

[2016-10-24 19:56] k06a commented on #6070
@benasher44 thanks, great idea! Following works fine:
[code]

[2016-10-24 20:00] benasher44 commented on #6065
@morganchen12 there could be an errant build setting in your test target that's causing this. If it's not too much effort, you might try just deleting your test target and creating a new one from scratch. You should be able to select all and easily re-add all of your test sources back to that target once you have the fresh one.

[2016-10-24 20:55] morganchen12 commented on #6065
I set up a [new project](https://github.com/morganchen12/Pods-Test) and the issue still reproduces there.

I've worked around this by not inheriting the OTHER_LDFLAGS build setting from CocoaPods in the project file, so this is no longer a blocker for me--take your time if you have other important stuff to work on 👍

[2016-10-24 22:14] jingidy opened #6078 "Throw an informative exception when using git < 1.8.5"
### Command

[code]
### Report
- What did you do?

`pod install`
- What did you expect to happen?

Re-install all cocoapods so they work with cocoapods 1.1.1 and xcode 8
- What happened instead?

The first error I got was `[!] Unable to add a source with url `https://github.com/CocoaPods/Specs.git` named `master-1`.
You can try adding it manually in `~/.cocoapods/repos` or via `pod repo add`.`

I'

[2016-10-24 22:41] benasher44 opened #6079 "Make pod install atomic (or closer to it)"
It'd be nice if `pod install` were atomic. This means it either makes all of the changes to your working directory or makes no changes if it doesn't finish:
- Generates Pods directory
- Makes xcode project and workspace changes

This would be an improvement for CI, since it would mean that you could kill a build in the middle of `pod install` and not be left with a half-baked Pods directory. This

[2016-10-24 22:51] benasher44 commented on #6078
Urg. This is likely `Dir.chdir` issue. Can you try re-running the command like this `FORK_XCODE_WRITING=true <cmd>`?

[2016-10-25 01:43] mdsb100 commented on #5854
@orta
I see you are going to make improvements specific to dynamic frameworks.

The famous third-party framework maybe is a static library. So could you provider a way to solve 'pod lint' from both static and dynamic, both library and framework?

Not only solve this issue, but also we can ignore i386 or x86_64 to reduce time when 'pod lint' or 'pod repo push'.

[2016-10-25 01:46] mdsb100 commented on #5854
What version are you going to release it?

[2016-10-25 02:44] #5724 closed

[2016-10-25 03:15] segiddins commented on #6079
1. Copy `Pods/` to `Dir.tmpdir`
2. Set `config.sandbox` to that temp dir
3. Run the installer
4. Copy the temp dir to `Pods/`

Note that there's no way to make _everything_ (writing the project, writing the lockfile, writing the `Pods/` dir) completely atomic

[2016-10-25 03:43] VincentSit commented on #5626
@benasher44

I am using version 1.1.1 now, this issue has been fixed, thanks! I forgot to update the issues.

[2016-10-25 03:43] #5626 closed

[2016-10-25 04:36] benasher44 commented on #5626
No prob! Thank you!

[2016-10-25 04:37] benasher44 commented on #6078
This is fixed as part of #6048. Thanks for filing'

[2016-10-25 04:40] benasher44 commented on #5938
This is fixed as part of #6048. Thanks for filing!

[2016-10-25 04:40] #5938 closed

[2016-10-25 04:42] benasher44 commented on #6020
@jarwel can you try with CocoaPods master? I think this is fixed now.

[2016-10-25 04:47] benasher44 commented on #5995
I'd also recommend updating your CocoaPods to 1.1.1 and try again.

[2016-10-25 04:52] benasher44 commented on #5444
@virl can you try with CocoaPods 1.1.1?

[2016-10-25 06:44] k06a commented on #6070
The last issue I can't solve: importing from project looks terrible:
[code]

It differs between `use_frameworks` and `use_libraries` and original PLCrashRepoter pod.

[2016-10-25 06:49] georgegrape commented on #4293
Thank you segiddins. It works for me :+1

[2016-10-25 07:10] mubashirhussain commented on #5979
Here you go,

[code]

[2016-10-25 07:40] waiwaib opened #6081 "when run shell pod install at jenkins environment"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
e.g. Install all pod dependencies correctl

[2016-10-25 07:41] iblacksun opened #6082 "XXXX is implemented in both xxx.framework and yyy.app"
My app have one application target and one framework target, the framework is embedded in app target. Both of then using a third party pod named 'AMap3DMap'.

When build and run the app, Xcode console logs lots of XXXX is implemented in both xxx.framework and yyy.app.

 I know that 「You're requesting that the same Pod is integrated into both your app and your framework target, this Pod happens to

[2016-10-25 08:07] orta commented on #6081
Please fill out the issue when requesting other peoples time @waiwaib, closing due to issue being only a title.

[2016-10-25 08:07] #6081 closed

[2016-10-25 08:55] seanyue commented on #5854
If cocoapods 0.39.0 have already been installed, the command 'pod _0.39.0_ spec/lib lint' or 'pod _0.39.0_ repo push' can be used for a workaround.

[2016-10-25 09:03] mdsb100 commented on #5854
A temporary solution：use rvm.
For example：
rvm install ruby 2.2.2. Use 2.2.2 and install cocoapods 0.39.0.

rvm install ruby 2.3.1. Use ruby 2.3.1 and install cocoapods 1.1.1

You can flexibly switch pod's version by using 'rvm use'

[2016-10-25 10:01] WCL-LV commented on #5545
you can try to delete Podfile.lock

[2016-10-25 10:01] virl commented on #5444
@benasher44 No, I cannot: I moved to Carthage because it is better.

[2016-10-25 10:11] hsusmita commented on #6003
Hey @orta ,
I am facing the same issue with my pod SwiftResposiveLabel.
`http://cocoadocs.org/docsets/SwiftResponsiveLabel/1.1/` is working fine.
`http://api.cocoadocs.org:4567/redeploy/SwiftResponsiveLabel/latest` gives this `{"parsing":true}`
`http://api.cocoadocs.org:4567/error/SwiftResponsiveLabel/1.1` give the following error.
[code]
`http://metrics.cocoapods.org/api/v1/pods/SwiftResponsiveLa

[2016-10-25 10:45] benasher44 commented on #5979
Can you remove `/sbin??n’export` entry from your path? Looks like this is malformed. So just do PATH=<everything but that> (keeping each part separated by a colon). Once you do that print out your path again to verify. If that looks good, try your pod command again

[2016-10-25 10:49] benasher44 commented on #5444
@virl no prob. Thanks for getting back!

[2016-10-25 10:49] #5444 closed

[2016-10-25 12:37] benasher44 commented on #6070
I think other pods do this by distributing 2 pods: PodX-Dynamic and PodX-Static. Is that what you mean?

[2016-10-25 12:41] benasher44 commented on #6070
Yeah Brightcove does this in their sub specs: https://github.com/CocoaPods/Specs/blob/master/Specs/Brightcove-Player-SDK/5.1.4/Brightcove-Player-SDK.podspec.json

[2016-10-25 12:53] benasher44 commented on #6065
Oh I do see this now. It's in the console at launch time, as opposed to warnings at build time. I think I got confused. I'll look into this.

[2016-10-25 13:10] mubashirhussain commented on #5979
Tried above path now gives output without that portion but unfortunately error is still there.

[code]

[2016-10-25 13:22] gzncland commented on #6035
@orta the same exception with pod --version `1.1.1`
that's my operation logs:

[code]

and override `.podspec` file to:

[code]

[code]

Finally, create a xcodeproj and use podfile:

[code]

[code]

the Terminal shows:

[code]

remove the `Assets` folder, retry:

[code]

[2016-10-25 13:50] benasher44 commented on #6082
This is a dup of #6065. Going to close this one, but feel free to add any additional information you have to the other ticket. Thanks for filing!

[2016-10-25 13:50] #6082 closed

[2016-10-25 13:59] mcmatan commented on #5666
Is was an import problem, changing "" to <> and the ether way round. closing issue

[2016-10-25 13:59] #5666 closed

[2016-10-25 14:53] balazsnemeth commented on #5954
My XCode 7 installed parallel beside XCode 8 produced this issue. Finally the "Find Implicit Dependencies" check (Edit Scheme > Build) must be checked in to fix this issue

[2016-10-25 15:24] inoue0426 commented on #6072
Thanks!
This mistake was very careless...🤔

[2016-10-25 16:30] benasher44 commented on #6079
Unless you make copies of those and write to the copies first :)

[2016-10-25 16:32] benasher44 commented on #6079
You could also make backups of the project files, and then roll back to the backup if the process has to exit early

[2016-10-25 17:01] segiddins commented on #6079
You can't atomically write multiple files, though

[2016-10-25 17:32] benasher44 commented on #6079
Right. That's why some kind of rollback would need to be at least attempted.

[2016-10-25 17:55] arifken commented on #5940
@neonichu Just wondering, do you think it would work to have the product name for the subspec be different? e.g. in this example you'd have AFNetworking.framework and AFNetworking-Serialization.framework. Since the frameworks will not be linked against the same binary (AFNetworking linked to the main app, and AFNetworking-Serialization linked to the today extension?)

[2016-10-25 18:09] tapz opened #6083 "Target has frameworks with conflicting names: googletoolboxformac."
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

pod update

## What did you expect to happen?

Install all pod dependencies correctly and the project compiles without errors.

## What happened instead?

If I include FireBase/Core to MyAppExtensio

[2016-10-25 19:50] rhaining opened #6084 "Pod not showing up in search"
🌈

Yes. i'm on v1.1.1

* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
`pod trunk push`

## What did you expect to happen?
The pod to show up on cocoapods.org, cocoapods search, and to be available via Podfiles.

## What happened instead?
The pod

[2016-10-25 20:42] nikitaame opened #6085 "tvOS with extension Linker Error"
- [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
# Report
## What did you do?

I was trying to make a build using the fastlane gym tool
## What did you expect to happen?

Make proper build correctly integrated with all pod dependancies. This is for a tvOS app utilizing an extens

[2016-10-25 21:11] jingidy commented on #6078
It still seem to happen even when I pull cocoapods directly from master.

I used bundler with the following configuration:
[code]

That should get me the master branch version when I do `bundle install` then `bundle exec pod install` right? Still getting the same errors even after these steps.

[2016-10-25 21:49] segiddins commented on #6078
@jingidy you also need to grab Xcodeproj master

[2016-10-25 22:05] rhaining commented on #6084
Maybe search just needs to be re-indexed or something? thanks!

[2016-10-25 22:46] jingidy commented on #6078
I'm still getting the same errors, probably just missing something really simple.

Here's my Gemfile:
[code]
Any other information I can provide that'd be helpful?

[2016-10-25 23:11] traviskaenel commented on #5531
@dral3x Sorry, I'm new to this. I tried updating cocoapods but it didn't work. I honestly don't even know what that it. I tried copy/pasting the Install: on the rubygems.org website into Terminal, but got this error:
ERROR:  While executing gem ... (Gem::FilePermissionError)
    You don't have write permissions for the /Library/Ruby/Gems/2.0.0 directory.

[2016-10-25 23:56] benasher44 commented on #6085
A few things to try: clear derived data, `pod deintegrate`, `pod install` again. Can you try those?

[2016-10-25 23:58] benasher44 commented on #6083
This looks like a dup of #5643. Going to close this one. Thanks for filing!

[2016-10-25 23:58] #6083 closed

[2016-10-26 00:01] benasher44 commented on #6078
Once you do that, can you do `bundle update cocoapods` and `bundle update xcodeproj`? Once that's done, can you show the contents of your Gemfile.lock?

[2016-10-26 00:05] benasher44 commented on #6078
Also, make sure that when you run `pod install`, you run `bundle exec pod install` to be sure you're using the version installed in your bundle via the Gemfile.

[2016-10-26 01:02] nikitaame commented on #6085
Thanks for the quick response! Tried those a couple times without any result however.

[2016-10-26 01:11] benasher44 commented on #6085
No prob! Any chance you could put together a sample project that reproduces the issue? This sounds like it's just a build setting that's gotten messed up somewhere, but it's really hard to identify exactly what that means without a sample project.

You can also look at this search: https://github.com/CocoaPods/CocoaPods/search?q=ld%3A+library+not+found+for+-lPods&type=Issues&utf8=✓

There have bee

[2016-10-26 01:12] jingidy commented on #6078
I ran the 2 update commands and used `bundle exec pod install` and I'm still getting the same errors 😟

But here's the Gemfile.lock!
[code]

[2016-10-26 01:28] benasher44 commented on #6078
@segiddins do those look like the right commits?

[2016-10-26 02:51] gzncland commented on #6035
I changed `s.source_files`:
`/Foobar/Foobar/Classes` to `/Foobar/Pod/Classes`.
work.

[2016-10-26 03:29] segiddins commented on #6078
@benasher44 issue here is the git version is too old and doesn't have the `-C` option

[2016-10-26 04:05] jingidy commented on #6078
Haha, yes! once I upgraded git everything is 👌🏼

[2016-10-26 06:47] orta commented on #6084
I've moved this issue over to the search project - https://github.com/CocoaPods/search.cocoapods.org/issues/105

[2016-10-26 06:47] #6084 closed

[2016-10-26 07:13] mcmengchen opened #6086 "Some problem about pod lint"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
e.g. Install all pod dependencies correctl

[2016-10-26 07:16] orta commented on #6086
Closing as blank issue.

[2016-10-26 07:16] #6086 closed

[2016-10-26 07:17] mcmengchen commented on #6086
@orta  Sorry,I just forget to write the description.

[2016-10-26 07:19] orta commented on #6086
Cool, no problem, you only need to use `pod repo lint` on Specs repos - not on pods. They look like this: https://github.com/artsy/Specs

[2016-10-26 07:23] mcmengchen commented on #6086
Ok,Thank you.

[2016-10-26 08:34] ralito commented on #5995
For me this is happening with every project. I've updated CocoaPods to 1.1.1 and still nothing.

[2016-10-26 08:54] lindow2009 commented on #5774
i have some issues about cocoapods that alerting Bundle at path *.framework did not have a CFBundleIdentifier in its Info.plist
so have any ideas?

[2016-10-26 12:34] mcmengchen commented on #6039
Thank u. @benasher44

[2016-10-26 13:12] nolanw commented on #5311
This is an extremely unhelpful error message! Would appreciate reopening the issue to add a more clear error message.

[2016-10-26 14:26] benasher44 commented on #6078
Agreed.

[2016-10-26 23:20] nikitaame commented on #6085
Gotcha! Could it perhaps be a problem with tvOS extensions? I believe there were some issues with watchOS one's until CP fixed them in 1.1.0.

I've tried looking at the search and checking build settings, derived data, etc but to no avail. I'll try to get a sample project with the same issue together for you ASAP. Thanks again!

[2016-10-26 23:57] #6024 closed

[2016-10-27 02:24] lzybala commented on #3680
@rajeshr solution works! but pop command still not found?

[2016-10-27 04:53] iblacksun commented on #6065
In my case, change the framework's ```Mach-O Type``` to ```Static Library``` can fix this issue.

[2016-10-27 06:10] rickyhust opened #6089 "CocoaPods 1.1.1 Issue ? [!] An unexpected version directory `NewClass` was encountered for the `/Users/apple/.cocoapods/repos/MoudlePod3/MoudlePod3` Pod in the `MoudlePod3` repository."
I try to create a private pod.

**Environment:**
Xcode 8
Cocoapods 1.1.1

**My pods file tree:**
.
├── LICENSE
├── MoudlePod3
│   ├── 0.0.1
│   │   └── MoudlePod3.podspec
│   ├── TestObject3.h
│   └── TestObject3.m
├── MoudlePod3.podspec
└── README.md

**PodSepc(0.0.1):**
XXXX
s.source_files  = "MoudlePod3/*.{h,m}"
XXX

**Demo Project Pod file:**
source 'https://github.com/CocoaPods/Specs.git'
sou

[2016-10-27 06:52] bigdig opened #6090 "DFCommon"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
e.g. Install all pod dependencies correctl

[2016-10-27 07:34] ixp9891 commented on #6035
@orta I using xcode8(8A218a) and pod version 1.1.0.rc3 but have same problem ,how should I do?

[2016-10-27 07:41] #5375 closed

[2016-10-27 09:04] orta commented on #6090
Closing as blank.

[2016-10-27 09:04] #6090 closed

[2016-10-27 09:50] cillyfly opened #6091 "pod search ReactiveCocoa Error"
### Command

[code]
### Report
- What did you do?
         pod search ReactiveCocoa
- What did you expect to happen?
        give me some infomations
- What happened instead?
        error
### Stack

[code]
### Plugins

[code]
### Error

[code]

[2016-10-27 10:02] kennebecstars commented on #5847
@tsheaff that 'gem update xcodeproj' ==> 1.3.3 worked!

[code]

[2016-10-27 10:19] LukasCZ commented on #5559
May I ask why is this issue closed? The problem still exists. I had just updated to CocoaPods 1.1.1 to try to see if it solves the issue, but my project won't build. (Building for both Simulator and Device fails.). I have set $(inherited) on all of my targets, and tried cleaning (deleting) the build folder, but it still doesn't work.

Any help would be much appreciated. I have huge respect for the

[2016-10-27 10:23] orta commented on #5559
This issue was closed because multiple people, including the original author showed that it was a derived data error from Xcode. You're welcome to open a new issue with a reproducible way for us to help debug it.

We create and maintain this in our spare time, with hundreds of thousands of users - you can imagine how that works out WRT our time management.

[2016-10-27 10:31] LukasCZ commented on #5559
Thanks for the response, Orta. I know you all build it in your spare time, and I really appreciate it, I do. I will try investigating it some more and possibly open a new issue. The problem is: I don't completely understand how the buliding/linking works, that's why it's hard for me trying to solve it, or even pinpoint where exactly is the problem.

Is there any good resource that you know of whic

[2016-10-27 10:40] orta commented on #5559
There's not really any canonical apple documentation around this. A good resource for a lot of the underlying build tools is this blog: http://pewpewthespells.com/ramble.html

[2016-10-27 12:07] LukasCZ commented on #5559
Thank you Orta, that's great! Especially since I wasn't able to find anything solid on this topic before. I will read up on that :).

[2016-10-27 12:38] LukasCZ commented on #5559
I just happened to find the solution: I don't know why, but my settings for Pods Xcode project had the "Build Active Architecture Only" set to YES. Once I removed the setting, it turned to NO and it started working. I hope this revelation might be useful for others as well. I certainly haven't touched that setting myself, I don't know why it was set to "No".

[2016-10-27 13:22] cannyboy commented on #5985
I've got this problem - is there a standard way of solving it? What should I be looking for? The `pbxproj` file is quite obscure to me. Is there something I can reset in Xcode itself?

[2016-10-27 13:47] yacir opened #6092 "dyld: Library not loaded: /System/Library/Frameworks/UserNotifications.framework/UserNotifications Referenced from: /private/var/mobile/Containers/Bundle/Application/CCA44320-A37C-494F-8ACC-74C1E1D8425B/MyProjectCocoaPods.app/Frameworks/MyExtension.framework/MyExtension Reason: image not found"
- [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
# Report
## What did you do?

Run `pod install`
Build and run the app  on device with iOS 9
## What did you expect to happen?

Run the app correctly.
## What happened instead?

## CocoaPods Environment
### Stack

[code]
### Instal

[2016-10-27 15:05] RishatShamsutdinov commented on #4370
Not fixed even in 1.1.1.

[2016-10-27 15:44] fonkadelic commented on #5589
Any news on this? Super annoying when treating warnings as errors.

[2016-10-27 16:22] sunwei415 opened #6093 "failed to run pod search"
Problem solved. The reason is the existing of pod spec files with very old syntax.

[2016-10-27 17:02] KingFeef opened #6094 "Unable to convert Ruby value `"GTMSessionFetcher"' into a CFTypeRef"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
Run pod update

## What did you expect to happen?

Update all pod dependencies correctly.

## What happened instead?

Received an error message and now proje

[2016-10-27 17:21] segiddins commented on #4370
Please open a new issue with concrete steps to reproduce.

[2016-10-27 17:37] KingFeef commented on #6094
Well, I just ran pod install, and then pod update again...both got errors. Then I ran pod update again with my Xcode open by accident and the update took.  I'm not sure what actually caused the update to work, but there's no error now.

[2016-10-27 18:25] keepingitneil opened #6095 "crash on pod install"
### Stack                                                                                                                                                                                            [58/80]

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2016-10-27 21:31] benasher44 commented on #6095
It looks like something is wrong with how it's reading the contents of one of the `bebo/` repos. Those are private, so it's hard for me to debug this. Can you provide more information about the layout of those repos?

[2016-10-27 21:35] benasher44 commented on #6094
Hm interesting. On master, this code path is gone. I'm going to close this one for now. A beta will be coming out shortly with this update. Please file a new ticket if you experience this when the beta comes out. Thanks for filing!

[2016-10-27 21:35] #6094 closed

[2016-10-27 21:37] benasher44 commented on #6092
Can you tell me the value of your "Runpath Search Paths" setting for both of your targets?

[2016-10-27 21:44] benasher44 commented on #6089
Ah, so `source 'http://192.168.1.71/ljb/MoudlePod3.git'` means that it expects that to be a specs repo, but it looks like you're trying to combine a specs repo and the repo where you keep the code for your pod, which is unsupported. You should instead remove the custom `source` line and do something like `pod 'MoudlePod3', '~> 0.0.4', :git => '<repo_url>'`.  Checkout https://guides.cocoapods.org/u

[2016-10-27 21:44] #6089 closed

[2016-10-27 21:46] benasher44 commented on #6085
No prob! It could be a problem with tvOS extensions, but this isn't the kind of result I'd expect for an issue that's extension-specific.

[2016-10-27 22:13] keepingitneil commented on #6095
[code]

[2016-10-27 22:44] benasher44 commented on #6095
This was fixed by ee6c72975df2f56fed1f4a0acf0874f9c9a22f8f, which isn't in 1.1.1, but it will be in an upcoming beta release. Thanks for filing!

[2016-10-27 22:44] #6095 closed

[2016-10-28 00:24] benasher44 commented on #5589
Someone could also test setting `GCC_WARN_INHIBIT_ALL_WARNINGS` instead of what we currently do, which is set `-w` for every source file.

[2016-10-28 00:36] benasher44 commented on #5985
It usually a bad entry in a "target dependencies" build phase for one of your targets. In your project file, it'd be a `PBXTargetDependency` entry with no `target` or `targetProxy` property.

[2016-10-28 03:44] Blahartinger commented on #4370
If you've got a private pod with a resource bundle in a subspec and then have a Podfile with this subspec in two or more different targets in the same project.

I see it with the following setup in my project yield the warning:
[code]

PrivatePodA.podspec important parts:
[code]
Podfile:
[code]

[2016-10-28 03:49] segiddins commented on #4370
Please share a project the team can use to reproduce the problem in a new issue

[2016-10-28 04:29] jcayzac commented on #5847
I'm OP and can confirm that the issue is gone with the latest gems, so I'll just go ahead and close the issue since it was not assigned to anybody yet.

[2016-10-28 04:29] #5847 closed

[2016-10-28 07:19] mcmengchen opened #6096 "pod update private pod"
# Report

## What did you do?
Create a private pod named ```RBTest```, and then create another two private pod  named ```RBTestPrivateSpec``` and ```MitchellTest``` depend on ```RBTest```.

## What did you expect to happen?

When I use ```RBTestPrivateSpec``` and ```MitchellTest``` in my podfile, I hope it can be used without any error.
## What happened instead?

When I use ```MitchellTest ``` , a

[2016-10-28 07:38] thireven opened #6097 "pod init error: NameError"
# Report

## What did you do?
Run `pod init`

## What did you expect to happen?
Create the Podfile file

## What happened instead?
NameError - uninitialized constant Nanaimo::Reader::StringScanner

## CocoaPods Environment

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

### Error

[code]

[2016-10-28 07:40] orta commented on #6096
A repo should either be a Podspec, or a Specs repo, you shouldn't be trying to do both in the same repo.

Please consult the guides on how to maintain a private Specs repo, and how to create your own private Podspecs.

[2016-10-28 07:40] #6096 closed

[2016-10-28 07:50] coderwhy commented on #6097
the same to me

[2016-10-28 07:59] purej1983 commented on #6097
I got the same problem

[2016-10-28 08:00] mcmengchen commented on #6096
@orata Thank u for your following up. I tried many times as document, And I have successfully used private pod in my podfile. But maybe u misunderstand my point, I want to express is that podspec maybe can't  support subfolders very good.

[2016-10-28 08:05] mcmengchen commented on #6096
At beginning, I tried to make a private pod depend on another private pod. I failed many times and days but all failed as the document said. Then I tried not to create subfolders like ```Classes``` in my private pod and success. I just want to know why?

[2016-10-28 08:06] 78lab commented on #6097
I got the same..

[2016-10-28 08:07] orta commented on #6097
Are these on a fresh installation?

[2016-10-28 08:08] thireven commented on #6097
@orta Yes, fresh installation. Fresh, brand-new mac, even.

[2016-10-28 08:09] 78lab commented on #6097
@orta Yes, fresh installation.

[2016-10-28 08:12] orta commented on #6097
We started a deploy of a new beta for CocoaPods, but got stuck on the deploy process due to a Specs issue. Looks like you're all using a beta version of Xcodeproj - I would recommend reverting it down to 1.3.0. Think you'd do:

[code]

[2016-10-28 08:14] patchthecode opened #6098 "Cocoapod Error/Bug. Internal Server error"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
I run ` pod trunk push JTAppleCalendar.podspec`

## What did you expect to happen?
I expected my new CocoaPod version to be updated

## What happened instead?
I got this error message
[code]
## Cocoa

[2016-10-28 08:16] thireven commented on #6097
Installing xcodeproj 1.3.3 fixes it.

Thanks.

[2016-10-28 08:16] #6097 closed

[2016-10-28 08:19] sunbijou commented on #6097
[sudo] gem uninstall xcodeproj
[sudo] gem install xcodeproj -v 1.3.3

 -> error occur
You don't have write permissions for the /Library/Ruby/Gems/2.0.0 directory error..

What's problem??

Thanks.

[2016-10-28 08:19] orta commented on #6097
You need to actually include the optional `sudo` bit.

[2016-10-28 08:23] 78lab commented on #6097
Installing xcodeproj 1.3.3 fixes it.

Thanks.

[2016-10-28 08:24] sunbijou commented on #6097
Gem::MissingSpecError occur

$ pod init

/Library/Ruby/Site/2.0.0/rubygems/dependency.rb:308:in `to_specs': Could not find 'xcodeproj' (< 2.0, >= 1.3.3) among 58 total gem(s)

Help me..Thanks

[2016-10-28 08:35] sunbijou commented on #6097
Installing xcodeproj fixes it.
Thank you very much

[2016-10-28 08:37] ShiWeiCN commented on #6098
I have the same problem...😭

[2016-10-28 08:39] patchthecode commented on #6098
@ShiWeiCN  yea man ☹️
I have a lot of users waiting on my pod update

[2016-10-28 08:42] orta commented on #6098
I'd recommend keeping your eye on https://status.cocoapods.org - until we can send Podspecs Specs to trunk, there's nothing we can do I'm afraid.

[2016-10-28 09:00] cannyboy commented on #5985
Thanks, for future reference it was this that I removed:

    12BE36B91B15D1B300778475 /* PBXTargetDependency */ = {
                           isa = PBXTargetDependency;
                           name = Alamofire;
                    };

[2016-10-28 09:01] jianghaoyuan2007 opened #6099 "[!] An error occurred on GitHub’s side. Please check GitHub’s status at https://status.github.com and try again later in case the pod is still not published."
<img width="1251" alt="screen shot 2016-10-28 at 16 59 41" src="https://cloud.githubusercontent.com/assets/2723353/19801018/fc6778dc-9d2f-11e6-8dc6-1b51407ce12e.png">
<img width="1262" alt="screen shot 2016-10-28 at 17 00 31" src="https://cloud.githubusercontent.com/assets/2723353/19801038/14518d70-9d30-11e6-9887-370ba37b4bf2.png">

**I don't know how to fix it.**

[2016-10-28 09:06] orta commented on #6099
Dupe of #6098

[2016-10-28 09:06] #6099 closed

[2016-10-28 09:24] jianghaoyuan2007 commented on #6099
@orta Thank you so much.

[2016-10-28 09:27] yacir commented on #6092
MyProjectCocoaPods: `$(inherited) @executable_path/Frameworks`
<img width="916" alt="capture d ecran 2016-10-28 a 10 32 58" src="https://cloud.githubusercontent.com/assets/2587473/19801896/6101fb48-9d01-11e6-9cdd-2ec7470fec96.png">

MyProjectCocoaPodsExtension: `$(inherited) @executable_path/Frameworks @executable_path/../../Frameworks`
<img width="1108" alt="capture d ecran 2016-10-28 a 10 33 43"

[2016-10-28 09:55] Bartosz-Kozajda commented on #4293
Try git clone https://username@github.com/CocoaPods/Specs.git master

It works for me

[2016-10-28 10:33] nicolasbraun opened #6100 "xcodebuild -list command fails after updating to 1.1.1 : Old-style plist parser: missing semicolon in dictionary on line 17611"
- [X ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
# Report
## What did you do?

Run `xcodebuild -list -workspace myProject.xcworkspace`
## What did you expect to happen?

This command is supossed to list all schemes in my project.
Instead it failed to parse my project and only l

[2016-10-28 10:51] sicaboy commented on #5742
@bryanboyko I met the same issue as you. but unfortunately, i failed to solve it

[2016-10-28 11:30] sicaboy commented on #5742
by deleting DerivedData folder contents really works, thanks @bryanboyko

[2016-10-28 11:47] orta commented on #6098
Alright - looking good now 👍

[2016-10-28 11:47] #6098 closed

[2016-10-28 12:09] ShakeebM commented on #6097
while installing xcodeproj -v 1.3.3, I got the following error

Fetching: xcodeproj-1.3.3.gem (100%)
ERROR:  While executing gem ... (Errno::EPERM)
    Operation not permitted - /usr/bin/xcodeproj
What should i do?

[2016-10-28 12:42] Tr736 commented on #6097
install xcode pro 1.3.3 and I still get the same error

[2016-10-28 12:56] benasher44 commented on #5979
@mubashirhussain can you do `PATH=''` and then try the pod command again? At least that way, maybe we can confirm it's something in your `PATH`?

[2016-10-28 13:07] benasher44 commented on #6100
@nicolasbraun can you try using CocoaPods 1.2.0.beta.1? This might be fixed already. You can get it by running `gem install cocoapods --pre`

[2016-10-28 13:10] benasher44 commented on #6092
Oh actually, I think this means you're missing some system framework:

You might try re-installing Xcode? I've never encountered this before.

[2016-10-28 13:13] benasher44 commented on #6035
Can you show the directory tree for `/Users/Zapper/.cocoapods/repos/Foobar`?

[2016-10-28 13:52] nicolasbraun commented on #6100
Hi Ben,

Thanks for the quick reply. The problem still occurs with 1.2.0beta1.

Nicolas

[2016-10-28 14:12] benasher44 commented on #6100
Hm. Did you try adding the missing semicolon?

[2016-10-28 14:28] ttaulli commented on #6097
I tried the above as well and I'm still not able to create a pod init

[2016-10-28 14:32] nicolasbraun commented on #6100
I could not figure where it was missing in the diff.
The log referenced line is the . XML file (I suspect it is the XML generated representation of my pbxproj) but I do not have access to it

[2016-10-28 14:37] nicolasbraun commented on #6100
I suspect it might be an escaping issue but in the diff the only escape changes are here around the GIT_XXX evars. (two `\` instead of three)

[code]

[2016-10-28 14:51] patchthecode commented on #6098
@orta Ok. I didnt know. Thanks for the quick response.
I dont know how you code works under the hood, but maybe as a suggestion when someone does and `push` maybe it can check the status first, and if anything is down, it can print to the user's console, that the status is currently down? But I dont know.. only a suggestion. Thanks for the response.

[2016-10-28 14:55] newmanw opened #6101 "Nanaimo::Reader::ParseError - not a valid string at index 114798 (char is "$")"
# Report

## What did you do?

ℹ Please replace this with what you did.
pod install

## What did you expect to happen?
not an error

ℹ Please replace this with what you expected to happen.
Install all pod dependencies correctly.

## What happened instead?

ℹ Please replace this with of what happened instead.
### Error

[code]

## CocoaPods Environment

ℹ Please replace this with the output of `pod

[2016-10-28 14:57] orta commented on #6101
Can you share your Xcodeproject?

Or if note, some of the bits that seem relevant to the error message "not a valid string at index 114798 (char is "$")"

[2016-10-28 15:08] newmanw commented on #6101
I cannot.  I did remove all dependencies from my Podfile:

[code]

I have also removed my xcworkspace.

Of note I just downloaded and updated to xcode 8.1.  I did not see this issue when using xcode 8.0.

[2016-10-28 16:19] yacir commented on #6092
`UserNotifications.framework` is not really missing. When i add the `My-iOS-SDK-Extension` dependency manually or with CocoaPods but by disabling `use_frameworks!` everything works well.

But when i enable the `use_frameworks!` option,  the error occurs with devices with iOS 8/9.

[2016-10-28 16:32] newmanw commented on #6101
@orta 'some of the bits that seem relevant to the error message'.  Not sure where to even start looking.  Any ideas?

[2016-10-28 16:40] nicolasbraun commented on #6100
Just to let you know if I discard the changes to the lines quoted in my further comment it works.
So CP is modifying one ouf our custom build phases script :

[code]

Nicolas

[2016-10-28 17:34] benasher44 commented on #6100
@segiddins maybe this is something the new plist parser needs to account for?

[2016-10-28 18:12] kkaliher commented on #5995
I believe this to be an underlying issue with code signing on Sierra 12.x + Xcode 8.x where code signing fails with exit code 5, and not with Cocoapods, so am closing this.
I opened an issue with Apple on it.

Other developers have run into this issue but with no clear workaround other than to archive/build to device on El Capitan.
http://stackoverflow.com/questions/39664079/command-usr-bin-codesi

[2016-10-28 18:12] #5995 closed

[2016-10-28 18:47] MohammedMAK commented on #6097
i have same issue

[2016-10-28 19:49] alexpersian opened #6102 "Generating Pods project fails on macOS 10.12.1 (16B2657)"
# Report

## What did you do?

Run `pod install` within an Xcode 8.1 project

## What did you expect to happen?

All dependencies installing correctly.

## What happened instead?

CocoaPods gathers pod files correctly, but fails when generating the pods project.
[code]
Xcode path
[code]

## CocoaPods Environment

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

### Podfile

[2016-10-28 20:35] phimage commented on #6101
Same error here I think
[code]
At character 70273 of my Project.xcodeproj/project.pbxproj I have
[code]

more of my project files (two target of type external build system which launch some scripts)
[code]

[2016-10-28 23:43] montehurd commented on #6101
Same.

[2016-10-29 00:03] wangjoshuah commented on #5970
Issue is with .xcconfig files. If I have comments in the .xcconfig files then Cocoapods will try and parse the comments

[2016-10-29 01:21] chrif commented on #4293
None of the solutions posted in the last 20 days worked for me, even with the latest beta release:

[code]

None of the solutions in #6078 worked either.

[2016-10-29 04:18] leeaken opened #6103 "TypeError - no implicit conversion of nil into String ( CocoaPods : 1.0.1)"
I want to make a private cocopods library,here is my private library:

https://git.coding.net/leeaken/MXNetworkSpec.git
https://git.coding.net/leeaken/MXNetwork.git

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2016-10-29 05:56] dnkoutso commented on #6103
probably something wrong with the podspec you've published. Can you paste its contents?

[2016-10-29 07:51] orta commented on #6101
These errors are specific to the version of xcodeproj you have, for now, you can do:

[code]

To get back to our last major release, which should work fine.

@phimage that is the sort of thing, yeah! Thanks

[2016-10-29 08:19] leeaken commented on #6103
@dnkoutso  hi,do you mean the  MXNetworkSpec.git is wrong ?

Here is my  podspec

Pod::Spec.new do |s|
  s.name         = "MXNetwork"
  s.version      = "0.1.0"
  s.summary      = "MXNetwork 是一个网络组件库"
  s.homepage     = "https://git.coding.net/leeaken/MXNetwork.git"
  #s.license      = "MIT"
  s.license       = { :type => "MIT", :file => "LICENSE" }
  s.author             = { "li.tiankun" => "li.t

[2016-10-29 11:03] leeaken commented on #6103
I also push private spec to github,here it is
https://github.com/leeaken/MXNetworkSpec

[2016-10-29 13:25] beloso opened #6104 "Error installing pods after updating xcodeproj"
🌈
- [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
  # Report
### Command

[code]
### Report
- What did you do?

Ran `bundle update`, then `pod update`.
- What did you expect to happen?

Pods to be installed without problems
- What happened instead?

An error due to the latest v

[2016-10-29 14:05] #6093 closed

[2016-10-29 14:55] Brett-Best commented on #6104
I'm also seeing this, my podfile is below.

[code]

[2016-10-29 15:17] #6101 closed

[2016-10-29 15:20] segiddins commented on #6101
`gem install nanaimo:0.1.2` will also fix it :)

[2016-10-29 15:34] HeEAaD commented on #6102
Same issue here.
### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

[2016-10-29 15:45] dnkoutso commented on #6103
@leeaken I cannot reproduce. I tried Ruby 2.2.4 but i was successfully able to consume your pod in a sample app...this is the line it fails at https://github.com/CocoaPods/Core/blob/master/lib/cocoapods-core/specification.rb#L523

[2016-10-29 16:23] rony868 opened #6105 "[!] Unable to add a source with url `https://github.com/CocoaPods/Specs.git` named `master`."
Last login: Sat Oct 29 11:24:30 on console
evas-Mac:~ Rony$ cd /Users/Rony/Desktop/FirebaseProject/
evas-Mac:FirebaseProject Rony$ pod init
evas-Mac:FirebaseProject Rony$ vi Podfile
evas-Mac:FirebaseProject Rony$ pod install
Setting up CocoaPods master repo
[!] Unable to add a source with url `https://github.com/CocoaPods/Specs.git` named `master`.
You can try adding it manually in `~/.cocoapods/r

[2016-10-29 16:26] segiddins commented on #6105
Did you try adding it manually as the error message suggests?

[2016-10-29 16:42] HeEAaD commented on #6102
I fond a solution. **Updating xcodeproj to 1.4.0 should fix the issue**.🎉

There was an exception in https://github.com/CocoaPods/Xcodeproj/blob/1.3.3/lib/xcodeproj/plist/ffi/dev_tools_core.rb :
[code]

[2016-10-29 16:44] DanToml commented on #6102
🎉 - Xcodeproj 1.4.x switches to using https://github.com/CocoaPods/Nanaimo rather than using Xcode internals.

[2016-10-29 16:44] #6102 closed

[2016-10-29 16:49] DanToml commented on #6104
Interesting. My guess is that something is `nil` in the project.

[2016-10-29 16:59] rony868 commented on #6105
Yes and this is result
evas-Mac:repos Rony$ git clone https://github.com/CocoaPods/Specs.git master
Cloning into 'master'...
remote: Counting objects: 881324, done.
remote: Compressing objects: 100% (31/31), done.
error: RPC failed; result=56, HTTP code = 200 KiB | 97.00 KiB/s
fatal: The remote end hung up unexpectedly
fatal: early EOF
fatal: index-pack failed
evas-Mac:repos Rony$

[2016-10-29 17:05] DanToml commented on #6103
@leeaken this looks like a duplicate of https://github.com/CocoaPods/CocoaPods/issues/5184. Could you try running `rm -rf ~/.cocoapods/repos/master` and `pod setup`?

[2016-10-29 17:08] DanToml commented on #5905
@smbss Could you try again with the latest version of CocoaPods and Xcodeproj?

[2016-10-29 17:11] MaximusMcCann opened #6106 "pod lib create fails: uninitialized constant Nanaimo::Reader::StringScanner (NameError)"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Ran `pod lib create <name>`

## What did you expect to happen?
Create an initial pod library

## What happened instead?
Sort of creates it, but doesn't fill in the name or any info I provided

[code

[2016-10-29 17:12] DanToml commented on #6106
@MaximusMcCann this was fixed in `nanaimo 0.1.1`, please run `gem install nanaimo -v 0.1.2` then try again

[2016-10-29 17:12] #6106 closed

[2016-10-29 17:13] MaximusMcCann commented on #6106
Cheers!!

[2016-10-29 17:22] MaximusMcCann commented on #6106
Ran `sudo gem update`
And the reran above, but receiving related error .. :/

[code]

[code]
[code]

Any thoughts?

Appreciate the help!

[2016-10-29 17:25] DanToml commented on #6106
@MaximusMcCann You shouldn't need `sudo` if you're using `rbenv`. Now it looks like `nanaimo` is not in your gem path?

what's the output of `gem list | nanaimo`?

[2016-10-29 17:28] MaximusMcCann commented on #6106
hmm...
[code]

[2016-10-29 17:30] DanToml commented on #6106
Please can you try `gem install nanaimo -v 0.1.2` or use Bundler?

[2016-10-29 17:36] MaximusMcCann commented on #6106
Looks like I must have set something up incorrectly to start :/

Had to refresh my shell

[code]
reloaded shell, but still ``read_from_path': cannot load such file -- nanaimo (LoadError)`

[2016-10-29 17:39] DanToml commented on #6106
🤔 - I'm honestly not too sure. It looks like there's something funky with your ruby env. Could you try http://guides.cocoapods.org/using/a-gemfile.html?

[2016-10-29 17:40] MaximusMcCann commented on #6106
Will try. Thank you for the help!

[2016-10-29 17:47] MaximusMcCann commented on #6106
Got bundle to work.  The key: **cannot add a hyphen to the pod name** so test-lib failed, but testLib works!

Still not working without `bundle exec`, but that's on me.  Thanks @DanToml for the quick help!

[2016-10-29 17:57] MaximusMcCann commented on #6106
Had to explicitly remove the old nanaimo 0.1.0.  Now it works

[2016-10-29 18:48] rony868 commented on #4293
![captu](https://cloud.githubusercontent.com/assets/16340930/19832012/96b67eb4-9e3a-11e6-8f65-14554fb790b3.PNG)

[2016-10-29 18:50] rony868 commented on #4293
![c](https://cloud.githubusercontent.com/assets/16340930/19832022/e29b41ca-9e3a-11e6-84f0-7695ae1eeb8f.PNG)

[2016-10-30 00:29] AT5Hack commented on #3341
I had to also delete my derived data after the commit to make the warnings disappear.

[2016-10-30 01:11] KonsoltCorp commented on #3276
There needs to be a way to specify dependencies in the podspec using the same syntax as the sources directive

[2016-10-30 06:43] leeaken commented on #6103
Hi,@dnkoutso @DanToml  thanks very much!
I fix my Podfile config, and rm -rf ~/.cocoapods/repos/master, and pod setup,then i solve my issue. my  Podfile looks like this:

platform :ios, '8.0'

project 'Test.xcodeproj'

source 'https://git.coding.net/leeaken/MXNetworkSpec.git'
source 'https://github.com/CocoaPods/Specs.git'

platform :ios, "7.0"

target "Test" do
 pod 'MXNetwork', '~> 0.1.0'
end

I

[2016-10-30 06:44] #6103 closed

[2016-10-30 09:10] orta commented on #3276
This feature is available, via private specs repos, as we've mentioned multiple times in the thread.

[2016-10-30 09:45] LinkedHK commented on #5077
Unable get it work. most likely some server side problem :-1:
[code]

[2016-10-30 10:50] yacir commented on #6092
@benasher44 do you need more  inputs ?

[2016-10-30 11:57] RWOverdijk opened #6107 "pod install failed"
### Command

[code]
### Report
- _What did you do?_
  I followed the instructions here: https://github.com/airbnb/react-native-maps/blob/master/docs/installation.md and got this error when running `pod install`
- _What did you expect to happen?_
  Not sure? A successful install I think. First time pod user :D
- _What happened instead?_
  This.
### Stack

[code]
### Plugins

[code]
### Podfile

[co

[2016-10-30 12:10] RWOverdijk commented on #6107
I get the same when I delete the Podfile, and just run pod init:

[code]

[2016-10-30 12:15] RWOverdijk commented on #6107
After opening the project in xcode once, it _does_ work. So I'm guessing this issue doesn't belong here.

[2016-10-30 12:54] dorotakrimmel opened #6108 "Nanaimo parse error"
――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
### Command

[code]
### Report
- What did you do?
- What did you expect to happen?
- What happened instead?
### Stack

[code]
### Plugins

[code]
### Podfile

[code]
### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[2016-10-30 14:47] DanToml commented on #6107
@RWOverdijk Could you possibly upload a sample project that generates this error? (I don't have react-native setup, but I'm guessing that something is generating a project with an unquoted string, that Xcode will automatically quote)

[2016-10-30 18:36] truemetal commented on #3276
@orta and what do you think about this comment with 12 likes?

[2016-10-30 18:56] orta commented on #3276
I think people are welcome to like things, however we've stated why we're not building it. If someone's really into the idea, they can implement it, ensure it's well tested and send us a PR for discussion. As we've mentioned though, you'd be duplicating existing functionality though.

12 people over a year clicking a button is easy with hundreds of thousands of users, building and ensuring it's pr

[2016-10-30 19:52] orta commented on #6108
What are the ENV variables being set around languages in your xcode projects look like?

[2016-10-30 20:33] dorotakrimmel commented on #6108
Not sure where to check it.
Update - this happens after I run:
pod deintegrate
This command corrupts xcodeproj file (and removes xcworkspace), after I checked out the full repository from git I was able to run both pod install and pod update. But pod deintegrate corrupts everything and after this every pod command produces the above error.
This started happening today after I updated Xcode to vers

[2016-10-30 23:15] rocco commented on #6104
Same here, upgraded from xcodeproj 1.3.2 to 1.4.0. This version started using the Nanaimo gem to parse .pbxproj files. In my case it's a Cordova-generated project. Works with 1.3.2 so I rolled back.

[2016-10-31 01:05] segiddins commented on #6105
Then it's an issue with your network, and not specifically CocoaPods-related.

[2016-10-31 02:53] segiddins commented on #6108
Please share your project file so we can see why parsing is failing. Thanks!

[2016-10-31 02:56] DanielLe232 commented on #4293
@rony868 you could setup before clone cocoapod
==>sudo xcode-select -switch /Applications/Xcode.app
==>cd ~/.cocoapods/repos
==>git clone https://github.com/CocoaPods/Specs.git master

[2016-10-31 03:03] tiandabao opened #6109 "xcode 8 update iOS Deployment Target 7.0"
My app needs to support > = 7.0 but now use xcode8, platform: ios, '7.0' pod install, update the library ios Deployment Target is 8.0, this can be set???????

[2016-10-31 03:11] iblacksun commented on #6065
Any updates for this issue?

[2016-10-31 03:13] skrew commented on #6108
Just for info, i have the same problem.
Updating nanaimo to v0.1.2 don't help.

Usually i use a hint for that:
pod _0.39.0_ install

but now it's fail with:
[code]

[2016-10-31 03:15] segiddins commented on #6108
@skrew

[2016-10-31 03:15] tiandabao commented on #6109
post_install do |installer|
    installer.pods_project.targets.each do |target|
        target.build_configurations.each do |config|
            config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '7.0'
        end
    end
end
Find this, directly change the project.pbxproj in pod

[2016-10-31 03:15] #6109 closed

[2016-10-31 04:58] aldocyanlabs commented on #6106
@MaximusMcCann hi I've same problem. How to remove the old nanaimo?

[2016-10-31 04:59] MaximusMcCann commented on #6106
`gem uninstall nanaimo`

It will prompt you for which version to uninstall 👍

[2016-10-31 05:06] aldocyanlabs commented on #6106
@MaximusMcCann Thanks! finally could do pod init now 👍

[2016-10-31 06:19] matin0728 opened #6110 "Did not show compile warnings when inhibit_all_warnings off"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Create a new project, add some pods that will be certainly produce compile warnings, run pod install, run the new application.

## What did you expect to happen?

Show compile warnings as expect.

#

[2016-10-31 06:34] sunwell commented on #6095
I have a same problem. But when I reinstall **_CocoaPods_** with `sudo gem install cocoapods -n /usr/local/bin --verbose`, my **_CocoaPods_** version is still **_1.1.1_**. How can I update **_CocoaPods_** to the latest version.

[2016-10-31 07:24] dorotakrimmel commented on #6108
@segiddins
Project file - which one is that? I am new to this forum. Do you mean my Podfile?
Or the corrupt .xcodeproj after pod deintegrate makes it unreadable?
Or some other file?

[2016-10-31 07:42] orta commented on #6110
Can yu please give us a re-producable project. I can raise compiler errors in my own projects' pods.

[2016-10-31 08:10] RWOverdijk commented on #6107
@DanToml I could, but I can also provide you the steps required to reproduce this.

### Short version
1. Install react native (`npm i react-native -g`). I'm on 0.36.0
2. Create a new project (`react-native init someProject ; cd $_ ; cd ios`)
3. Run `pod init`
4. Error.

### Long version
1. Install react native (`npm i react-native -g`). I'm on 0.36.0
2. Create a new project (`react-native init som

[2016-10-31 08:19] dorotakrimmel commented on #6108
Here they are. This is BEFORE the corruption happens (no errors on that one)
WORKING ONE:
[project_before_corrupt.pbxproj.zip](https://github.com/CocoaPods/CocoaPods/files/561326/project_before_corrupt.pbxproj.zip)

This is the corrupted one, after I ran pod deintegrate. After this pod install (or pod update, or pod deintegrate) cause the Nanaimo::Reader::ParseError I am reporting here.
CORRUPTED

[2016-10-31 08:22] hlung commented on #3341
Seems like I need to actually "commit" all the file changes to git after deleting pod. I build again (without cleaning), now those warnings are gone. :)

[2016-10-31 08:48] PanXianyue opened #6111 "pod lib lint cannot pass"
when i use a framework in my podspec appear this error, how can i fix it ???

ld: illegal text-relocation to 'cstring' in /Users/XY/Desktop/AJKPlayer/AJKPlayer/Frameworks/wplayer.framework/wplayer(alphablend.o) from '_ff_sws_alphablendaway' in /Users/XY/Desktop/AJKPlayer/AJKPlayer/Frameworks/wplayer.framework/wplayer(alphablend.o) for architecture i386
clang: error: linker command failed with exit

[2016-10-31 09:01] ajspencer commented on #5315
I have the same issue and neither fixes worked for me. Can someone help point me in the right direction? @neonichu

[2016-10-31 09:23] orta commented on #6111
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look like.

[2016-10-31 09:23] #6111 closed

[2016-10-31 09:48] Tr736 commented on #6097
Ok so having a little play about with it this morning and got it working by doing the following without skipping any steps

1. uninstall cocoa pods
`sudo gem uninstall cocoa pods`

2. Uninstall xcodeProj
`sudo gem uninstall xcodeproj`

3. install xcode pro 1.3
`sudo gem install xcodeproj -v 1.3.3`

4. install cocoapods normal release
 `sudo gem install cocoapods`

5. try pod init.... should work

[2016-10-31 09:53] TienVu-PW opened #6112 "Podspec linting fail with build failed"
# Report

## What did you do?
Run `pod spec lint Library.podspec`

## What did you expect to happen?

Linting successful

## What happened instead?

My project's dependency is another pod which contain static lib (basically something similar to RealmSwift), the another pod with static lib mentioned linting fine (it have no dependency), but the one depends on it fail when building, the static lib d

[2016-10-31 10:25] alexey-bondar commented on #6108
I've got the same problem after updating my gems. Try to downgrade the version of xcodeproj gem.

sudo gem uninstall xcodeproj
sudo gem install -n /usr/local/bin xcodeproj -v 1.3.2

[2016-10-31 10:31] #6112 closed

[2016-10-31 10:47] Dinalli commented on #6104
Anyone found a solution to this yet ? I've tried a few things including trying the latest beta of Cocoapods and had no luck.

[2016-10-31 10:52] beloso commented on #6104
I've rolled back to xcodeproj 1.3.3 in my gem file. Everything is working.

On Mon, Oct 31, 2016, 10:47 Andrew Donnelly <notifications@github.com>
wrote:

[2016-10-31 12:44] germs5 commented on #6108
I had a similar error:

pod install
Analyzing dependencies

――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

――― TEMPLATE END ―――――――――――――――――――――――――――――――――――――――――――――――

[2016-10-31 13:17] Rulikkk commented on #6108
[code]

This seems to work. Note: I changed version to `1.3.3`. Looks like we need to report to Nanonimo?

[2016-10-31 13:28] ixp9891 opened #6113 "cocoapods private pods ,pod search fail"
# Report

## What did you do?

cocoapods create private pods

 -> XPFunList (0.1.0)
XPFunList passed validation.

## What happened instead?

## CocoaPods Environment

1.1.0

2.6.8

ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin15]

## Project that demonstrates the issue

master
- Type: git (master)
- URL:  https://github.com/CocoaPods/Specs.git
- Path: /Users/Ixp/.cocoapods/re

[2016-10-31 13:37] ttaulli commented on #6097
Hi,
I tried this -- but when doing the install of xcode pro 1.3 for #3, I get the following:

ERROR:  While executing gem ... (Errno::EPERM)
    Operation not permitted - /usr/bin/xcodeproj

[2016-10-31 13:40] Tr736 commented on #6097
For step 3 try

sudo gem install -n /usr/local/bin xcodeproj -v 1.3.3

[2016-10-31 13:45] ttaulli commented on #6097
Looks like it works!  thx!

[2016-10-31 13:50] alexpersian commented on #6102
Thanks for the help all. Running `gem update` fixed the xcodeproj issue. 🙌

[2016-10-31 15:04] jdee commented on #6102
Another option (which I think also uses xcodeproj version 1.4.0) is to use cocoapods 1.2.0-beta.1: `gem install cocoapods --pre`.

[2016-10-31 15:18] zinas commented on #6107
Getting the exact error as well, and it happened right after starting a new react native project (ie. `The short version` from the above example)

[2016-10-31 15:53] zinas commented on #6107
@RWOverdijk what do you mean `opening the project in XCode once`? I tried opening it and it didn't fix it, did you do anything else?

[2016-10-31 15:59] fanyuexiang opened #6114 "RuntimeError - Cannot write 3.0 to an ascii plist"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
 Install all pod dependencies correctly.

## Wh

[2016-10-31 16:09] nicolasgoutaland commented on #6104
I there, did just encounter the same problem.
Pod install run well, but the pbxproj is incorrect.
Did uninstall xcodeproj and force installation of version 1.3.3, and everything is fine now.

[2016-10-31 16:16] RWOverdijk commented on #6107
@zinas Hm no. I just opened it, run it once and close xcode again. Then it worked for me. Maybe I accidentally did something to make it work but I don't think so.

[2016-10-31 16:26] segiddins commented on #6108
So this appears to actually be a serialization error -- the backslash before the quote is being escaped when it shouldn't be?

[2016-10-31 16:32] segiddins commented on #6108
Yup, this is a bug in `Nanaimo::Unicode.unquotify_string`

[2016-10-31 17:56] nikitaame commented on #6085
I've figured out what the problem was.

When running pod install,  -lPods-Prod - [APP_NAME] - TopShelf.a was being generated in the Frameworks folder of the project workspace. When deleted the fastlane build would work once again, until pod install would be run.

[2016-10-31 22:38] benasher44 commented on #6092
@yacir i'm pretty stuck here. Can you share a project that reproduces the issue?

[2016-10-31 22:42] benasher44 commented on #6065
Nope. I'll have more time to look into this in the next week and a half or so, but I haven't determined the root cause yet.

[2016-10-31 22:43] benasher44 commented on #6095
`gem intall cocoapods --pre`

[2016-10-31 22:43] dorotakrimmel commented on #6108
@segiddins do you have any advice on how to work around it until nanaimo fixes their bug?

[2016-10-31 22:45] benasher44 commented on #5315
@ajspencer can you please file a new issue with repro steps? We'd be happy to help :)

[2016-10-31 22:47] dorotakrimmel commented on #6108
@Rulikkk I tried your solution, it did not solve the problem for me, I am still getting an error. Does anyone know of any workaround, while we wait for Nanaimo to fix their bug?

[2016-10-31 22:49] benasher44 commented on #6085
@nikitaame sorry I'm still not quite sure I understand what happened. Would you mind walking me through it?

[2016-11-01 00:54] segiddins commented on #6108
I'm working on a patch for nanaimo this week

[2016-11-01 01:27] truemetal commented on #3276
@orta makes sense, thanks

[2016-11-01 01:52] ajspencer commented on #5315
@benasher44 thank you! I fixed it by completely uninstalling Psych and then running the setup command. I recommend that method for anyone else that has this problem.

[code]

[2016-11-01 02:46] sunwell commented on #6095
@benasher44 Thx~

[2016-11-01 04:26] DanToml commented on #6114
@fanyuexiang Please could you share steps to reproduce this?

[2016-11-01 07:13] #6114 closed

[2016-11-01 08:00] mubashirhussain commented on #5979
Got this while trying above description,

[code]

[2016-11-01 09:14] umarchohan commented on #5723
Same error with me.
Even tried clean and rebuild

[2016-11-01 10:21] sunnycn2013 opened #6115 "podspec validation error"
## What did you do?

ℹpodspec  validation error

## What did you expect to happen?

ℹ  podspec  validation passed

## What happened instead?

ℹ  error msg:

[code]

[2016-11-01 12:33] zinas commented on #6107
In case anyone else has the same problem: for me downgrading cocoapods from 1.1.0 to 1.0.0 fixed the issue

[2016-11-01 12:40] benasher44 commented on #5979
@mubashirhussain you'll have to specify the full path to the pod command while you're testing with an empty PATH. you can get the full path by running `which pod` in a new terminal window.

[2016-11-01 12:41] benasher44 commented on #5723
@umarchohan can you file a new issue with repro steps please? Thanks!!

[2016-11-01 12:41] benasher44 commented on #6115
Can you please share your podspec?

[2016-11-01 12:58] umarchohan commented on #5723
@benasher44  this is my podfile

# Uncomment the next line to define a global platform for your project
#platform :ios, '9.0'

target 'Inspection App' do

pod 'Realm'

  target 'Inspection AppTests' do
    inherit! :search_paths

pod 'Realm/Headers'

  end

end

[2016-11-01 13:03] benasher44 commented on #5723
@umarchohan the issue template in a new issue helps us gather useful information to help with debugging. Could you please file a new issue with repro steps?

[2016-11-01 13:30] umarchohan commented on #5723
@benasher44 sure I shall report a new issue

[2016-11-01 15:27] dtrenz commented on #3720
I had this issue and was able to resolve it by;
1. going to the project's Info tab,
2. setting all configurations for all targets to "None",
3. closing Xcode,
4. running `pod install`

[2016-11-01 16:08] nikitaame commented on #6085
Sure, let me know if this explanation is better.

When I cloned the project from a git repo I would try to make a build using fastlane (https://github.com/fastlane) but would get the error:
[code]
Easy enough, just run pod install to fix this problem. After doing so however, the Frameworks folder of my xcodeproj would generate empty references (they're highlighted red) to libPods - [BUILD_TARGET_N

[2016-11-01 16:16] graph opened #6116 "Having proprocessor macros with a "\" corrupts xcode project after pod install"
🌈 It's colorful interesting. Didn't know Unicode emoji's can have color.

This is either an issue with cocoapods or Xcodeproject. Thanks to my coworker for generating the steps to reproduce.

* [√] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
1. Crea

[2016-11-01 17:11] #6108 closed

[2016-11-01 17:23] nogueirad88 commented on #5358
After 14h i found this issue, @Coeur 's solution of setting only SYMROOT=${WORKSPACE}/build solve this problem, thanks

[2016-11-01 17:25] davidbjames opened #6117 "Xcode 8.1 requires project updates on Pods project using Cocoapods 1.1.1"
[Screenshot1](https://cl.ly/hxxj)
[Screenshot2](https://cl.ly/hxn7)

# Report

## What did you do?

ℹ Ran `pod update`

## What did you expect to happen?

ℹ Not to cause Xcode project settings to become invalid.

## What happened instead?

ℹ Project settings became invalid. (This is only a warning in Xcode and does not prevent me from doing my work.)

## CocoaPods Environment

ℹ ### Stack

[code]

[2016-11-01 17:26] vegidio-symbio commented on #5995
I was having the exact same problem described here, but it got solved when I upgrade to Cocoapods to version **1.1.1**.

@ralito Just out of curiosity, how did you install version 1.1.1? Initially I was installing it using `gem update cocoapods`, and even thought it was apparently installing version 1.1.1, it only worked when I actually installed using `gem install cocoapods -v 1.1.1`.

@kkaliher

[2016-11-01 17:27] davidbjames commented on #6117
Additional note: Received this warning on `pod update`. This appears (though I'm not sure) to conflict with Xcode recommended settings.

``` [!] The `Expand [Debug]` target overrides the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` build setting defined in `Pods/Target Support Files/Pods-Expand/Pods-Expand.debug.xcconfig'. This can lead to problems with the CocoaPods installation
    - Use the `$(inher

[2016-11-01 17:59] nikitaame commented on #6085
It seems that the references are supposed to be pointing to some derived data which is non existent...

[2016-11-01 18:02] byennen commented on #6107
same issue. adding bundler to the root dir so our team is on the correct cocoapods

[2016-11-01 18:05] AnthonyMDev commented on #6117
Yeah, this doesn't stop me from working, but is slightly annoying. I get a bunch of warnings, and then I update to recommended settings in Xcode and I get a warning when I run `pod install`.

[2016-11-01 18:43] Md-Cake commented on #3402
One more guy here wants to update his Podspec through CI server installed on a Linux platform.
@segiddins do you think that this project is a low priority? We want to move to the CI and CD era here :)

[2016-11-01 18:59] revolter commented on #5598
I created a completely new project in Xcode 8.1 and I get the same `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` warning.

[2016-11-01 19:01] rileybracken commented on #6107
@zinas's fix did not work for me.

Does anyone else have a solution for this?

[2016-11-01 19:01] jshier commented on #5598
Looks like this might be fixed in `1.2.0.beta.1`. Have you tried it?

[2016-11-01 19:02] revolter commented on #5598
Oh, didn't know it wasn't released yet. Any idea how to install the beta version with `brew`?

[2016-11-01 19:08] kylef commented on #3402
@Md-Cake Linux support was added in CocoaPods 1.2.0.beta.1 (see [CHANGELOG](https://github.com/CocoaPods/CocoaPods/blob/master/CHANGELOG.md#120beta1-2016-10-28)).

But, I do think that fully linting/publishing a pod spec will depend on Xcode and macOS. You should be able to use the `pod` command line tool on Linux though.

[2016-11-01 19:18] byennen commented on #6107
Make sure to uninstall all cocoapods gems.

Then gem install cocoapod -v=1.01

Sent from my iPhone

[2016-11-01 19:45] guillaumealgis commented on #5589
Thanks for the help @benasher44!

Some tests failed, but I think this is to be expected, and after replacing `iquote` by `isystem` where it's needed, things are starting to look good.
I'm failing to pass the examples though:

[code]

Is this to be expected as I'm running Xcode 8.1? It looks like Travis is still using 7.3.

[2016-11-01 20:31] Mridul56 commented on #4011
is your application accepted by apple? using this trick ?

[2016-11-01 20:35] carrchr commented on #4011
Yes. No App Store submissions issues. And we are using same `post_install` step with CocoaPods 1.x

[2016-11-01 20:42] Mridul56 commented on #4011
@carrchr Thanks for your answer. i have tried the above solution but after doing using the 'post_install' in pod file and installing pod again using 'pod install' one of my pod giving me this error "could not build objective c module Atlas".

To verify this i build my app again after reverting the above changes and using the same app's bundle identifier and codesiging for the pod, then this error

[2016-11-01 22:06] akshay23 opened #6118 "`Embed pod frameworks` took long time to execute"
* [YES ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
Built project via Xcode (for real device)

## What did you expect to happen?
Build process should be quick but the `Embed pod frameworks` step takes about

[2016-11-01 22:47] benasher44 commented on #6118
Hi @akshay23! I recently added #6088 in the latest beta. If you add that flag to your build settings as a user-defined setting or throw it into an xcconfig you might have, that should help speed things up.

[2016-11-01 22:48] benasher44 commented on #6118
Can you give that a try? It's available in the latest 1.2.0 beta, which you can install by doing `gem install cocoapods --pre` or modifying your Gemfile. Thanks!

[2016-11-02 03:35] sunnycn2013 commented on #6115
@benasher44  very very thanks benasher44,！！

What I use is a local private warehouse, I want to do a pod files with a static library, when I was editing podspec files the above mistakes, later found to be set vendored_libraries error(file directory path error).I redefine the local configuration, as follows:
[code]

After all, its OK !!

[2016-11-02 03:37] mcmengchen opened #6119 "subspec depend on each other"
# Report

## What did you do?

I have too subspace, Can I let them depend on each other?

[2016-11-02 03:53] #6119 closed

[2016-11-02 04:51] harlanhaskins opened #6121 "Embed Pod Frameworks fails if the target has spaces in the name"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).
🌈

# Report

## What did you do?

Attempt to build my project after running `pod install`

## What did you expect to happen?

A successful build

## What happened instead?

A cryptic error message, because the frameworks path is n

[2016-11-02 05:43] zarko-via commented on #6107
Having the same issues running pod update.
Uninstalled all versions, install again latest 1.1.1 or 1.0.0 doesn't work too.

Maybe a change in Xcode 8.1 tools?! Seems to fail on Xcode pods project creation.

### Error

[code]

[2016-11-02 05:54] taviscaron commented on #6117
Xcode requires that update starting from 8, not 8.1.
It happens because since Xcode 8 `EMBEDDED_CONTENT_CONTAINS_SWIFT` param is obsolete but still presented in .xcconfig files which are generated by cocoapods.
If you agree with Xcode and update settings - Xcode brakes cocoapods by setting `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` param which is replacement for `EMBEDDED_CONTENT_CONTAINS_SWIFT` but

[2016-11-02 07:01] mubashirhussain commented on #5979
I got this error when installing cocoa-pods, although I already have master repo downloaded using this command,

`git clone https://github.com/CocoaPods/Specs.git master`

**ERROR**
[code]

[2016-11-02 07:35] guoxiaoming-LJ commented on #6107
I'm having the same problem with Xcode 8.0. Downgrade cocoapods to 1.0.0 didn't fix the problem.

<pre>
function abspath() { pushd . > /dev/null; if [ -d "$1" ]; then cd "$1"; dirs -l +0; else cd "`dirname \>) at index 1322818 (got $)
/Library/Ruby/Gems/2.0.0/gems/nanaimo-0.1.2/lib/nanaimo/reader.rb:251:in `raise_parser_error'
/Library/Ruby/Gems/2.0.0/gems/nanaimo-0.1.2/lib/nanaimo/reader.rb:165:i

[2016-11-02 07:42] mengmakies commented on #4293
@DanielLe232 Thank you very much~   It works for me

[2016-11-02 07:51] naiquevin commented on #5801
I am also feeling the need for this functionality - an option to push to trunk without lint. This is because we are trying to automate the step of publishing to cocoapods as part of our CI pipeline. The linting happens in a separate step without which the publish step will not run. So it's guaranteed that at the time of pushing to trunk, `pod spec lint` is successful for the spec file.

@segiddins

[2016-11-02 08:18] crazystudy commented on #5603
Thanks@neonichu

[2016-11-02 08:36] RWOverdijk commented on #6107
@guoxiaoming-LJ 8.0 is borked anyway. You should update to 8.1

[2016-11-02 09:42] leeliangliang opened #6122 "debug frameword is too big"
Used in swift3.0 cocoapod use_frameworks!Generated framework is too big, run to take up more than 1 g mobile phone memory.There is a solution?
Each cocoapod generated within the frameworks of are the same the cocoa framework.
![a0f120e0-99d4-4977-bae9-6359403921ff](https://cloud.githubusercontent.com/assets/12047587/19924026/244e0f66-a125-11e6-990a-4584c197b005.png)

[2016-11-02 10:29] #6122 closed

[2016-11-02 10:30] leeliangliang commented on #6122
config.build_settings['ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES'] = 'NO'

[2016-11-02 10:50] vincedev opened #6123 "No 'Embed Pods frameworks' build phase when building custom framework ?"
* [X] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

I use CocoaPods in a project where we separate core material from app material.
Inside our workspace there are 3 projects (not counting Pods project), one for the core, and 2 others, one for the iOS version and another

[2016-11-02 11:46] dyegos opened #6124 "Nanaimo parse error"
### Command
[code]
### Report
* What did you do?
I'm updating my cocoapods version from 1.0.1 to 1.1.1 and running pod install to try the new integration
* What did you expect to happen?
I expected to be able to run `pod install` and have the pods integrated without problems
* What happened instead?
The command fails the output bellow
* Aditional information:
I tried to deintegrate the pods, but i

[2016-11-02 11:49] mortenbekditlevsen commented on #6116
I believe that I am experiencing another variant of the same issue. Cocoapods removes '\' escapes from my own shell script steps.
Diff after running a 'pod update' (with some noise removed):
-			shellScript = "... Resources/Info\\ plists ...";
+			shellScript = "... Resources/Info\ plists ...";

The issue only occurs when cocoapods has other changes to script phases, so after fixing the issue once

[2016-11-02 11:54] dyegos commented on #6124
Same error is present on 1.2.0.beta.1

[2016-11-02 11:55] rony868 commented on #4293
![capture](https://cloud.githubusercontent.com/assets/16340930/19927790/847a2ca8-a125-11e6-90dd-ffdda803757c.PNG)

[2016-11-02 12:06] dyegos commented on #6124
The same error happens on `1.2.0.beta.1` version:
[code]

[2016-11-02 12:11] dyegos commented on #6124
Here are the project config files previous and after the error
[Nanaimo parse error.zip](https://github.com/CocoaPods/CocoaPods/files/566464/Nanaimo.parse.error.zip)

[2016-11-02 12:13] guoxiaoming-LJ commented on #6107
@RWOverdijk Upgrading to Xcode 8.1 didn't fix that too : (

[2016-11-02 13:13] benasher44 commented on #5979
Ah okay yeah this is going to fail in all kinds of ways with an empty `PATH`. There's some kind of bad character in your `PATH`, and it's going to take some trial and error on your part to figure out which item in your `PATH` is causing the issue. I'm not sure there's more I can do here.

One other thing to be aware of is that at least CocoaPods 1.1.0 (1.1.1 is available now) is required when usin

[2016-11-02 13:14] benasher44 commented on #6115
Okay great! Glad you got it sorted out. Thanks for filing!

[2016-11-02 13:14] #6115 closed

[2016-11-02 13:44] Md-Cake commented on #3402
@kylef thank you :)

[2016-11-02 13:47] benasher44 commented on #6117
This should be fixed in CocoaPods 1.2.0.beta.1. It now only sets this flag to YES when required or doesn't set it at all. In the YES case, you can remove the setting from Xcode to resolve the conflict and remove the `pod install`/`pod update` warning. Can you try with the beta?

[2016-11-02 13:48] mubashirhussain commented on #5979
After you above comment I again checked the `PATH` and it was reverted to old value in which it had this `/sbin??n’export`garbage entry. After that I tried pod install and it worked quietly.

Thanks for all the support guys. 👍

[2016-11-02 13:53] benasher44 commented on #6123
@vincedev can you provide a project that reproduces the issue? I have a general/vague idea of what's going on from your description but having a repro case would be super helpful for debugging and fixing. Thanks!

[2016-11-02 13:55] benasher44 commented on #5979
No prob! You'll have to look in your `.bash_profile` or `.bashrc` to see what's setting up your PATH to have the garbage value and then remove it.

[2016-11-02 13:55] #5979 closed

[2016-11-02 14:50] cesar-oyarzun-m commented on #5846
@filipealva I did try doing `echo 3.0` and I also did the `sudo xcode-select -switch /pathTo/Xcode8.app/` but for some reason when I do `pod lib lint` looks like is still trying to use Xcode 7 and swift 2.0, because I get this error

`- ERROR | xcodebuild:  Socket.IO-Client-Swift/Source/SocketAckManager.swift:38:31: error: unknown attribute 'escaping'`

Do you know other way to force cocoapod to u

[2016-11-02 14:52] vincedev commented on #6123
@benasher44 : Sure, please check out the zip file, which contains a minimal project to reproduce the issue.
[CocoaPodsSample.zip](https://github.com/CocoaPods/CocoaPods/files/566872/CocoaPodsSample.zip)

[2016-11-02 17:03] benasher44 commented on #5846
First, make sure you're doing `sudo xcode-select --switch` (2 hyphens for the `switch` arg). Once that's done, run `xcodebuild -version` to confirm the version you're running. If that's not printing what you expect, then you should go back and try again or try to debug what went wrong.

For `pod lib lint`, you can also specify `--swift-version` if you're worried that the `.swift-version` file isn'

[2016-11-02 18:03] benasher44 commented on #6123
I have a general idea of what's going on here. There are a few frameworks issues that are related to this one. I'm going to try to fix them all at once, but it's going to take some time. In the meantime, you can work around this by making your core project a sub-project in your app project and then adding your core.framework as a dependency in your target dependency build phase. Does that make sen

[2016-11-02 18:12] kkaliher commented on #5995
@vegidio-symbio - I thought that was the case due to this line from output, correlating with exit code 5's on code sign I was getting on other projects.
trap: 5 /usr/bin/codesign --force --sign ${EXPANDED_CODE_SIGN_IDENTITY} ${OTHER_CODE_SIGN_FLAGS} --preserve-metadata=identifier,entitlements "$1"

There may be other reasons for your 133 that 1.1.1 fixed.

For anyone hitting this general exit code

[2016-11-02 18:16] iwasrobbed commented on #4921
Adding a little more color to @orta's comment: https://guides.cocoapods.org/making/private-cocoapods.html

[2016-11-02 18:19] cesar-oyarzun-m commented on #5846
Yeah I did for some reason my pod env was usign Xcode 7 setting to Xcode 8 will work thanks!

[2016-11-02 19:20] jlubeck commented on #1823
This just happened to me as well with cocoapods 1.1.1.
I had to manually remove the linker flags from my target.
I just removed the line from the Pod file and did pod install. Nothing more, nothing less.

[2016-11-02 19:26] ConnorDCrawford commented on #5368
Any updates on this issue? This has been causing me grief for days. All of the posted workarounds cause numerous runtime errors along the lines of
`objc[56634]: Class FIRAAppEnvironmentUtil is implemented in both /Users/user/Library/Developer/CoreSimulator/Devices/14AFCA37-612C-4B1B-B1DC-78741E1A070C/data/Containers/Bundle/Application/0D563A7E-4C45-4E01-858D-A6E2EE7E8E2F/MyApp.app/Frameworks/MyFra

[2016-11-02 22:36] iwasrobbed commented on #3701
For future reference:

1) You can package the static lib in a framework using http://arsenkin.com/ios-universal-framework.html
2) Then distribute it as a pod doing something like: http://stackoverflow.com/a/33357803/308315

[2016-11-03 03:16] DanielLe232 commented on #4293
@rony868
this is an issue network, you could try again
or, use ssh
$ /usr/bin/git clone git@github.com:CocoaPods/Specs.git master

[2016-11-03 04:32] WildDylan commented on #3985
Hi, same issue.  use `use_frameworks!` in your Podfile, do not use `--use-libraries`  when lint.

[2016-11-03 06:50] taviscaron commented on #6117
@benasher44 I confirm, there're no more warnings from Xcode with CocoaPods 1.2.0.beta.1.

[2016-11-03 08:33] yacir commented on #6092
Here is an example :)
[MyProjectCocoaPods.zip](https://github.com/CocoaPods/CocoaPods/files/568445/MyProjectCocoaPods.zip)

Thanks in advance

[2016-11-03 09:00] vincedev commented on #6123
@benasher44 : Thanks for the quick reply.
I gave a try to the workaround, but unfortunately it didn't fix the issue. Dependant frameworks still aren't copied into my core framework structure, and dynamic loader fails to load them at runtime.

What I did to work around this is add a build phase to the core framework build process, by copying the 'Embed Pods Frameworks' from the corresponding test t

[2016-11-03 09:30] hashier commented on #3455
I have the same problem that this build script takes ages for me every time I build/run the project

[2016-11-03 10:00] vegidio-symbio commented on #5995
@kkaliher Ok, thanks for the clarification. Just so you know, the version that was not working before in my Mac was version `1.2.0.beta.1` currently in Beta, so you might be able to check that before the release :)

[2016-11-03 10:11] zvonicek commented on #6118
Hi there, I experience the same problem. The compilation for device always gets stuck for a few minutes on `Running 2 of 3 custom shell scripts` phase (Embed pod frameworks). This problem does not occur when building app for simulator.

This was however not a problem before, it started to appear after upgrade to Xcode 8.1.

[2016-11-03 11:57] kirualex commented on #3455
Same here, it seems to be related to the code-signing of each frameworks. Any ideas?

[2016-11-03 12:10] hilen opened #6125 "subspec in podfile, but load all files"
My myrepo.podspec file is like this:
[code]

My podfile is
[code]

I run the pod install. But it load all the source files. Why?

[2016-11-03 12:57] benasher44 commented on #6117
@davidbjames does 1.2.0.beta.1 fix the issue for you as well?

[2016-11-03 12:59] benasher44 commented on #6123
Did you `pod install` again after you did my suggested workaround? That's important, but I forgot to mention it initially sorry

[2016-11-03 13:02] benasher44 commented on #3455
I added a new env variable you can add to your build settings as a user defined setting or to your xcconfigs to help speed things up here. Checkout the CHANGELOG for 1.2.0.beta.1 for more details.

[2016-11-03 13:04] benasher44 commented on #6118
@zvonicek can you try my suggestion?

[2016-11-03 13:19] zvonicek commented on #6118
@benasher44 I tried that and it's bit faster, but still not as fast as it used to be.

[2016-11-03 13:56] benasher44 commented on #6118
Hm. 3 minutes is quite a long time. My project has a larger Podfile, and this build phase takes ~2.5s for me. Can @akshay23 or @zvonicek share a project that reproduces the issue?

Since I haven't experienced this, there's not all that much I can do to help without some kind of repro project. Someone could also try profiling this build phase. You'd just have to go into the build phase in Xcode and

[2016-11-03 15:16] AJMiller commented on #6118
@benasher44 while I can't personally release the project as a test I'm working on, I can tell you we're experiencing this on three separate machines running Xcode 8.1. All of the time seems to be spent in codesign where the console dumps a ton of these: `CSSM Exception: -2147409622 CSSMERR_TP_NOT_TRUSTED`

[2016-11-03 17:19] beloso commented on #4376
Hi, I did forgot to follow this up.

But at the time I ended up solving this by simply removing the `gnu-sed` package that I had installed with homebrew.

I would appear that `gnu-sed` and macOS' default `sed` are not compatible.

[2016-11-03 17:56] segiddins commented on #6124
Can you `gem install xcodeproj:1.4.1` and try again? Thanks!

[2016-11-03 17:57] segiddins commented on #6116
Since you haven't provided a project, please `gem install xcodeproj:1.4.1` and try again, thanks!

[2016-11-03 17:57] segiddins commented on #6107
This should be fixed in Xcodeproj 1.4.1 and Nanaimo 0.2.1, thanks!

[2016-11-03 17:58] segiddins commented on #6104
Please try again with Xcodeproj 1.4.1

[2016-11-03 18:00] segiddins commented on #6100
This should be fixed with Xcodeproj 1.4.1 and Nanaimo 0.2.1

[2016-11-03 19:00] segiddins commented on #6114
This should be fixed with Xcodeproj 1.4.1

[2016-11-03 19:00] segiddins commented on #6108
This should be fixed in Nanaimo 0.2.1

[2016-11-03 19:57] rocco commented on #6104
@segiddins works for me now using 1.4.1 with a Cordova project based on [cordova-ios](https://github.com/apache/cordova-ios) 4.3.0 - thanks!

[2016-11-03 19:59] dyegos commented on #6124
Okay, I'll try it tomorrow

[2016-11-03 23:14] keepingitneil opened #6127 "multiple build configurations -- no such file or directory"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

Multiple Xcode schemes. Each scheme uses a different build configuration. One scheme works, one fails with the following error:

[code]

I explored further and noticed that the successful scheme bui

[2016-11-04 01:18] aqutam opened #6129 "Nanaimo::Reader::ParseError - [!] Dictionary missing ';' after key-value pair for "shellScript", found "$""
### Command

[code]

### Report

* What did you do?
Since I could not Pod install, I did the following.

[code]

* What did you expect to happen?
I will expect to be able to have pod install.
* What happened instead?
Failed to pod install.

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2016-11-04 03:58] GE-N commented on #6124
@segiddins I have the same problem with him and tried install `xcodeproj 1.4.1`. It's work :)

[2016-11-04 06:06] hilen commented on #6125
It's okay, I found the problem is that other podspec dependent on the `myrepo `.

[2016-11-04 06:06] #6125 closed

[2016-11-04 06:49] boilWater commented on #5059
I have the same problems with you @jacobbullock  , do you have solved your issues.
can you share your solution?

my problem is:

SLAliyunOSSManagerKit (1.0.0)
    - ERROR | [iOS] unknown: Encountered an unknown error (Unable to find a specification for `SLNetworkingProtocol~> 0.0.2` depended upon by `SLAliyunOSSManagerKit`) during validation.

[2016-11-04 07:47] vincedev commented on #6123
@benasher44 : Yes I did.

[2016-11-04 07:54] smolskyaleksey opened #6130 "Import conflict issue"
Hello, I have conflict issue when I try to add 2 pods to my project. Issue is "Expected function body after function declarator". http://prntscr.com/d2ksx7 . I attached demo project to show issue. Could you help me to find right way to resolve it?  Need to make pod install before run project.
Environment: Xcode 8.1, Cocoapods 1.1.1
[PJTEST.zip](https://github.com/CocoaPods/CocoaPods/files/570856/P

[2016-11-04 08:37] nicolasbraun commented on #6100
Hi,

Not sure I understand all the dependancies here :) Does this mean this is not CP related ?

Thanks

Nicolas

[2016-11-04 10:23] piercifani commented on #6123
Confirming that @vincedev's workaround works, but it's only temporary, because you end up with [nested frameworks](https://i.imgur.com/c1nHCQM.png) so this shouldn't be a valid binary to submit to the AppStore.

On the [Cocoapods 1.1.0 Release Notes](http://blog.cocoapods.org/CocoaPods-1.1.0/) it specifies that framework targets are supported, but no sample Podfile or `xcodeproj` are posted to hel

[2016-11-04 10:53] beloso commented on #6104
@segiddins `pod install`/`pod update` does complete without an issue

But I am getting the following error in xcode now:
`/Users/tveloso/Developer/redacted/Pods/Pods.xcodeproj Couldn't load project`

[2016-11-04 11:06] nicolasbraun commented on #6100
Just ran some test, everything seems ok now.
Thanks for your support.

Nicolas

[2016-11-04 11:06] #6100 closed

[2016-11-04 11:39] filipealva commented on #5846
@cesar-oyarzun-m the xcode-select --switch command was missing one hyphen, I just fixed it, sorry.

Following the @benasher44 tips everything should work fine.

[2016-11-04 12:16] atsakiridis opened #6131 "Headers for depended-on pod not found when linting my pod"
# Report

## What did you do?

$ pod lib lint

## What did you expect to happen?

Pass the checks without issues

## What happened instead?

I got an error because a header file from another depended-on pod is not found

## CocoaPods Environment

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

## Project that demonstrates the issue

I can't share on the central Cocoapods r

[2016-11-04 12:18] dyegos commented on #6124
@segiddins I worked like a charm. Thank you :)

[2016-11-04 12:50] tcurdt opened #6132 "user install fails"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

`gem install cocoapods --user-install`

## What did you expect to happen?

It should just install.

## What happened instead?

When installing cocoapods I am getting the following error:

[code]

##

[2016-11-04 12:55] tcurdt commented on #6132
Hm. Seems like `sudo gem uninstall cocoapods` and `gem install cocoapods` did the trick.

[2016-11-04 12:58] segiddins commented on #6104
Can you please share the project Xcode can't open?

[2016-11-04 12:58] #6124 closed

[2016-11-04 14:16] graph commented on #6116
xcodeproj 1.4.1 does indeed fix this issue. Thank you.

[2016-11-04 14:59] zarko-via commented on #6107
@segiddins thanks, upgrading xcodeproj to 1.4.1 (sudo gem install xcodeproj), did the trick.

[2016-11-04 15:00] #6116 closed

[2016-11-04 15:02] #6107 closed

[2016-11-04 15:09] segiddins commented on #6129
`gem install nanaimo:0.2.2` should fix things!

[2016-11-04 15:46] jacobbullock commented on #5059
@boilWater I wasn't able to get this resolved.  I ended up using git submodules.  As mentioned above they closed this bug so they could have a clean slate with their 1.0 release and I didn't have time to debug it anymore, so there was never any resolution to the actual problem.

[2016-11-04 16:04] nicolasgoutaland commented on #6118
@benasher44 I did encounter the same problem, and did install cocoapods 1.2 --pre. This seems to speed up the process for the Embed pod frameworks phase.
But, archiving / exporting an application take a hug amount of time, because each framework is codesigned (About 30minutes to export my application now).

Is there a configuration to set to speed up this process ? If there a way to generate only

[2016-11-04 18:13] gateway opened #6133 "Target overrides the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` 1.2.0 Beta 1 issue"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?
Getting an error when doing pod install after switching to Xcode 8.1 and converting to Swift 3.
[code]

[code]

Pod File

[code]

![image](https://cloud.githubusercontent.com/assets/519563/20017176/b

[2016-11-04 18:13] skalyanmoguloju opened #6134 "Search for existing GitHub issues similar to yours: https://github.com/CocoaPods/CocoaPods/search?q=undefined+method+%60files%27+for+%3CPBXFileReference+path%3D%60Pods%60+UUID%3D%6032D38A951DCD04DA003D8317%60%3E%3AXcodeproj%3A%3AProject%3A%3AObject%3A%3APBXFileReference&type=Issues"
* [ ] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

ℹ Please replace this with what you did.
e.g. Run `pod install`

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.
e.g. Install all pod dependencies correctl

[2016-11-04 18:15] skalyanmoguloju commented on #6134
Hello,

I tried installing SWIFYJson and it is showing out errors

[2016-11-04 18:35] jeremypiednoel commented on #6118
I have the same issue than @nicolasgoutaland

[2016-11-04 19:36] b-ray commented on #6130
Try removing the `ALWAYS_SEARCH_USER_PATHS` xcconfig setting from the three local podspecs to fix the `"Expected function body after function declarator"` error.
However, I experienced a second error when building the project, which is caused by having two c++ header files in the project with the same name.
To fix this, I'd suggest disabling the `headermap` for the `Realm` pod for now. To do that,

[2016-11-04 19:53] b-ray commented on #6131
`pod lib lint` will lint your pod using dynamic frameworks by default. The same pod lints successful for me using static libraries: `pod lib lint --use-libraries --allow-warnings`.
There is no error in your sample project because you didn't use dynamic frameworks (by adding `use_frameworks!` in the Podfile) in there.

[2016-11-04 21:01] patrickroteman commented on #4921
@orta  How does using the pod repo push command work with an example project using the pod that is using relative file paths?

[2016-11-04 23:15] DanToml commented on #6134
Please can you file a new issue, making sure to fill in the Issue Template?

[2016-11-04 23:15] #6134 closed

[2016-11-05 00:08] simonbengtsson commented on #4858
Also having the same issue with Firebase: `Missing required module Firebase`. When I added `$(SRCROOT)/Pods` to the Header Search Path as proposed above I got a bunch of errors like `Could not build Objective-C module Realm`. Same error for the Facebook SDK.

When adding `$(SRCROOT)/Pods/Firebase` (recursive) instead it worked however.

[2016-11-05 08:31] vishal91 opened #6135 "Not able to install pod on Xcode 7.3.1"
# Report

## What did you do?
 Run `pod install`
on Mac Siera for Xcode 7.3.1 , Swift 2.2

## What did you expect to happen?
Install all pod dependencies correctly.
It was working fine till yesterday.
## What happened instead?

[code]

## CocoaPods Environment

### Stack

[code]

### Installation Source

[code]

### Plugins

[code]

### Podfile

[code]

[2016-11-05 10:03] orta commented on #6135
The source code for your post install hook is crashing, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature

[2016-11-05 10:03] #6135 closed

[2016-11-05 11:28] fabiomassimo commented on #3877
@rchatham I think I have the same issue , I'm trying to install a pod directly from its git url and specific branch but I get back

`[!] Unable to find a specification for 'MyPod'`.

If I try to install the same pod without specifying any option everything works as expected.
I'm using CocoaPods v1.1.1.

Below there is an small edited version of the stacktrace I got:

[code]

Is it something else I

[2016-11-05 11:43] orta commented on #3877
Did you try running the git commands it outputted, and going into the folder to verify that the Podspec is not there?

[2016-11-05 11:44] fabiomassimo commented on #3877
@orta yes I tried and the Podspec is actually there. Also double checked any capitalisation issue in the name.

[2016-11-05 11:50] fabiomassimo commented on #3877
Quick update:
By following all the steps from the stacktrace I published, I have just found out that while the Podspec is available at the command:

[code]

It actually disappears when this commands is executed:

[code]

I'm not sure how it determines to checkout `3123a22aa417f89f066a7869a45ca58179fae0a2`, any idea?

[2016-11-05 11:50] migfabio commented on #6117
@benasher44 I'm still having the warnings with 1.2.0.beta.1

[2016-11-05 11:56] migfabio commented on #6133
same issues 👍

[2016-11-05 14:38] patreu22 opened #6136 "Can't update Podfile (Undefined method real_path)"
Hello, I made the mistake to update to Cocoapods 1.1.1 while using XCode 8.
After recognizing my mistake I tried to go back to 1.1.0 but I can't stop pods giving me this command line output:

### Command

[code]

### Report

* What did you do?
Tried to update my Podfile

* What did you expect to happen?
An update

* What happened instead?
The following errors

### Stack

[code]

### Plugins

[code

[2016-11-05 14:41] hareshghatala commented on #4293
@segiddins
I have tried all above mentioned solution but found no luck.

and still it shows error as below

You can try adding it manually in `~/.cocoapods/repos` or via `pod repo add`.

and after trying your another solutions
it still showing error like

$ git clone https://github.com/CocoaPods/Specs.git master
Cloning into 'master'...
**fatal:** unable to access 'https://github.com/CocoaPods/Spe

[2016-11-05 14:44] patreu22 commented on #6136
After reading issue #6129 I updated Nanaimo.
Now I get the following error:

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

[2016-11-05 16:27] beloso commented on #6104
Can I email it to you?

[2016-11-05 16:48] segiddins commented on #6104
It's preferred to post it publicly so anyone can try to investigate the issue

[2016-11-05 20:04] igorkotkovets opened #6137 "integrating libraries for macOS project gets the error at app running: dyld: Library not loaded... Reason: image not found"
I checked on stable version CocoaPods 1.1.1, and on beta: 1.2.0.beta.1

I created console application in Xcode and want to add Swinject library.
I run 'pod install', when open .xcworkspace project and tried to run my app. The app starts and immediately crashing with error.

[code]

I expect that app should running without crash

### Stack

[code]

### Installation Source

[code]

### Plugins

[cod

[2016-11-06 00:12] blackm00n commented on #5768
Still having the issue with 1.1.1, using Fabric pod in main app target and framework

[2016-11-06 06:29] iamcam opened #6138 "Swift Cocoapod can't import Firebase pod dependencies"
* [x] I've read and understood the [*CONTRIBUTING guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

## What did you do?

* Created a fresh Cocoapod using `pod lib create MyPod`
  * Swift
  * No test helpers
  * Demo App
  * No UI tests
* Added `s.dependency 'Firebase'`
* ran `pod install` on the demo app
* imported Fi

[2016-11-06 14:50] patreu22 commented on #6136
I started to reset everything, now I'm getting again the first error throw and can't fix it by updating nanaimo.

I also found out that it targets every command I try, doesn't matter if it's `pod update`, `pod install` or `pod deintegrate`

[2016-11-06 15:55] jedi4ever commented on #4771
Not sure if this by design or not: but is it not logical that `pod install` never updates the `Podfile.lock` if it already exists? We have a similar Podfile.lock change dance when all developers are not on the same version of the `cocoapods` gem.

[2016-11-06 18:22] segiddins commented on #6136
Please share the project that you're trying to integrate into so the team can investigate. Thanks!

[2016-11-07 03:19] vistatinchao commented on #3736
when i run pod setup
i found some error that
 [!] /usr/bin/git clone https://github.com/CocoaPods/Specs.git master

Cloning into 'master'...
error: RPC failed; curl 56 SSLRead() return error -36
fatal: The remote end hung up unexpectedly
fatal: early EOF
fatal: index-pack failed

how to solve
waiting..........

[2016-11-07 05:13] iamcam commented on #6065
I've noticed this issue as well (also with Firebase), though I couldn't pinpoint when it happened. I've spend some considerable time banging my head against the desk trying to figure this out (probably looking at this too long now), so I'm eager to get this cleared up.

I'll add one more data point: I'm trying to use most of Firebase from within an embedded iOS framework. Much of the same issues a

[2016-11-07 05:56] boilWater commented on #5059
I have solved the problem, the solution is that: pod repo push "Specrepo" "SLAliyunOSSManagerKit.podspec" --sources=http://gitlab.poco.cn/SLLibrarySpecrepos/Specrepo.git,https://github.com/CocoaPods/Specs.git --use-libraries
--source=="private my Sperepo in gitlab","public Specs.git in github"

[2016-11-07 08:37] diejmon commented on #4439
Here is the [plugin](https://github.com/jedlewison/cocoapods-wholemodule) created by Jed Lewison.

[2016-11-07 09:53] atsakiridis commented on #6131
Thanks a lot @b-ray, indeed with those options the linting passes fine, but more importantly with the same options I'm finally able to push my pod in the central repository: `$ pod trunk push --use-libraries --allow-warnings`, which was my ultimate goal ;)

The question now is, is there a way to make this work even when the Podfile using the pod uses `use_frameworks!`? I'm trying to make sure that

[2016-11-07 10:12] dharaahujaazilen commented on #4293
For me it worked by changing in Xcode> Preferences > Locations > command line tools > Xcode 8

[2016-11-07 10:22] hareshghatala commented on #4293
@dharaahujaazilen
I have already tried it; But still no luck.

[2016-11-07 12:41] CodeLife2012 commented on #2926
Any update to this?

[2016-11-07 13:13] CodeLife2012 commented on #2926
Or dynamic generate a intermediate framework from the static lib, then referenced by other lib or framework.

[2016-11-07 15:28] patreu22 commented on #6136
I'm sorry but due to my company's restrictions I can't share the code with you guys :/

[2016-11-07 16:01] segiddins commented on #6136
Unless you can create another project that reproduces the issue, I'm afraid there's no way for us to look into it.

[2016-11-07 16:47] dtrenz commented on #5334
None of these workarounds work for me. 😞

[2016-11-07 17:00] fitch commented on #6117
I'm also getting this warning with 1.2.0.beta.1 just as @migfabio mentioned.

[2016-11-07 18:59] iljaiwas commented on #5278
Run into the same issue. Solved by running this command on macOS 10.11:

    sudo gem update -n /usr/local/bin –system

[2016-11-07 19:00] iljaiwas commented on #5450
Run into the same issue. Solved by running this command on macOS 10.11:

    sudo gem update -n /usr/local/bin –system

[2016-11-07 19:01] iljaiwas commented on #5964
Run into the same issue. Solved by running this command on macOS 10.11:

    sudo gem update -n /usr/local/bin –system

[2016-11-07 20:47] benasher44 commented on #6133
@gateway can you post a screenshot of the "Levels" view of that build setting? Right now, we're seeing the "Levels" view.

[2016-11-07 20:48] benasher44 commented on #6117
@migfabio @fitch can you all be specific about which warnings you're seeing and on which projects or from what `pod` commands? There is a lot of "warning" discussing in this thread, which makes it hard to help. Thanks!

[2016-11-07 20:51] benasher44 commented on #6133
@gateway also if the target that's blurred in the screenshot where the setting is `No` is using any of those pods in your Podfile that use Swift, then that setting will need to be `Yes` (unless that target is an app extension). In that case, you should remove this setting there so that CocoaPod's can take precedence, since CocoaPods should be setting it properly. You can do this by highlighting th

[2016-11-07 21:00] benasher44 commented on #6138
It looks like the Firebase pod does have a module map in it, but the podspec for Firebase isn't properly setup to use the module map using the podspec dsl here: https://guides.cocoapods.org/syntax/podspec.html#module_map.

Until the module map is properly setup for Firebase, you won't be able to have statements like `import Firebase`. Please contact the pod author (appears to be Google) to have th

[2016-11-07 21:00] #6138 closed

[2016-11-07 21:02] benasher44 commented on #6132
Glad you got it resolved. Going to close, since this appears to have been an issue specific to your shell environment. Thanks!

[2016-11-07 21:02] #6132 closed

[2016-11-07 21:05] benasher44 commented on #6127
Ah. Looks like this is a dup of #6121. There's a fix for this in progress. Thanks for filing!

[2016-11-07 21:05] #6127 closed

[2016-11-07 21:07] benasher44 commented on #6053
Just a heads up that this is happening soon!

http://blog.cocoapods.org/Sharding/

Cheers!

[2016-11-07 21:21] gateway commented on #6133
@benasher44 Hmm, our xcode project is in conversion to swift 3 hell right now so I cant do any testing with the pods.  We are not setting legacy to Yes since we wont be using 2.3.  I'm not sure on that last bit what you meant on the last part.. you want me to remove that out of xcode? Guess I need a bit more info on that.

Here is levels screen shot

![image](https://cloud.githubusercontent.com/as

[2016-11-07 21:29] benasher44 commented on #6133
Oh sorry I was referring to the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` and not the legacy swift version flag. Still staring at this and thinking

[2016-11-07 21:31] benasher44 commented on #6133
Hmm. I don't see any issue here. This might be something that's transient and only happens once while your project file transitions to using this new flag from old one. Can you try running `pod install` again to see if you still get this message?

[2016-11-07 22:18] benasher44 commented on #6118
@nicolasgoutaland so it sounds like time to `codesign` a binary has increased dramatically in Xcode 8.1 or there's an issue with your (or others) environments that's causing `codesign` to take up more time. I'm not sure why this is, but filing a radar/bugreport for Apple would be useful to make sure Apple understands that this is a relevant/new issue.

CocoaPods doesn't support generating a single

[2016-11-07 23:23] sleith opened #6139 "ld: library not found for -lPods"
Hi,
i'm using xcode 8 and pod version 1.1.1
I tried build a project but got library not found for -lPods (even though i can see at products folder the libPods-Appname.a file).

I tried on other project i have works fine. I noticed the icon for products file are different. Please refer to this screenshot:
![screen shot 2016-11-08 at 6 17 55 am](https://cloud.githubusercontent.com/assets/90533/20080